Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2021-12, with the labels that each got.

#528 Add WIP progress message to README.md
  README.md
Labels: documentation

#499 Proposal: add `Coordinates` class
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/error.py
  tests/bluemira/geometry/test_coordinates.py
Labels: geometry, usability

#521 Add TF coils to EU-DEMO build
  bluemira/base/builder.py
  bluemira/base/components.py
  bluemira/base/config.py
  bluemira/base/config_schema.py
  bluemira/base/design.py
  bluemira/base/look_and_feel.py
  bluemira/base/parameter.py
  bluemira/builders/EUDEMO/plasma.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/builders/EUDEMO/tools.py
  bluemira/builders/shapes.py
  bluemira/builders/tf_coils.py
  bluemira/display/displayer.py
  bluemira/geometry/face.py
  bluemira/geometry/tools.py
  bluemira/utilities/plot_tools.py
  data/reactors/EU-DEMO/equilibria/EU-DEMO_eqref.json
  data/reactors/EU-DEMO/systems_code/mockPROCESS.json
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  examples/design/EU-DEMO/build_config.json
  examples/design/EU-DEMO/params.json
  examples/design/EU-DEMO/template.json
  tests/BLUEPRINT/cli/test_indir/SMOKE-TEST_template.json
  tests/bluemira/builders/EUDEMO/build_config.json
  tests/bluemira/builders/EUDEMO/params.json
  tests/bluemira/builders/EUDEMO/template.json
  tests/bluemira/builders/EUDEMO/test_reactor.py
  tests/bluemira/test_data/reactors/SMOKE-TEST-EU-DEMO/equilibria/SMOKE-TEST-EU-DEMO_eqref.json
  tests/bluemira/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Labels: geometry, EU-DEMO, tf_coil

#561 Fix intermittent failures in `test_shapes.py`
  tests/bluemira/builders/test_shapes.py
Labels: bug, optimisation, tests

#548 📝 codes documentation
  documentation/source/codes.rst
  documentation/source/codes/codes.rst
  documentation/source/modules.rst
Labels: documentation, codes
