Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-12, with the labels that each got.

#1688 Add SafetyProfileModel to PLASMOD api
  bluemira/codes/plasmod/api/_inputs.py
  bluemira/codes/plasmod/mapping.py
Labels: plasma, codes

#1689 Add missing 2pi factor in FEM fixed boundary equilibrium solver
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
Labels: equilibria

#1700 📝 Logging documentation
  documentation/source/developer/EU-DEMO_params.rst
  documentation/source/developer/faq.rst
  documentation/source/developer/logging.rst
  documentation/source/developer/parameterisations.rst
  documentation/source/developer/release_workflow.rst
  documentation/source/developer/ssh.rst
  documentation/source/index.rst
Labels: documentation

#1698 🐛 set html title without git hash
  documentation/source/conf.py
Labels: documentation

#1705 Remove EUDEMO parameterisation documentation
  documentation/source/developer/EU-DEMO_params.rst
  documentation/source/developer/parameterisations.rst
  documentation/source/index.rst
Labels: documentation, EU-DEMO

#1712 Add missing ComponentManagers
  eudemo/eudemo/blanket.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils.py
  eudemo/eudemo/thermal_shield.py
  eudemo/eudemo/vacuum_vessel.py
  eudemo/eudemo_tests/test_blanket.py
  eudemo/eudemo_tests/test_tf_coils.py
  eudemo/eudemo_tests/test_vacuum_vessel.py
Labels: EU-DEMO

#1707 🐛 fix indexing bug in inscribed_rect test
  bluemira/geometry/coordinates.py
  tests/geometry/test_inscribed_rect.py
Labels: tests

#1702 Update roadmap image
  README.md
  documentation/source/bluemira-roadmap.png
  documentation/source/bluemira-roadmap.svg
  documentation/source/introduction.rst
Labels: documentation, bluemira_strategy

#1713 Add reactivity calculation for common fusion reactions
  bluemira/plasma_physics/reactions.py
  examples/plasma_physics/fusion_reactions.ipynb
  examples/plasma_physics/fusion_reactions.py
  tests/plasma_physics/test_data/reactivity_Bosch_Hale_1993.json
  tests/plasma_physics/test_reactions.py
Labels: plasma

#1740 Fix a couple of plotting bugs in equilibria
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plotting.py
Labels: bug, equilibria

#1678 🎨 Install script improvements
  conda/mambaforge-init.sh
  conda/miniforge-init.sh
  documentation/source/installation.rst
  scripts/install-conda.sh
Labels: installation, quality

#708 ✨ Coils Refactor
  bluemira/equilibria/coils.py
  bluemira/equilibria/coils/__init__.py
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/num_control.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/positioner.py
  bluemira/equilibria/run.py
  bluemira/magnetostatics/semianalytic_2d.py
  bluemira/utilities/tools.py
  eudemo/eudemo/pf_coils/tools.py
  eudemo/eudemo_tests/pf_coils/test_tools.py
  examples/equilibria/eudemo_2017.ipynb
  examples/equilibria/eudemo_2017.py
  examples/equilibria/single_null.ipynb
  examples/equilibria/single_null.py
  tests/equilibria/setup_methods.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_force_field.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_positioner.py
  tests/equilibria/test_st_equilibrium.py
  tests/utilities/test_tools.py
Labels: equilibria

#1196 ADR for caching
  documentation/developer/adr/0005-record-cache-vs-recreate.md
Labels: bluemira_strategy

#1287 TF coil parameterisation documentation
  bluemira/geometry/parameterisations.py
  documentation/source/conf.py
  documentation/source/geometry/geometry.rst
  documentation/source/geometry/images/transitioning_curve.PNG
  documentation/source/geometry/overview.rst
  documentation/source/geometry/parameterisation.rst
  documentation/source/geometry/semi_circle_chord.py
Labels: documentation

#1748 Run examples in CI
  .github/workflows/examples.yml
  scripts/run_examples.py
Labels: examples, continuous_integration

#1711 🎨 set not found PROCESS outputs to NaN instead of 0
  bluemira/codes/interface.py
  bluemira/codes/plasmod/api/_solver.py
  bluemira/codes/plasmod/api/_teardown.py
  bluemira/codes/plasmod/params.py
  bluemira/codes/process/_teardown.py
  bluemira/codes/process/api.py
  bluemira/codes/process/params.py
  bluemira/codes/utilities.py
  tests/codes/plasmod/data/mockPLASMOD.json
  tests/codes/plasmod/test_solver.py
  tests/codes/process/test_teardown.py
  tests/codes/process/utilities.py
Labels: codes

#701 Install dependencies from source
  .dockerignore
  bluemira/base/parameter_frame/_parameter.py
  docker/docker-compose.yml
  docker/env.Dockerfile
  pyproject.toml
  requirements.txt
  scripts/coin/build-coin.sh
  scripts/coin/install-coin-deps.sh
  scripts/coin/install-coin.sh
  scripts/fenics/install-fenics-deps.sh
  scripts/fenics/install-fenics.sh
  scripts/fenicsx/install-fenicsx-deps.sh
  scripts/fenicsx/install-fenicsx.sh
  scripts/freecad/install-freecad.sh
  scripts/freecad/step1/clone-freecad.sh
  scripts/freecad/step1/install-freecad-deps.sh
  scripts/h5py/install-h5py.sh
  scripts/pivy/step1/clone_pivy.sh
  scripts/pivy/step1/install-pivy-deps.sh
  scripts/pivy/step2/install-pivy.sh
  scripts/pyside2/clone-pyside2.sh
  scripts/pyside2/install-pyside2.sh
  scripts/qt5/step1/build-qt5.sh
  scripts/qt5/step1/install-qt5-deps.sh
  scripts/qt5/step2/build-qt5-2.sh
  scripts/qt5/step2/install-qt5.sh
  tests/geometry/test_tools.py
Labels: repository management
