Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-06, with the labels that each got.

#1027 Feature Branch: Equilibria refactor of constraints and iterators and `Equilibrium`
  .flake8
  bluemira/builders/EUDEMO/equilibria.py
  bluemira/builders/EUDEMO/plasma.py
  bluemira/builders/thermal_shield.py
  bluemira/equilibria/__init__.py
  bluemira/equilibria/_deprecated_run.py
  bluemira/equilibria/eq_constraints.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/force_field.py
  bluemira/equilibria/opt_constraint_funcs.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  bluemira/utilities/opt_problems.py
  documentation/source/equilibria/doc_magnetic_constraints.py
  documentation/source/equilibria/doc_parametric_constraints.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  examples/equilibria/coilset_opt_problem_tutorial.ipynb
  examples/equilibria/coilset_opt_problem_tutorial.py
  examples/equilibria/double_null_ST.py
  examples/equilibria/eudemo_2017.ipynb
  examples/equilibria/eudemo_2017.py
  examples/equilibria/single_null.ipynb
  examples/equilibria/single_null.py
  tests/builders/EUDEMO/template.json
  tests/builders/EUDEMO/test_reactor.py
  tests/equilibria/test_constraints.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_force_field.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_st_equilibrium.py
Labels: equilibria, optimisation, quality

#1125 Fixes balance_of_plant numpy warning
  bluemira/balance_of_plant/steady_state.py
Labels: bug, balance of plant

#707 Hook up steady-state `BalanceOfPlant` to `EUDEMO/reactor.py`
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/config.py
  bluemira/base/config_schema.py
  bluemira/builders/EUDEMO/power_cycle.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/codes/process/mapping.py
  data/reactors/Coil_Structures_Example/systems_code/mockPROCESS.json
  examples/balance_of_plant/steady_state_example.ipynb
  examples/balance_of_plant/steady_state_example.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  tests/builders/EUDEMO/template.json
  tests/codes/process/test_data/mockPROCESS.json
  tests/test_data/reactors/BLUEPRINT-INTEGRATION-TEST/systems_code/mockPROCESS.json
Labels: EU-DEMO, balance of plant

#1147 Add proposal for ADR document templates
  documentation/developer/adr/0001-record-architecture-decisions.md
Labels: documentation

#1079 Increase robustness of EU-DEMO build and fix closure problem
  bluemira/builders/EUDEMO/_varied_offset.py
  bluemira/builders/EUDEMO/vacuum_vessel.py
  bluemira/builders/thermal_shield.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Labels: bug, geometry, EU-DEMO

#1179 Refactor `PlasmaCoil` for speed and logic
  bluemira/equilibria/coils.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/plotting.py
  examples/radiation_transport/heat_flux_calculation.py
  examples/radiation_transport/heat_flux_calculation_DN.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_plasma.py
Labels: equilibria, quality
