Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-11, with the labels that each got.

#1455 Improve psi axis finding in fixed boundary equilibrium
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
Labels: equilibria

#1566 ⬆️ update actions/cache to v3
  .github/workflows/ci.yml
Labels: dependencies, github_actions

#1400 🐛 fix enum specified inner and remove limitations
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Labels: bug, geometry

#1625 Remove SolverABC
  bluemira/base/solver.py
  bluemira/codes/interface.py
  bluemira/codes/plasmod/api/_solver.py
  bluemira/codes/process/_solver.py
  bluemira/equilibria/fem_fixed_boundary/equilibrium.py
  documentation/source/codes/codes.rst
  examples/base/solver_tutorial.ipynb
  examples/base/solver_tutorial.py
  examples/design/EU-DEMO/EUDEMO_builders/power_cycle.py
  tests/codes/test_interface.py
Labels: base

#1643 ✨ Add show_faces to geometry plotting tutorial
  examples/geometry/plotting_tutorial.ipynb
  examples/geometry/plotting_tutorial.py
Labels: examples, geometry

#1651 Fix occasional optimiser test failure
  tests/utilities/test_optimiser.py
Labels: bug, utilities, optimisation

#1659 Replace matplotlib private `QuadContourGenerator` with contourpy
  bluemira/equilibria/find.py
  pyproject.toml
  requirements.txt
Labels: equilibria, dependencies

#1676 Fix Ip scaling in fixed boundary equilibrium solver
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
Labels: bug, equilibria

#1439 Proposal: Important tweaks to terms of use
  README.md
Labels: bluemira_strategy

#1681 Add `PsepB_qAR_max` to PROCESS and PLASMOD apis
  bluemira/codes/plasmod/mapping.py
  bluemira/codes/plasmod/params.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  tests/codes/plasmod/data/params.json
  tests/codes/process/test_data/params.json
Labels: EU-DEMO, codes
