Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-01, with the labels that each got.

#477 Add wire plane intersect
  bluemira/codes/_freecadapi.py
  bluemira/geometry/plane.py
  bluemira/geometry/tools.py
  tests/BLUEPRINT/cli/test_indir/SMOKE-TEST_template.json
  tests/bluemira/codes/test_freecadapi.py
  tests/bluemira/geometry/test_plane.py
  tests/bluemira/geometry/test_tools.py
Labels: geometry

#574 Replace plasma test in `test_reactor.py`
  tests/bluemira/builders/EUDEMO/test_reactor.py
Labels: tests

#543 Implement Coordinates interface
  BLUEPRINT/geometry/geombase.py
  BLUEPRINT/geometry/geomtools.py
  BLUEPRINT/utilities/plottools.py
  bluemira/builders/EUDEMO/plasma.py
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/builders/tf_coils.py
  bluemira/display/plotter.py
  bluemira/equilibria/find.py
  bluemira/equilibria/grid.py
  bluemira/geometry/_deprecated_boolean.py
  bluemira/geometry/_deprecated_loop.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/tools.py
  examples/design/EU-DEMO/template.json
  tests/BLUEPRINT/cli/test_indir/SMOKE-TEST_template.json
  tests/bluemira/builders/test_shapes.py
  tests/bluemira/geometry/test_coordinates.py
  tests/bluemira/geometry/test_deprecated_tools.py
  tests/bluemira/geometry/test_geometry.py
  tests/bluemira/geometry/test_parameterisations.py
Labels: geometry, usability

#575 hide Coordinates CCW test cos its temperamental..
  bluemira/geometry/coordinates.py
  tests/bluemira/geometry/test_coordinates.py
Labels: bug, tests

#573 Re-jig documentation structure and add an introduction section
  documentation/source/base/base.rst
  documentation/source/base/components.rst
  documentation/source/conventions.rst
  documentation/source/index.rst
  documentation/source/installation.rst
  documentation/source/introduction.rst
  documentation/source/modules.rst
  documentation/source/parameterisations.rst
  documentation/source/ssh.rst
  documentation/source/started.rst
Labels: documentation

#577 Add EUDEMO TF coils x-z plotting and improve CAD
  bluemira/builders/EUDEMO/tf_coils.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
Labels: EU-DEMO, tf_coil

#580 Parameterisation spelling fix and misc typos
  bluemira/materials/material.py
  documentation/BLUEPRINT/source/divertor_shaping.rst
  documentation/BLUEPRINT/source/firstwall_shaping.rst
  documentation/source/index.rst
  examples/geometry/plotting_tutorial.ipynb
  examples/geometry/plotting_tutorial.py
Labels: quality

#598 Re-implement neater spatial interpolators and position mapper
  bluemira/utilities/error.py
  bluemira/utilities/positioning.py
  tests/bluemira/utilities/test_positioning.py
Labels: utilities, geometry

#606 Add track tool for PF coil positioning
  bluemira/builders/EUDEMO/pf_coils.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/utilities/positioning.py
  tests/bluemira/builders/EUDEMO/test_pf_coils.py
  tests/bluemira/geometry/test_tools.py
Labels: geometry, EU-DEMO, pf_coil

#609 Fix a bunch of warnings across the codebase
  BLUEPRINT/beams/model.py
  BLUEPRINT/beams/node.py
  BLUEPRINT/cad/cadtools.py
  BLUEPRINT/nova/firstwall.py
  BLUEPRINT/utilities/plottools.py
  bluemira/base/constants.py
  bluemira/codes/plasmod/api.py
  bluemira/equilibria/coils.py
  bluemira/equilibria/optimiser.py
  bluemira/fuel_cycle/tools.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/magnetostatics/circular_arc.py
  tests/BLUEPRINT/cli/test_indir/SMOKE-TEST_template.json
  tests/bluemira/geometry/test_deprecated_tools.py
  tests/bluemira/magnetostatics/test_semianalytic_2d.py
Labels: quality

#614 Removing the seconf `make_2d_profie` call
  BLUEPRINT/systems/firstwall.py
Labels: bug, STEP, first wall

#613 Add PROCESS build dependencies to installation guide
  documentation/source/installation.rst
Labels: documentation

#626 Remove the BLUEPRINT beams module
  BLUEPRINT/beams/__init__.py
  BLUEPRINT/beams/constants.py
  BLUEPRINT/beams/crosssection.py
  BLUEPRINT/beams/element.py
  BLUEPRINT/beams/geometry.py
  BLUEPRINT/beams/loads.py
  BLUEPRINT/beams/material.py
  BLUEPRINT/beams/matrixops.py
  BLUEPRINT/beams/model.py
  BLUEPRINT/beams/node.py
  BLUEPRINT/beams/plotting.py
  BLUEPRINT/beams/result.py
  BLUEPRINT/beams/stress.py
  BLUEPRINT/beams/symmetry.py
  BLUEPRINT/beams/transformation.py
  BLUEPRINT/nova/optimiser.py
  BLUEPRINT/nova/structuralsolver.py
  BLUEPRINT/reactor.py
  documentation/BLUEPRINT/source/BLUEPRINT_documentation.rst
  documentation/BLUEPRINT/source/beams.rst
  documentation/BLUEPRINT/source/index.rst
  examples/BLUEPRINT/beams/tour_eiffel.ipynb
  examples/BLUEPRINT/beams/tour_eiffel.py
  tests/BLUEPRINT/beams/__init__.py
  tests/BLUEPRINT/beams/test_crosssection.py
  tests/BLUEPRINT/beams/test_element.py
  tests/BLUEPRINT/beams/test_geometry.py
  tests/BLUEPRINT/beams/test_model.py
  tests/BLUEPRINT/beams/test_node.py
  tests/BLUEPRINT/beams/test_plotting.py
  tests/BLUEPRINT/beams/test_symmetry.py
  tests/BLUEPRINT/beams/test_transformation.py
  tests/BLUEPRINT/beams/tf_shell_sections.pkl
  tests/BLUEPRINT/cli/test_indir/SMOKE-TEST_template.json
  tests/BLUEPRINT/nova/test_structuralsolver.py
Labels: structural

#568 Correct and rationalise safety factor calculations
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/physics.py
  tests/bluemira/equilibria/test_equilibrium.py
Labels: bug, equilibria, quality

#523 Write JSON of systems to volume names and IDs.
  BLUEPRINT/cad/model.py
  tests/BLUEPRINT/cad/test_cadmodel_json_mappings.py
  tests/BLUEPRINT/cad/test_data/dummy_model_components.json
Labels: neutronics

#643 Fix typos in GitHub issue templates
  .github/ISSUE_TEMPLATE/eu_demo_feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/step_feature_request.md
Labels: documentation

#647 Pass axis to plot_3d if specified
  bluemira/display/plotter.py
  tests/bluemira/display/test_plotter.py
Labels: display

#648 Fix equilibrium example
  examples/equilibria/eudemo_2017.ipynb
  examples/equilibria/eudemo_2017.py
Labels: examples, equilibria, EU-DEMO

#649 🐛 safety factor an array or float not list
  bluemira/equilibria/equilibrium.py
Labels: bug, equilibria

#651 Remove obsolete plotting file in geometry module
  bluemira/geometry/plotting.py
Labels: geometry, display

#640 Remove all traces of `beams` module from `materials`.
  bluemira/materials/constants.py
  bluemira/materials/material.py
  bluemira/materials/mixtures.py
  tests/bluemira/materials/test_mixtures.py
Labels: materials, structural

#569 `find_OX_points` improvements
  bluemira/equilibria/coils.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  tests/bluemira/equilibria/test_st_equilibrium.py
Labels: equilibria
