Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-09, with the labels that each got.

#1390 Add test for paramteterframe update propagation
  tests/base/parameterframe/test_parameterframe.py
Labels: tests

#1381 ✨ Pyproject.toml conversion and versioneer upgrade
  CODEOWNERS
  MANIFEST.in
  bluemira/_version.py
  pyproject.toml
  requirements-develop.txt
  setup.cfg
  setup.py
  versioneer.py
Labels: dependencies

#1419 Remove _deprecated_base and `Plane`
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/positioner.py
  bluemira/geometry/_deprecated_base.py
  bluemira/geometry/_deprecated_loop.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/inscribed_rect.py
  bluemira/geometry/tools.py
  bluemira/radiation_transport/advective_transport.py
  tests/geometry/test_deprecated_base.py
  tests/geometry/test_deprecated_loop.py
  tests/geometry/test_deprecated_tools.py
Labels: quality

#1401 🎨 Remove setup.cfg and update Versioneer
  bluemira/_version.py
  pyproject.toml
  requirements-develop.txt
  setup.cfg
Labels: dependencies

#1420 Complete `Loop`-ectomy
  bluemira/codes/process/_plotting.py
  bluemira/display/plotter.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/positioner.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/shapes.py
  bluemira/geometry/_deprecated_loop.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/inscribed_rect.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/tools.py
  bluemira/radiation_transport/advective_transport.py
  bluemira/structural/geometry.py
  bluemira/structural/model.py
  examples/design/EU-DEMO/EUDEMO_builders/equilibria.py
  examples/design/EU-DEMO/EUDEMO_builders/plasma.py
  examples/design/EU-DEMO/EUDEMO_tests/test_reactor.py
  examples/equilibria/single_null.ipynb
  examples/equilibria/single_null.py
  examples/magnetostatics/helmholtz_example.ipynb
  examples/magnetostatics/helmholtz_example.py
  examples/radiation_transport/heat_flux_calculation.ipynb
  examples/radiation_transport/heat_flux_calculation.py
  examples/radiation_transport/heat_flux_calculation_DN.ipynb
  examples/radiation_transport/heat_flux_calculation_DN.py
  tests/equilibria/test_find.py
  tests/equilibria/test_flux_surfaces.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_positioner.py
  tests/equilibria/test_st_equilibrium.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_deprecated_loop.py
  tests/geometry/test_deprecated_tools.py
  tests/geometry/test_inscribed_rect.py
  tests/magnetostatics/test_biot_savart.py
  tests/radiation_transport/test_advective_transport.py
Labels: geometry, bluemira_strategy, quality

#1067 FEM Fixed Boundary
  bluemira/equilibria/fem_fixed_boundary/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/transport_solver.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/equilibria/shapes.py
  examples/equilibria/fem_fixed_boundary/equilibrium_example.ipynb
  examples/equilibria/fem_fixed_boundary/equilibrium_example.py
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.ipynb
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.py
  examples/equilibria/fem_fixed_boundary/transport_solver_tutorial.ipynb
  examples/equilibria/fem_fixed_boundary/transport_solver_tutorial.py
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
Labels: equilibria

#1465 Separate fuel cycle and ParameterFrame
  bluemira/fuel_cycle/cycle.py
  bluemira/fuel_cycle/lifecycle.py
  examples/fuel_cycle/EUDEMO_fuelcycle.ipynb
  examples/fuel_cycle/EUDEMO_fuelcycle.py
Labels: fuelcycle

#1463 Fix SonarCloud bugs that cause all PRs to fail when merged into `develop`
  bluemira/equilibria/coils.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plotting.py
  bluemira/structural/model.py
  examples/fuel_cycle/EUDEMO_fuelcycle.ipynb
  examples/fuel_cycle/EUDEMO_fuelcycle.py
  tests/structural/test_model.py
Labels: bug, quality

#1472 Remove ParameterFrame from radiation_transport module
  bluemira/radiation_transport/advective_transport.py
  examples/radiation_transport/heat_flux_calculation.ipynb
  examples/radiation_transport/heat_flux_calculation.py
  examples/radiation_transport/heat_flux_calculation_DN.ipynb
  examples/radiation_transport/heat_flux_calculation_DN.py
  tests/codes/plasmod/test_solver.py
  tests/radiation_transport/test_advective_transport.py
Labels: radiation_transport

#1473 Remove functionality from `_deprecated_geometry`
  bluemira/equilibria/find.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/positioner.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/inscribed_rect.py
  bluemira/geometry/parameterisations.py
  bluemira/magnetostatics/baseclass.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/circuits.py
  bluemira/radiation_transport/advective_transport.py
  bluemira/structural/symmetry.py
  bluemira/structural/transformation.py
  examples/design/EU-DEMO/EUDEMO_builders/equilibria.py
  tests/equilibria/test_flux_surfaces.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_deprecated_tools.py
  tests/geometry/test_inscribed_rect.py
  tests/magnetostatics/test_circuits.py
Labels: geometry, quality

#1478 Fix occasional CI failure due to approx on 0.0
  examples/design/EU-DEMO/EUDEMO_tests/test_reactor.py
Labels: bug, tests

#1406 Equilibria GIF bugfix
  bluemira/equilibria/constants.py
  bluemira/equilibria/solve.py
  examples/equilibria/single_null.ipynb
Labels: bug, equilibria

#1461 Fixed boundary equilibrium: optional plasma current scaling.
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
Labels: equilibria

#1484 Fix flux surface test
  tests/equilibria/test_flux_surfaces.py
Labels: bug, equilibria, tests
