Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-03, with the labels that each got.

#702 Additional 2-D geometry checks on `boolean_fuse`
  bluemira/codes/_freecadapi.py
Labels: geometry

#589 Add EU-DEMO cryostat thermal shield
  bluemira/builders/EUDEMO/reactor.py
  bluemira/builders/thermal_shield.py
  bluemira/display/palettes.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
Labels: EU-DEMO, thermal_shield

#764 Fix HelmholtzCage and magnetostatics rotation conventions
  bluemira/magnetostatics/baseclass.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/circuits.py
  examples/magnetostatics/helmholtz_example.ipynb
  examples/magnetostatics/helmholtz_example.py
  tests/bluemira/magnetostatics/test_circuits.py
Labels: magnetostatics, bluemira_strategy

#563 Scale p' and ff' with `CustomProfile` at runtime
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/solve.py
  tests/bluemira/equilibria/test_st_equilibrium.py
Labels: equilibria

#810 ⬆️ conda update fluids
  conda/environment.yml
Labels: dependencies

#795 Update CODEWONERS file
  CODEOWNERS
Labels: bluemira_strategy

#815 Add line in installation documentation for msh2xdmf
  documentation/source/installation.rst
Labels: documentation, installation, meshing

#819 Remove some warning messages from dependencies
  bluemira/equilibria/find.py
  bluemira/equilibria/opt_objectives.py
  bluemira/utilities/opt_problems.py
  tests/bluemira/equilibria/test_coils.py
Labels: quality

#817 Correct IDM path for reference report on A ratio elongation
  data/equilibria/vertical_stability_data.json
Labels: quality

#593 Add EUDEMO cryostat vacuum vessel and radiation shields
  bluemira/builders/EUDEMO/reactor.py
  bluemira/builders/cryostat.py
  bluemira/builders/radiation_shield.py
  bluemira/display/palettes.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
Labels: EU-DEMO, cryostat

#813 Add `value_at` method to `BluemiraWire` for primitive point finding and interpolation
  bluemira/builders/EUDEMO/first_wall/divertor.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  tests/bluemira/geometry/test_tools.py
  tests/bluemira/geometry/test_wire.py
Labels: geometry

#823 Mark BLUEPRINT TF coil tests as long run
  tests/BLUEPRINT/systems/test_tfcoils.py
Labels: tests

#846 FEM 2D Magnetostatics
  bluemira/base/tools.py
  bluemira/display/plotter.py
  bluemira/equilibria/fem_fixed_boundary/__init__.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/mesh/meshing.py
  examples/equilibria/fem_fixed_boundary/fem_magnetostatic_2D_single_coil.ipynb
  examples/equilibria/fem_fixed_boundary/fem_magnetostatic_2D_single_coil.py
  examples/mesh/mesh_tutorial.ipynb
  examples/mesh/mesh_tutorial.py
  tests/bluemira/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
Labels: equilibria

#855 Emulate msh2xdmf and make x-z meshing possible
  .github/workflows/ci.yml
  bluemira/mesh/error.py
  bluemira/mesh/tools.py
  documentation/source/installation.rst
  examples/equilibria/fem_fixed_boundary/fem_magnetostatic_2D_single_coil.ipynb
  examples/equilibria/fem_fixed_boundary/fem_magnetostatic_2D_single_coil.py
  examples/mesh/mesh_tutorial.ipynb
  examples/mesh/mesh_tutorial.py
  scripts/install-msh2xdmf.sh
  tests/bluemira/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
  tests/bluemira/mesh/test_data/GeneratedMesh.geo_unrolled
  tests/bluemira/mesh/test_data/GeneratedMesh.msh
  tests/bluemira/mesh/test_data/ReferenceMesh.geo_unrolled
  tests/bluemira/mesh/test_data/ReferenceMesh.msh
  tests/bluemira/mesh/test_data/ReferenceMesh_boundaries.h5
  tests/bluemira/mesh/test_data/ReferenceMesh_boundaries.xdmf
  tests/bluemira/mesh/test_data/ReferenceMesh_domain.h5
  tests/bluemira/mesh/test_data/ReferenceMesh_domain.xdmf
  tests/bluemira/mesh/test_data/ReferenceMesh_linkfile.json
  tests/bluemira/mesh/test_meshing.py
  tests/bluemira/mesh/test_tools.py
Labels: meshing

#856 Implement variable thickness offset function
  bluemira/builders/EUDEMO/_varied_offset.py
  bluemira/builders/EUDEMO/tools.py
  bluemira/geometry/tools.py
  tests/bluemira/builders/EUDEMO/test_tools.py
  tests/bluemira/geometry/test_tools.py
Labels: geometry, EU-DEMO

#800 Fix `ArbitraryPlanarRectangularXSCircuit`
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/tools.py
  tests/bluemira/magnetostatics/test_circuits.py
Labels: bug, magnetostatics

#885 update CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation, bluemira_strategy, quality

#886 Add EUDEMO IVC builder
  bluemira/builders/EUDEMO/first_wall/first_wall.py
  bluemira/builders/EUDEMO/ivc/__init__.py
  bluemira/builders/EUDEMO/ivc/blanket.py
  bluemira/builders/EUDEMO/ivc/divertor.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  bluemira/builders/EUDEMO/ivc/wall.py
  bluemira/builders/EUDEMO/reactor.py
  tests/bluemira/builders/EUDEMO/ivc/test_blanket.py
  tests/bluemira/builders/EUDEMO/ivc/test_divertor.py
  tests/bluemira/builders/EUDEMO/ivc/test_ivc.py
  tests/bluemira/builders/EUDEMO/ivc/test_wall.py
  tests/bluemira/builders/EUDEMO/test_reactor.py
Labels: EU-DEMO

#871 Add EUDEMO geometry tools for segmented revolution and loft patterning
  bluemira/builders/EUDEMO/tools.py
  tests/bluemira/builders/EUDEMO/test_tools.py
Labels: geometry, EU-DEMO
