Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-04, with the labels that each got.

#890 Add EUDEMO divertor builder
  bluemira/builders/EUDEMO/divertor.py
  bluemira/builders/EUDEMO/ivc/divertor.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  bluemira/builders/EUDEMO/ivc/wall.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/display/palettes.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  tests/bluemira/builders/EUDEMO/ivc/test_divertor.py
  tests/bluemira/builders/EUDEMO/ivc/test_ivc.py
Labels: EU-DEMO

#891 Add EUDEMO blanket builder
  bluemira/base/config.py
  bluemira/base/config_schema.py
  bluemira/builders/EUDEMO/blanket.py
  bluemira/builders/EUDEMO/reactor.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  tests/bluemira/builders/EUDEMO/template.json
Labels: EU-DEMO

#889 Use configuration for builder params
  bluemira/base/builder.py
  bluemira/builders/EUDEMO/pf_coils.py
  tests/bluemira/builders/test_plasma.py
Labels: base

#850 Primitive path interpolation
  bluemira/builders/EUDEMO/pf_coils.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/utilities/positioning.py
  tests/bluemira/builders/EUDEMO/test_pf_coils.py
  tests/bluemira/geometry/test_wire.py
  tests/bluemira/utilities/test_positioning.py
Labels: utilities, geometry

#921 Remove duplicate variable in `JohnerLCFS`
  bluemira/equilibria/shapes.py
Labels: bug, equilibria

#860 Catch no intersection between flux surface and first wall
  bluemira/equilibria/flux_surfaces.py
  bluemira/radiation_transport/advective_transport.py
  tests/bluemira/radiation_transport/test_advective_transport.py
Labels: bug, radiation_transport

#917 PROCESS <=> bluemira shield/+vacuum vessel thickness inconsistency
  bluemira/base/config.py
  bluemira/codes/process/PROCESS_DEFAULT_IN.DAT
  data/reactors/EU-DEMO/systems_code/mockPROCESS.json
Labels: codes

#919 PROCESS v2.3.0 fixes
  bluemira/base/config.py
  bluemira/base/config_schema.py
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/process/mapping.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  tests/BLUEPRINT/test_data/reactors/SMOKE-TEST/systems_code/mockPROCESS.json
  tests/bluemira/builders/EUDEMO/build_config.json
  tests/bluemira/builders/EUDEMO/template.json
  tests/bluemira/builders/EUDEMO/test_reactor.py
  tests/bluemira/codes/process/test_data/mockPROCESS.json
  tests/bluemira/test_data/reactors/BLUEPRINT-INTEGRATION-TEST/systems_code/mockPROCESS.json
  tests/bluemira/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Labels: codes

#821 Add EU-DEMO vacuum vessel builder
  bluemira/builders/EUDEMO/_varied_offset.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/builders/EUDEMO/tools.py
  bluemira/builders/EUDEMO/vacuum_vessel.py
  bluemira/display/palettes.py
  data/reactors/EU-DEMO/systems_code/mockPROCESS.json
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
  tests/bluemira/builders/EUDEMO/test_tools.py
  tests/bluemira/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Labels: EU-DEMO

#924 Hotfix: Equilibrium from a FIESTA eqdsk
  bluemira/equilibria/equilibrium.py
Labels: bug, equilibria

#816 Add force and field constraints
  bluemira/equilibria/opt_constraints.py
Labels: equilibria, optimisation

#858 Add `start_tangent` and `end_tangent` to `make_bspline`
  bluemira/codes/_freecadapi.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  tests/bluemira/geometry/test_tools.py
Labels: geometry

#925 Address some `offset_wire` robustness issues with a fallback discretised offset
  bluemira/codes/_freecadapi.py
  bluemira/codes/error.py
  bluemira/geometry/_deprecated_offset.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/tools.py
  tests/bluemira/geometry/test_data/bb_offset_test.json
  tests/bluemira/geometry/test_data/offset_wire2022-04-08 10:19:27.json
  tests/bluemira/geometry/test_deprecated_offset.py
  tests/bluemira/geometry/test_offset.py
  tests/bluemira/geometry/test_plane.py
Labels: bug, geometry

#942 `make_bspline` end check allclose not equality
  bluemira/codes/_freecadapi.py
Labels: bug, EU-DEMO, tests

#941 Fix structural longrun tests and bug
  bluemira/structural/geometry.py
  tests/structural/test_geometry.py
  tests/structural/test_plotting.py
Labels: tests, structural

#959 Refactor `slice_shape` to use `BluemiraPlane`
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/builders/EUDEMO/vacuum_vessel.py
  bluemira/builders/thermal_shield.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/utilities/positioning.py
  tests/geometry/test_tools.py
Labels: geometry

#960 Refactor and clean-up `beta_p` calculations in `equilibria`
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ipynb
  examples/equilibria/eudemo_2017.py
Labels: equilibria

#935 Add naughty geometry decorator
  .gitignore
  bluemira/codes/_freecadapi.py
  bluemira/geometry/error.py
  bluemira/geometry/tools.py
  generated_data/naughty_geometry/README.md
  tests/geometry/test_deprecated_tools.py
  tests/geometry/test_tools.py
Labels: geometry, usability

#964 Deserialize BSpline
  bluemira/builders/EUDEMO/_varied_offset.py
  bluemira/codes/_freecadapi.py
  bluemira/equilibria/shapes.py
  bluemira/geometry/_deprecated_tools.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  examples/geometry/geometry_tutorial.ipynb
  examples/geometry/geometry_tutorial.py
  tests/codes/test_freecadapi.py
  tests/geometry/test_data/offset_wire2022-04-08 10:19:27.json
  tests/geometry/test_data/offset_wire2022-04-08_10-19-27.json
  tests/geometry/test_offset.py
  tests/geometry/test_tools.py
Labels: geometry

#922 EUDEMO upper port size optimisation problem
  bluemira/builders/EUDEMO/maintenance.py
  bluemira/utilities/optimiser.py
  tests/builders/EUDEMO/test_maintenance.py
Labels: geometry, EU-DEMO

#968 Fix `inscribed_rect` test
  tests/geometry/test_inscribed_rect.py
Labels: bug, geometry, tests

#962 Add `fallback_to` decorator for geometry operations
  bluemira/geometry/error.py
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: geometry, quality, usability
