Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-02, with the labels that each got.

#685 Fix a warning in geometry tests
  tests/bluemira/geometry/test_optimisation.py
Labels: geometry, quality, tests

#646 Add squareness calculation to `ClosedFluxSurface`
  bluemira/equilibria/flux_surfaces.py
  tests/bluemira/equilibria/test_flux_surfaces.py
Labels: equilibria

#656 Change flux surface convention and add documentation
  bluemira/equilibria/flux_surfaces.py
  documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/flux_surface_geometry.png
  documentation/source/equilibria/flux_surface_squareness.png
  tests/bluemira/equilibria/test_flux_surfaces.py
Labels: documentation, equilibria

#677 Add get legs functionality to `equilibria`
  bluemira/equilibria/find.py
  tests/bluemira/equilibria/test_find.py
Labels: equilibria

#684 Geometry module __all__ for some files
  bluemira/geometry/bound_box.py
  bluemira/geometry/face.py
  bluemira/geometry/plane.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  bluemira/geometry/wire.py
Labels: geometry, quality

#676 Add sector convention and documentation
  bluemira/builders/EUDEMO/tools.py
  documentation/source/conventions.rst
  documentation/source/sectors.png
Labels: documentation, geometry

#595 Add simple mutual inductance matrix calculation
  bluemira/equilibria/coils.py
  tests/bluemira/equilibria/test_coils.py
Labels: magnetostatics, equilibria

#678 Add development roadmap image to README and documentation
  README.md
  documentation/source/bluemira-roadmap.png
  documentation/source/introduction.rst
Labels: documentation, bluemira_strategy

#704 Fix PF coil mapper test
  tests/bluemira/builders/EUDEMO/test_pf_coils.py
Labels: bug, EU-DEMO, tests

#653 Add `BluemiraPlane` from matrix
  bluemira/codes/_freecadapi.py
  bluemira/geometry/plane.py
  tests/bluemira/geometry/test_plane.py
Labels: geometry

#624 Refactor build stage
  BLUEPRINT/reactor.py
  BLUEPRINT/systems/firstwall.py
  BLUEPRINT/systems/optimisation_callbacks.py
  BLUEPRINT/systems/tfcoils.py
  bluemira/codes/process/run.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/profiles.py
  bluemira/utilities/tools.py
  tests/BLUEPRINT/systems/test_firstwall.py
  tests/BLUEPRINT/systems/test_tfcoils.py
Labels: STEP, systems, build_stage

#698 Move EUDEMO constraints from `equilibria` and deprecate `run.py` interface
  BLUEPRINT/reactor.py
  bluemira/builders/EUDEMO/equilibria.py
  bluemira/builders/EUDEMO/plasma.py
  bluemira/equilibria/__init__.py
  bluemira/equilibria/_deprecated_run.py
  bluemira/equilibria/constraints.py
  examples/equilibria/single_null.ipynb
  examples/equilibria/single_null.py
  tests/bluemira/equilibria/test_equilibrium.py
Labels: equilibria, bluemira_strategy

#91 Initial mesh module
  .github/workflows/ci.yml
  .gitignore
  bluemira/base/tools.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/base.py
  bluemira/geometry/compound.py
  bluemira/geometry/tools.py
  bluemira/mesh/__init__.py
  bluemira/mesh/error.py
  bluemira/mesh/meshing.py
  conda/environment.yml
  documentation/source/index.rst
  documentation/source/mesh/mesh.rst
  examples/mesh/mesh_tutorial.py
  scripts/install-msh2xdmf.sh
  tests/bluemira/mesh/__init__.py
  tests/bluemira/mesh/test_meshing.py
Labels: meshing

#570 Grad-Shafranov and boundary recognition on grid centroids
  bluemira/equilibria/grad_shafranov.py
Labels: equilibria, quality

#735 Fix `ArbitraryPlanarRectangularXSCircuit` for re-entrant curvature
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/trapezoidal_prism.py
Labels: bug, magnetostatics

#729 Rename BluemiraPlane as BluemiraPlacement
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/codes/_freecadapi.py
  bluemira/display/plotter.py
  bluemira/geometry/base.py
  bluemira/geometry/placement.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/utilities/plot_tools.py
  bluemira/utilities/positioning.py
  tests/bluemira/display/test_plotter.py
  tests/bluemira/geometry/test_placement.py
  tests/bluemira/geometry/test_plane.py
  tests/bluemira/geometry/test_tools.py
Labels: geometry, doing
