Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2022-05, with the labels that each got.

#998 Update matplotlib to 3.5.1
  .github/dependabot.yml
  bluemira/balance_of_plant/plotting.py
  bluemira/equilibria/find.py
  bluemira/utilities/plot_tools.py
  requirements.txt
  setup.py
  tests/balance_of_plant/test_data/sankey_test_new.png
  tests/balance_of_plant/test_plotting.py
Labels: dependencies

#1000 🚚 Move gmsh to pip install
  conda/environment.yml
  requirements.txt
  setup.py
Labels: dependencies

#983 Fix `semianalytic_Bz` for integration edge case
  bluemira/magnetostatics/error.py
  bluemira/magnetostatics/semianalytic_2d.py
  bluemira/magnetostatics/tools.py
  tests/magnetostatics/test_semianalytic_2d.py
Labels: bug, magnetostatics

#980 Add VVTS builder (attempt 2)
  bluemira/builders/EUDEMO/_varied_offset.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/builders/EUDEMO/tf_coils.py
  bluemira/builders/EUDEMO/tools.py
  bluemira/builders/EUDEMO/vacuum_vessel.py
  bluemira/builders/thermal_shield.py
  bluemira/geometry/_deprecated_offset.py
  bluemira/geometry/tools.py
  examples/design/EU-DEMO/EUDEMO_reactor.ipynb
  examples/design/EU-DEMO/EUDEMO_reactor.py
Labels: EU-DEMO

#981 Add pulsed PF coil current optimisation for fixed coilset design
  .flake8
  bluemira/base/config.py
  bluemira/base/config_schema.py
  bluemira/builders/EUDEMO/pf_coils.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/run.py
  tests/builders/EUDEMO/test_pf_coils.py
Labels: equilibria, pf_coil, optimisation
