Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-07, with the labels that each got.

#2413 Add more RST docs for optimisation module
  .flake8
  bluemira/optimisation/problem.py
  documentation/source/examples.rst
  documentation/source/optimisation/geometry.rst
  documentation/source/optimisation/optimisation.rst
  documentation/source/optimisation/optimisation_doc.rst
  examples/optimisation/eggholder_problem.ex.py
  examples/optimisation/geometry_optimisation.ex.py
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
  examples/optimisation/nonlinearly_constrained_problem.ex.py
Labels: documentation

#2412 Retrofit coilset optimisations to use new optimiser interface
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/optimisation/constraint_funcs.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/__init__.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/solve.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/single_null.ex.py
  tests/equilibria/test_optimiser.py
Labels: optimisation

#2388 EU-DEMO lower port integration
  eudemo/config/FirstWallDesign.json
  eudemo/config/PFCoilDesign.json
  eudemo/config/TFCoilDesign.json
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/maintenance/lower_port/__init__.py
  eudemo/eudemo/maintenance/lower_port/builder.py
  eudemo/eudemo/maintenance/lower_port/duct_designer.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/maintenance/test_lower_port.py
Labels: EU-DEMO

#2419 🎨 Remove x from GeomOptimisationResult
  bluemira/optimisation/_geometry/optimise.py
Labels: optimisation

#2420 Move optimsation geometry to the geometry module
  bluemira/builders/tf_coils.py
  bluemira/geometry/optimisation/__init__.py
  bluemira/geometry/optimisation/_optimisation_old.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/optimisation/_tools.py
  bluemira/geometry/optimisation/problem.py
  bluemira/geometry/optimisation/typing.py
  bluemira/geometry/parameterisations.py
  bluemira/optimisation/__init__.py
  bluemira/optimisation/_geometry/parameterisations/__init__.py
  bluemira/optimisation/_geometry/parameterisations/princeton_d.py
  bluemira/optimisation/_geometry/parameterisations/sextuple_arc.py
  bluemira/optimisation/_geometry/parameterisations/tools.py
  bluemira/optimisation/_geometry/parameterisations/triple_arc.py
  examples/optimisation/geometry_optimisation.ex.py
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
  tests/geometry/test_optimisation.py
  tests/optimisation/geometry/test_geometry.py
  tests/optimisation/geometry/test_problem.py
Labels: optimisation

#1963 First set of functions needed for the Spherical Harmonics work
  CITATION.cff
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/harmonics.py
  bluemira/equilibria/opt_constraint_funcs.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/profiles.py
  bluemira/magnetostatics/finite_element_2d.py
  documentation/source/examples.rst
  examples/equilibria/SH_test_file.json
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
  tests/equilibria/test_data/SH_test_file.json
  tests/equilibria/test_harmonics.py
Labels: equilibria

#2410 EU-DEMO port plug integration
  bluemira/equilibria/run.py
  eudemo/config/.gitignore
  eudemo/config/FirstWallDesign.json
  eudemo/config/PFCoilDesign.json
  eudemo/config/TFCoilDesign.json
  eudemo/config/build_config.json
  eudemo/config/equilibrium_eqdsk.json
  eudemo/config/params.json
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/equatorial_port.py
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tools.py
  eudemo/eudemo_tests/maintenance/test_port_plug.py
  eudemo/eudemo_tests/test_maintenance.py
Labels: EU-DEMO

#2070 Allow viewing of palette colours in terminal
  bluemira/balance_of_plant/plotting.py
  bluemira/builders/tools.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/_polyscope.py
  bluemira/display/palettes.py
  bluemira/utilities/tools.py
  tests/display/test_displayer.py
  tests/display/test_palettes.py
Labels: display

#2362 🎨 Improvements for freecad saving
  bluemira/base/reactor.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  tests/codes/test_freecadapi.py
Labels: cad, codes

#2445 Remove RegionMapper from new optimisation interface and deprecate some more things
  bluemira/equilibria/harmonics.py
  bluemira/equilibria/optimisation/constraint_funcs.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/parameterisations.py
  bluemira/optimisation/_tools.py
  bluemira/utilities/opt_tools.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
  tests/equilibria/test_optimiser.py
Labels: optimisation
