Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-12, with the labels that each got.

#2751 Add test using ArbitraryPlanarPolyhedralXSCircuit for a 2D ring coil
  tests/magnetostatics/test_circuits.py
Labels: magnetostatics

#2705 `PolyhedralPrismCurrentSource` documentation
  documentation/source/magnetostatics/doc_polyhedral.py
  documentation/source/magnetostatics/doc_polyhedral_planar.py
  documentation/source/magnetostatics/magnetostatics.rst
  documentation/source/magnetostatics/pic_hexagonal.png
  documentation/source/magnetostatics/pic_polyhedral_planar.png
Labels: documentation, magnetostatics

#2875 Coilset label z ordering
  bluemira/equilibria/plotting.py
Labels: 📜 Papercut

#2772 Standardise COP classes interfaces
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
Labels: 📜 Papercut

#2864 👽️ FreeCAD 0.21.2
  .github/workflows/ci.yml
  bluemira/codes/_freecadapi.py
  bluemira/geometry/base.py
  bluemira/geometry/tools.py
  conda/environment.yml
  requirements-conda.txt
  requirements-develop.txt
  tests/builders/test_coil_supports.py
  tests/codes/test_freecadapi.py
Labels: cad, dependencies, upstream, python

#2886 🐛 Fix examples CI
  .github/workflows/examples.yml
Labels: 📜 Papercut
