Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-01, with the labels that each got.

#1686 Fixed boundary equilibrium plotting
  bluemira/codes/plasmod/api/_plotting.py
  bluemira/equilibria/fem_fixed_boundary/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/utilities/plot_tools.py
  examples/codes/run_plasmod_example.py
  examples/equilibria/fem_fixed_boundary/equilibrium_example.py
  tests/codes/plasmod/test_solver.py
  tests/equilibria/fem_fixed_boundary/test_equilibrium.py
Labels: equilibria, usability

#1827 Add Kuiroukidis flux surface parameterisation
  bluemira/equilibria/shapes.py
  tests/equilibria/test_shapes.py
Labels: equilibria

#1830 Update meshing documentation
  documentation/source/mesh/mesh.rst
Labels: documentation, meshing

#1829 Add EQDSK saving for fixed boundary equilibrium
  bluemira/equilibria/fem_fixed_boundary/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/file.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  examples/equilibria/fem_fixed_boundary/equilibrium_example.py
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.py
  tests/equilibria/fem_fixed_boundary/test_equilibrium.py
Labels: equilibria

#1851 🐛 Fix bug in equilibria run from bad conversion to new coilset
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/run.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_run.py
Labels: equilibria

#1826 ✨ Add notebook to docs
  .gitignore
  documentation/source/conf.py
  documentation/source/examples
  documentation/source/examples.rst
  documentation/source/index.rst
  examples/README.md
  examples/balance_of_plant/steady_state_example.ex.py
  examples/base/components_tutorial.ex.py
  examples/base/params.ex.py
  examples/base/units.ex.py
  examples/codes/run_plasmod_example.ex.py
  examples/codes/solver_example.ex.py
  examples/design/simple_reactor.ex.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/fem_fixed_boundary/equilibrium_example.ex.py
  examples/equilibria/fem_fixed_boundary/fem_GS_Johner.ex.py
  examples/equilibria/fem_fixed_boundary/fem_magnetostatic_2D_single_coil.ex.py
  examples/equilibria/single_null.ex.py
  examples/fuel_cycle/EUDEMO_fuelcycle.ex.py
  examples/geometry/geometry_tutorial.ex.py
  examples/geometry/optimisation_tutorial.ex.py
  examples/geometry/plane_placement_tutorial.ex.py
  examples/geometry/plotting_tutorial.ex.py
  examples/magnetostatics/helmholtz_example.ex.py
  examples/materials/material_definitions.ex.py
  examples/mesh/mesh_tutorial.ex.py
  examples/plasma_physics/fusion_reactions.ex.py
  examples/radiation_transport/heat_flux_calculation.ex.py
  examples/radiation_transport/heat_flux_calculation_DN.ex.py
  examples/structural/tour_eiffel_example.ex.py
  examples/utilities/optimisation_example.ex.py
  pyproject.toml
  requirements-develop.txt
  requirements-examples.txt
Labels: examples

#1890 Scale all PLASMOD profiles, not just flux functions and psi.
  bluemira/codes/plasmod/api/_solver.py
  tests/codes/plasmod/test_solver.py
Labels: codes
