Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-10, with the labels that each got.

#2657 🐛Fix docs build
  conda/environment.yml
  documentation/source/conf.py
Labels: bug, documentation

#2655 🐛 Fix use of ClassVar in MappedParameterFrames
  bluemira/base/parameter_frame/_frame.py
  bluemira/codes/plasmod/params.py
  bluemira/codes/process/params.py
  tests/codes/test_interface.py
  tests/codes/test_param.py
Labels: base, examples

#2683 🚨 Appease sonarcloud
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  tests/base/parameterframe/test_parameterframe.py
  tests/base/reactor_config/test_reactor_config.py
  tests/codes/plasmod/test_equilibrium.py
  tests/codes/plasmod/test_solver.py
  tests/codes/test_freecadapi.py
  tests/display/test_plotter.py
  tests/equilibria/test_flux_surfaces.py
  tests/equilibria/test_harmonics.py
  tests/equilibria/test_run.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_geometry.py
  tests/geometry/test_offset.py
  tests/geometry/test_private_tools.py
  tests/magnetostatics/test_trapezoidal_prism.py
  tests/materials/test_material.py
  tests/plasma_physics/test_reactions.py
  tests/plasma_physics/test_scaling_laws.py
  tests/structural/test_crosssection.py
  tests/utilities/test_opt_variables.py
Labels: quality

#2686 🚨 More sonarcloud
  bluemira/equilibria/find.py
  bluemira/equilibria/harmonics.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/solve.py
  bluemira/fuel_cycle/lifecycle.py
  bluemira/fuel_cycle/tools.py
  tests/base/parameterframe/test_parameter.py
  tests/base/parameterframe/test_parameterframe.py
  tests/geometry/test_inscribed_rect.py
Labels: quality

#2687 🚨🤞 this is the last
  tests/codes/plasmod/test_solver.py
  tests/codes/test_freecadapi.py
Labels: quality

#2617 Temporary for Issue #2239 - eqdsk without a coilset
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/equilibrium.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_equilibrium.py
Labels: enhancement, equilibria

#2411 Improve self-inductance calculation and fix bug in `circular_coil_inductance_elliptic`
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/greens.py
  tests/magnetostatics/test_biot_savart.py
Labels: bug, magnetostatics

#2718 added test to check whether combined shape matching single shape
  tests/magnetostatics/test_polyhedral_prism.py
Labels: magnetostatics

#2722 Bugfix bizarre `np.zeros_like[x]` bug
  bluemira/equilibria/optimisation/constraints.py
Labels: bug, equilibria

#2723 Bugfix control coils only in Tikhonov unconstrained and actually calculate f_x
  bluemira/equilibria/optimisation/problem/_tikhonov.py
Labels: bug, equilibria

#2721 `Coil` remove control=False call
  bluemira/equilibria/coils/_grouping.py
Labels: bug, equilibria

#2729 Bugfix `TikhonovCOP` and base optimisation class to consider control coils only.
  bluemira/equilibria/optimisation/problem/base.py
Labels: bug, equilibria

#2728 ⚡️ 10x speed up plasma convolve
  bluemira/equilibria/plasma.py
  tests/equilibria/test_equilibrium.py
Labels: enhancement, equilibria

#2690 🚑️ Fixing PROCESS InDat writer
  bluemira/codes/params.py
  bluemira/codes/plasmod/params.py
  bluemira/codes/process/_equation_variable_mapping.py
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/_model_mapping.py
  bluemira/codes/process/_setup.py
  bluemira/codes/process/_solver.py
  bluemira/codes/process/_teardown.py
  bluemira/codes/process/api.py
  bluemira/codes/process/params.py
  bluemira/codes/process/template_builder.py
  conda/environment.yml
  eudemo/config/params.json
  eudemo/eudemo/radial_build.py
  requirements.txt
  scripts/install-process.sh
  tests/codes/process/test_api.py
  tests/codes/process/test_setup.py
  tests/codes/process/test_solver.py
  tests/codes/process/test_template_builder.py
Labels: bug, codes

#2731 Add an alternative polyhedral VIM formulation
  bluemira/magnetostatics/polyhedral_prism.py
  tests/magnetostatics/test_polyhedral_prism.py
Labels: magnetostatics

#2704 Add `ArbitraryPlanarPolyhedralXSCircuit`
  bluemira/magnetostatics/circuits.py
  tests/magnetostatics/test_circuits.py
  tests/magnetostatics/test_polyhedral_prism.py
  tests/magnetostatics/tools.py
Labels: magnetostatics

#2740 Add PROCESS API example
  .github/workflows/examples.yml
  bluemira/codes/process/api.py
  documentation/source/examples.rst
  examples/codes/run_process_example.ex.py
  tests/codes/process/test_api.py
  tests/codes/process/test_data/mfile_data.json
Labels: examples, codes

#2747 Private offset test fixes and improvements
  tests/geometry/test_private_tools.py
Labels: geometry, quality, tests

#2750 ✨ Allow different in and out names for external codes
  bluemira/base/parameter_frame/_frame.py
  bluemira/codes/interface.py
  bluemira/codes/params.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  bluemira/codes/utilities.py
  data/reactors/EU-DEMO/systems_code/mockPROCESS.json
  eudemo/config/mockPROCESS.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo_tests/template.json
  tests/codes/process/test_data/MFILE.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_data/params.json
  tests/codes/process/test_data/read/mockPROCESS.json
  tests/codes/process/test_solver.py
  tests/codes/process/test_teardown.py
  tests/codes/test_interface.py
  tests/test_data/reactors/BLUEPRINT-INTEGRATION-TEST/systems_code/mockPROCESS.json
  tests/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Labels: enhancement, codes

#2725 ✨ Add plotting helper for tests
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  conftest.py
  eudemo/eudemo_tests/blanket/panelling/test_designer.py
  eudemo/eudemo_tests/test_power_cycle.py
  pyproject.toml
  tests/balance_of_plant/test_plotting.py
  tests/base/test_reactor.py
  tests/builders/test_tf_coils.py
  tests/codes/plasmod/test_profiles.py
  tests/display/test_plotter.py
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
  tests/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_positioner.py
  tests/equilibria/test_shapes.py
  tests/fuel_cycle/test_blocks.py
  tests/fuel_cycle/test_tools.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_inscribed_rect.py
  tests/geometry/test_private_tools.py
  tests/geometry/test_pyclipper_offset.py
  tests/magnetostatics/setup_methods.py
  tests/magnetostatics/test_biot_savart.py
  tests/magnetostatics/test_circuits.py
  tests/magnetostatics/test_finite_element_2d.py
  tests/magnetostatics/test_semianalytic_2d.py
  tests/materials/test_material.py
  tests/structural/test_crosssection.py
  tests/structural/test_geometry.py
  tests/structural/test_model.py
  tests/structural/test_plotting.py
  tests/structural/test_symmetry.py
  tests/structural/test_transformation.py
Labels: tests, usability

#2726 Fixed the passive coils so they no longer require manual setting
  bluemira/equilibria/coils/_grouping.py
  tests/equilibria/test_equilibrium.py
Labels: pf_coil

#2746 📝 Update CONTRIBUTING for more test info
  CONTRIBUTING.md
  README.md
  pyproject.toml
  tests/structural/test_model.py
Labels: documentation
