Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-11, with the labels that each got.

#2752 🚧 Get EUDEMO running
  bluemira/builders/coil_supports.py
  bluemira/codes/_freecadapi.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/plotting.py
  bluemira/geometry/tools.py
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/tools.py
  eudemo/eudemo/radial_build.py
Labels: EU-DEMO

#2773 📝 PROCESS documentation and roadmap update
  bluemira/codes/process/_run.py
  bluemira/codes/utilities.py
  documentation/source/bluemira-roadmap-dark.svg
  documentation/source/bluemira-roadmap.svg
  documentation/source/installation.rst
  eudemo/eudemo/radial_build.py
  scripts/install-process.sh
  tests/codes/process/test_api.py
  tests/codes/process/test_run.py
Labels: documentation, codes

#2791 ⬆️ Update Myst-nb
  documentation/source/conf.py
  requirements-develop.txt
Labels: documentation, dependencies, python

#2829 Papercut: Deprecating separatrix into ripple_wire
  bluemira/builders/tf_coils.py
Labels: 📜 Papercut

#2830 🧐 Setup default pytest temp dir for data
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
  conftest.py
  tests/codes/plasmod/test_equilibrium.py
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
  tests/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
  tests/equilibria/fem_fixed_boundary/test_generated_data/.gitignore
  tests/geometry/test_tools.py
  tests/magnetostatics/test_finite_element_2d.py
  tests/magnetostatics/test_generated_data/.gitignore
  tests/mesh/test_generated_data/.gitignore
  tests/mesh/test_meshing.py
  tests/utilities/test_tools.py
Labels: tests, 📜 Papercut

#2793 ✅ Fix longrun process test
  bluemira/codes/process/_run.py
Labels: bug, tests, 📜 Papercut
