Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-05, with the labels that each got.

#2065 Make `Coordinates` support lines and vertices
  bluemira/geometry/coordinates.py
  tests/geometry/test_coordinates.py
Labels: geometry

#2192 Docstring convention update: colons good, types in typehints
  CONTRIBUTING.md
  bluemira/plasma_physics/scaling_laws.py
Labels: documentation, quality

#2193 Docstring convention enforcement marathon - part 1
  bluemira/plasma_physics/collisions.py
  bluemira/plasma_physics/reactions.py
  bluemira/plasma_physics/rules_of_thumb.py
Labels: quality

#2195 Docstring convention enforcement marathon - part 3
  bluemira/equilibria/opt_problems.py
  bluemira/magnetostatics/baseclass.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/circular_arc.py
  bluemira/magnetostatics/finite_element_2d.py
  bluemira/magnetostatics/greens.py
  bluemira/magnetostatics/semianalytic_2d.py
  bluemira/magnetostatics/tools.py
  bluemira/magnetostatics/trapezoidal_prism.py
Labels: magnetostatics, quality

#2196 Docstring convention enforcement marathon - part 4
  bluemira/materials/cache.py
  bluemira/materials/material.py
  bluemira/materials/mixtures.py
Labels: materials, quality

#2198 Docstring convention enforcement marathon - part 6
  bluemira/base/builder.py
  bluemira/base/components.py
  bluemira/base/constants.py
  bluemira/base/designer.py
  bluemira/base/file.py
  bluemira/base/logs.py
  bluemira/base/look_and_feel.py
  bluemira/base/reactor.py
  bluemira/base/reactor_config.py
  bluemira/base/tools.py
Labels: base, quality

#2200 Docstring convention enforcement marathon - part 8
  bluemira/builders/_varied_offset.py
  bluemira/builders/coil_supports.py
  bluemira/builders/cryostat.py
  bluemira/builders/pf_coil.py
  bluemira/builders/plasma.py
  bluemira/builders/tf_coils.py
  bluemira/builders/thermal_shield.py
  bluemira/builders/tools.py
Labels: quality, build_stage

#2201 Docstring convention enforcement marathon - part 9
  bluemira/utilities/fit_tools.py
  bluemira/utilities/plot_tools.py
  bluemira/utilities/positioning.py
  bluemira/utilities/tools.py
Labels: utilities, quality

#2199 Docstring convention enforcement marathon - part 7
  bluemira/balance_of_plant/calculations.py
  bluemira/balance_of_plant/steady_state.py
Labels: quality, powercycle

#2197 Docstring convention enforcement marathon - part 5
  bluemira/equilibria/boundary.py
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/file.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/equilibria/file.py
  bluemira/equilibria/find.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/grad_shafranov.py
  bluemira/equilibria/limiter.py
  bluemira/equilibria/num_control.py
  bluemira/equilibria/opt_constraint_funcs.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_objectives.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/positioner.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/shapes.py
  bluemira/equilibria/solve.py
Labels: equilibria, quality

#2188 🐛 Fix quad padding for coil circuits
  bluemira/equilibria/coils/_grouping.py
  tests/equilibria/test_coils.py
Labels: bug, equilibria, pf_coil

#2202 Docstring convention enforcement marathon - part 10
  bluemira/structural/crosssection.py
  bluemira/structural/element.py
  bluemira/structural/geometry.py
  bluemira/structural/loads.py
  bluemira/structural/material.py
  bluemira/structural/matrixops.py
  bluemira/structural/model.py
  bluemira/structural/node.py
  bluemira/structural/plotting.py
  bluemira/structural/result.py
  bluemira/structural/stress.py
  bluemira/structural/symmetry.py
  bluemira/structural/transformation.py
Labels: quality, structural

#2205 Docstring convention enforcement marathon - part 11
  bluemira/fuel_cycle/analysis.py
  bluemira/fuel_cycle/blocks.py
  bluemira/fuel_cycle/cycle.py
  bluemira/fuel_cycle/lifecycle.py
  bluemira/fuel_cycle/timeline.py
  bluemira/fuel_cycle/timeline_tools.py
  bluemira/fuel_cycle/tools.py
Labels: fuelcycle, quality

#2206 Docstring convention enforcement marathon - part 12
  bluemira/codes/_freecadapi.py
  bluemira/codes/_nlopt_api.py
  bluemira/codes/_polyscope.py
  bluemira/codes/interface.py
  bluemira/codes/params.py
  bluemira/codes/plasmod/api/_inputs.py
  bluemira/codes/plasmod/api/_plotting.py
  bluemira/codes/plasmod/api/_run.py
  bluemira/codes/plasmod/api/_setup.py
  bluemira/codes/plasmod/api/_solver.py
  bluemira/codes/plasmod/api/_teardown.py
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
  bluemira/codes/process/_plotting.py
  bluemira/codes/process/_run.py
  bluemira/codes/process/_setup.py
  bluemira/codes/process/_solver.py
  bluemira/codes/process/_teardown.py
  bluemira/codes/process/api.py
  bluemira/codes/utilities.py
  bluemira/codes/wrapper.py
Labels: quality, codes

#2161 Add `boolean_fragments` to geometry module
  bluemira/codes/_freecadapi.py
  bluemira/geometry/compound.py
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: geometry

#2186 Handle `BluemiraWire.discretize()` with `ndiscr=1` and fix 3, 3 bug.
  bluemira/codes/_freecadapi.py
  bluemira/geometry/wire.py
  tests/geometry/test_wire.py
Labels: bug, geometry

#2214 Docstring convention enforcement marathon - part 14
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/blanket/panelling/_designer.py
  eudemo/eudemo/blanket/panelling/_opt_problem.py
  eudemo/eudemo/blanket/panelling/_paneller.py
  eudemo/eudemo/blanket/panelling/_pivot_string.py
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/equilibria/tools.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/ivc_boundary.py
  eudemo/eudemo/ivc/plasma_face.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/maintenance/equatorial_port.py
  eudemo/eudemo/maintenance/upper_port.py
  eudemo/eudemo/pf_coils/tools.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/tf_coils/tf_coils.py
Labels: EU-DEMO, quality

#2213 Docstring convention enforcement marathon - part 13
  bluemira/geometry/_private_tools.py
  bluemira/geometry/_pyclipper_offset.py
  bluemira/geometry/base.py
  bluemira/geometry/bound_box.py
  bluemira/geometry/compound.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/face.py
  bluemira/geometry/inscribed_rect.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/placement.py
  bluemira/geometry/plane.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
Labels: geometry, quality

#2223 Add `_tessellate` and `get_optimal_bounding_box` to `BluemiraGeo
  bluemira/codes/_freecadapi.py
  bluemira/geometry/base.py
  tests/geometry/test_bound_box.py
Labels: bug, geometry

#2230 Add `f_x` to `OptimiserResult` and keep track of function call value history
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimiser.py
  tests/optimisation/test_nlopt.py
  tests/optimisation/test_optimise.py
Labels: optimisation, usability

#2194 Docstring convention enforcement marathon - part 2
  bluemira/mesh/meshing.py
  bluemira/mesh/tools.py
Labels: meshing, quality

#2235 Allow `"df_constraint": None` in optimise geometry
  bluemira/optimisation/_geometry/_tools.py
  bluemira/optimisation/_geometry/_typing.py
  bluemira/optimisation/_typing.py
  tests/optimisation/test_geometry.py
Labels: optimisation

#2265 📝 Add reactor docs to introduction
  documentation/source/base/components.rst
  documentation/source/base/design_build.dot
Labels: documentation, base

#2269 🚸 Force type of max eval
  bluemira/optimisation/_nlopt/conditions.py
  tests/optimisation/test_nlopt.py
Labels: optimisation

#2229 Update optimisation examples (removing example for old API).
  documentation/source/examples.rst
  examples/optimisation/eggholder_problem.ex.py
  examples/optimisation/rosenbrock_problem.ex.py
  examples/utilities/optimisation_example.ex.py
Labels: documentation, optimisation

#2266 🐛 Fix collect verts and faces for polyscope viewing
  bluemira/codes/_freecadapi.py
Labels: cad, display

#2167 Add voidspace to VV and TS in builders and EUDEMO
  bluemira/builders/thermal_shield.py
  bluemira/builders/tools.py
  eudemo/eudemo/vacuum_vessel.py
  eudemo/eudemo_tests/test_vacuum_vessel.py
  tests/builders/test_thermal_shield.py
Labels: base, EU-DEMO

#2257 Check constraints in optimisations
  bluemira/geometry/tools.py
  bluemira/optimisation/_geometry/optimise.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_optimiser.py
  tests/optimisation/test_optimise.py
Labels: optimisation

#2277 Remove keep in zones
  bluemira/optimisation/_geometry/_tools.py
  bluemira/optimisation/_geometry/optimise.py
  bluemira/optimisation/_geometry/problem.py
  tests/optimisation/geometry/test_geometry.py
Labels: optimisation

#1918 ✨ Improve STEP file export and add new export filetypes
  bluemira/codes/__init__.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/_freecadconfig.py
  bluemira/geometry/tools.py
  tests/codes/test_freecadapi.py
  tests/geometry/test_data/test_circ.stp
  tests/geometry/test_offset.py
  tests/geometry/test_tools.py
Labels: cad

#2258 Reactor Config: add file reading feature
  bluemira/base/reactor_config.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  tests/base/reactor_config/data/nest_a/nest_a.config.json
  tests/base/reactor_config/data/nest_a/nest_a.params.json
  tests/base/reactor_config/data/nest_b/nest_b.config.json
  tests/base/reactor_config/data/nest_b/nest_b_inner/nest_b.params.json
  tests/base/reactor_config/data/reactor_config.nested_config.json
  tests/base/reactor_config/data/reactor_config.nested_params.json
  tests/base/reactor_config/data/reactor_config.nesting.json
  tests/base/reactor_config/data/reactor_config.test.json
  tests/base/reactor_config/test_reactor_config.py
Labels: base

#2270 📝 Improve base docs
  documentation/source/base/components.rst
Labels: documentation, quality
