Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-04, with the labels that each got.

#2060 EUDEMO first wall panelling
  bluemira/base/parameter_frame/_parameter.py
  bluemira/geometry/_private_tools.py
  bluemira/geometry/coordinates.py
  bluemira/utilities/opt_problems.py
  bluemira/utilities/optimiser.py
  eudemo/eudemo/ivc/panelling/__init__.py
  eudemo/eudemo/ivc/panelling/_designer.py
  eudemo/eudemo/ivc/panelling/_opt_problem.py
  eudemo/eudemo/ivc/panelling/_paneller.py
  eudemo/eudemo/ivc/panelling/_pivot_string.py
  eudemo/eudemo_tests/ivc/panelling/data/panelling_ref_data.npy
  eudemo/eudemo_tests/ivc/panelling/test_designer.py
  eudemo/eudemo_tests/ivc/panelling/test_paneller.py
  eudemo/eudemo_tests/ivc/panelling/test_pivot_string.py
  tests/geometry/test_coordinates.py
Labels: EU-DEMO

#1989 Equatorial Port
  CITATION.cff
  eudemo/eudemo/maintenance/equatorial_port.py
  eudemo/eudemo_tests/test_maintenance.py
Labels: EU-DEMO

#2119 🔥 remove BluemiraClock
  bluemira/base/look_and_feel.py
  bluemira/fuel_cycle/analysis.py
Labels: base

#2120 ✨ Rearrange Reactor and component Manager to have a common base
  bluemira/base/builder.py
  bluemira/base/reactor.py
  tests/base/test_reactor.py
Labels: enhancement, base, could

#2087 Module reshuffle for 1.5-D and API reshuffle for 2-D fixed boundary equilibrium
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/magnetostatics/finite_element_2d.py
  documentation/source/examples.rst
  eudemo/eudemo/equilibria/_designer.py
  examples/codes/equilibrium_plasmod_example.ex.py
  examples/equilibria/fixed_boundary.ex.py
  examples/magnetostatics/finite_element_2D_single_coil.ex.py
  tests/codes/plasmod/test_data/plasmod_input.dat
  tests/codes/plasmod/test_data/plasmod_output.dat
  tests/codes/plasmod/test_data/plasmod_profiles.dat
  tests/codes/plasmod/test_equilibrium.py
  tests/codes/plasmod/test_profiles.py
  tests/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
  tests/magnetostatics/test_finite_element_2d.py
  tests/magnetostatics/test_generated_data/.gitignore
Labels: equilibria

#2118 🏷️ typing improvements for base
  bluemira/base/builder.py
  bluemira/base/components.py
  bluemira/base/constants.py
  bluemira/base/error.py
  bluemira/base/file.py
  bluemira/base/logs.py
  bluemira/base/look_and_feel.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
  bluemira/base/reactor_config.py
  bluemira/base/tools.py
Labels: base, quality, usability

#1992 Add `fillet_wire_2D` and `chamfer_wire_2D`
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: geometry

#2158 ✅ Allow all tests to run in parallel
  tests/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
Labels: tests

#2159 EUDEMO blanket builder with panels
  bluemira/builders/divertor.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/blanket/panelling/__init__.py
  eudemo/eudemo/blanket/panelling/_designer.py
  eudemo/eudemo/blanket/panelling/_opt_problem.py
  eudemo/eudemo/blanket/panelling/_paneller.py
  eudemo/eudemo/blanket/panelling/_pivot_string.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/plasma_face.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/blanket/__init__.py
  eudemo/eudemo_tests/blanket/panelling/data/panelling_ref_data.npy
  eudemo/eudemo_tests/blanket/panelling/test_designer.py
  eudemo/eudemo_tests/blanket/panelling/test_paneller.py
  eudemo/eudemo_tests/blanket/panelling/test_pivot_string.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  eudemo/eudemo_tests/blanket/test_builder.py
  eudemo/eudemo_tests/blanket/test_designer.py
  eudemo/eudemo_tests/blanket/tools.py
  pyproject.toml
Labels: EU-DEMO

#2165 Add psi norm tolerance to `Equilibrium` methods for LCFS and separatrix finding.
  bluemira/equilibria/equilibrium.py
Labels: equilibria
