Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-08, with the labels that each got.

#2499 🔊 Change max eval for ISRES to debug message
  bluemira/optimisation/_nlopt/optimiser.py
Labels: optimisation

#2442 Convert SH constraint to new optimiser interface
  bluemira/equilibria/optimisation/constraints.py
Labels: optimisation

#2463 📝 Add user story to feature requests
  .github/ISSUE_TEMPLATE/eu_demo_feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/step_feature_request.md
Labels: repository management

#2517 🎨 Change base RunMode name
  bluemira/codes/interface.py
  bluemira/codes/plasmod/api/_solver.py
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
  bluemira/codes/process/_solver.py
  eudemo/eudemo/power_cycle.py
  examples/codes/external_code.ex.py
  tests/codes/test_interface.py
Labels: quality

#2505 🎨 Improve dictionary options for PlotOptions
  bluemira/display/plotter.py
  tests/display/test_plotter.py
  tests/geometry/test_inscribed_rect.py
Labels: display

#2519 ✨ Add deprecation helper function
  bluemira/utilities/tools.py
  tests/utilities/test_tools.py
Labels: quality

#2518 🎨 Fixup reactions dataclasses
  bluemira/plasma_physics/reactions.py
Labels: quality

#2523 ♻️ Johner equilibria shape refactor
  bluemira/equilibria/shapes.py
Labels: equilibria, quality

#2539 Fix path to reactor script in eudemo README
  eudemo/README.md
Labels: documentation

#2521 Added check for dataclass anontation for ParamFrame & OptVarFrame
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
  bluemira/utilities/opt_variables.py
  tests/base/parameterframe/test_parameterframe.py
Labels: base, utilities

#2542 📝 Add CAD sector convention to the docs
  documentation/source/base/design_build.rst
Labels: documentation
