Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-03, with the labels that each got.

#1980 Add `OISBuilder`
  bluemira/builders/coil_supports.py
  tests/builders/test_coil_supports.py
Labels: EU-DEMO, build_stage

#1984 Add `StraightOISDesigner`
  bluemira/builders/coil_supports.py
  tests/builders/test_coil_supports.py
Labels: geometry, EU-DEMO, tf_coil, optimisation, build_stage

#2009 Fix closed triangle bug in `make_polygon`
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: bug, geometry

#1934 Add plot flag to radial build for EU-DEMO
  bluemira/codes/process/_plotting.py
  eudemo/config/MFILE.DAT
  eudemo/config/build_config.json
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Labels: EU-DEMO

#2016 Add `BetaLiIpProfile` to free boundary equilibrium solver
  bluemira/equilibria/constants.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/solve.py
  examples/equilibria/eudemo_2017.ex.py
  tests/equilibria/setup_methods.py
  tests/equilibria/test_equilibrium.py
Labels: equilibria, optimisation

#2029 Fix EUDEMO power balance
  bluemira/balance_of_plant/calculations.py
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo_tests/test_power_cycle.py
  examples/balance_of_plant/steady_state_example.ex.py
Labels: bug, EU-DEMO, balance of plant

#2031 More obsolete PROCESS variables in inputs
  bluemira/codes/process/_inputs.py
Labels: codes

#2039 Remove mirapy from flake8 exclude
  .flake8
Labels: quality

#2038 EUDEMO reference equilibrium without fixed boundary equilibrium for now
  eudemo/config/FirstWallDesign.json
  eudemo/config/PFCoilDesign.json
  eudemo/config/TFCoilDesign.json
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/__init__.py
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/equilibria/_equilibrium.py
  eudemo/eudemo/equilibria/tools.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Labels: equilibria, EU-DEMO

#2034 Catch `RuntimeError` which occasionally crops up in fixed boundary equilibrium solver.
  bluemira/equilibria/fem_fixed_boundary/utilities.py
Labels: bug, equilibria

#2067 More EUDEMO build work
  bluemira/builders/plasma.py
  eudemo/config/PFCoilDesign.json
  eudemo/config/TFCoilDesign.json
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
  examples/equilibria/single_null.ex.py
Labels: EU-DEMO

#1033 ✨ Polyscope CAD viewer
  CITATION.cff
  bluemira/base/components.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/_polyscope.py
  bluemira/display/__init__.py
  bluemira/display/displayer.py
  conftest.py
  documentation/source/conf.py
  pyproject.toml
  requirements.txt
  tests/base/test_components.py
  tests/display/helpers.py
  tests/display/test_displayer.py
Labels: cad, display

#2069 Fix EUDEMO display colors for plotting and planar CAD
  bluemira/builders/coil_supports.py
  bluemira/builders/cryostat.py
  bluemira/builders/divertor.py
  bluemira/builders/pf_coil.py
  bluemira/builders/plasma.py
  bluemira/builders/radiation_shield.py
  bluemira/builders/thermal_shield.py
  bluemira/builders/tools.py
  eudemo/config/PFCoilDesign.json
  eudemo/eudemo/blanket.py
  eudemo/eudemo/tf_coils/tf_coils.py
  eudemo/eudemo/vacuum_vessel.py
Labels: EU-DEMO

#2041 Remove bad tuples in `BluemiraGeo` subclasses.
  bluemira/geometry/face.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  bluemira/geometry/wire.py
Labels: bug, geometry

#2040 Make `Builder` and `Designer` consistent when handling `build_config` in `__init__`
  bluemira/base/builder.py
  tests/base/test_builder.py
Labels: quality, usability

#2071 Fix PF supports to be more forgiving and error and xz
  bluemira/builders/coil_supports.py
  eudemo/config/PFCoilDesign.json
  tests/builders/test_coil_supports.py
Labels: EU-DEMO, build_stage

#2036 Add `BluemiraFace.normal_at`
  bluemira/codes/_freecadapi.py
  bluemira/geometry/face.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  tests/geometry/test_face.py
Labels: geometry

#2090 Make `vertexes` and `edges` ordered on `BluemiraWire`
  bluemira/geometry/wire.py
  tests/geometry/test_face.py
  tests/geometry/test_wire.py
Labels: geometry

#2059 Add selection strategies for the points at which TF ripple is constrained
  bluemira/builders/tf_coils.py
  bluemira/magnetostatics/circuits.py
  tests/builders/test_tf_coils.py
Labels: tf_coil, optimisation, usability
