Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-06, with the labels that each got.

#2292 🎨 Small example improvements
  documentation/source/examples.rst
  documentation/source/radiation_transport/advection_transport.rst
  examples/design/simple_reactor.ex.py
  examples/geometry/geometry_tutorial.ex.py
  examples/geometry/plane_placement_tutorial.ex.py
  examples/magnetostatics/finite_element_2D_single_coil.ex.py
  examples/radiation_transport/heat_flux_calculation.ex.py
  examples/radiation_transport/heat_flux_calculation_DN.ex.py
Labels: documentation, examples

#2289 🐛 Fix show cad and rearrange typing
  bluemira/codes/_freecadapi.py
  bluemira/codes/_polyscope.py
  bluemira/display/displayer.py
Labels: bug, cad, display

#2316 📝 Update roadmap
  documentation/source/bluemira-roadmap-dark.svg
  documentation/source/bluemira-roadmap.svg
Labels: bluemira_strategy

#2339 Fix docstring indentation
  bluemira/geometry/parameterisations.py
  examples/geometry/optimisation_tutorial.ex.py
Labels: optimisation

#2334 Add check constraints options to optimise_geometry
  bluemira/optimisation/_geometry/optimise.py
  bluemira/optimisation/_geometry/problem.py
Labels: optimisation

#2342 Correct signed distance function docstrings
  bluemira/geometry/tools.py
Labels: documentation, geometry

#2350 Remove `EQ_FOLDER`
  bluemira/equilibria/equilibrium.py
Labels: equilibria, quality

#2331 Make keep-out zones more customisable
  bluemira/optimisation/__init__.py
  bluemira/optimisation/_geometry/_tools.py
  bluemira/optimisation/_geometry/optimise.py
  bluemira/optimisation/_geometry/problem.py
  tests/optimisation/geometry/test_geometry.py
Labels: optimisation

#2336 Fix returning initial value and not previous iteration on round-off error
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimiser.py
  tests/optimisation/test_nlopt.py
Labels: optimisation

#2363 Improve optimisation module error handling
  bluemira/optimisation/_nlopt/optimiser.py
  tests/optimisation/test_nlopt.py
Labels: optimisation

#2366 Add `force_wire_to_spline`
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  tests/geometry/test_data/vvts_face_polygon_test.json
  tests/geometry/test_tools.py
Labels: geometry

#2160 Integrate upper and equatorial ports in EU-DEMO
  eudemo/config/FirstWallDesign.json
  eudemo/config/PFCoilDesign.json
  eudemo/config/TFCoilDesign.json
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/duct_connection.py
  eudemo/eudemo/maintenance/equatorial_port.py
  eudemo/eudemo/maintenance/upper_port.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tools.py
  eudemo/eudemo/vacuum_vessel.py
  eudemo/eudemo_tests/maintenance/test_duct_connection.py
  eudemo/eudemo_tests/test_maintenance.py
Labels: EU-DEMO

#2381 Enforce ij indexing in `surface_fit`
  bluemira/utilities/fit_tools.py
Labels: utilities

#2382 Add `EquilibriumManager` to EU-DEMO and fix PF coil bounds (crudely)
  eudemo/config/PFCoilDesign.json
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
Labels: equilibria, EU-DEMO, pf_coil

#2386 🐛 Fix FETCH_HEAD bug
  .github/workflows/ci.yml
Labels: continuous_integration

#2379 ✨ Max column size for tabulated ParameterFrame
  bluemira/base/constants.py
  bluemira/base/parameter_frame/_frame.py
Labels: base
