Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-02, with the labels that each got.

#1865 Add `KuiroukidisLCFS(GeometryParameterisation)`
  bluemira/equilibria/shapes.py
Labels: geometry, equilibria

#1769 Remove scipy optimisation from FEM fixed boundary solve
  bluemira/equilibria/fem_fixed_boundary/utilities.py
Labels: equilibria, optimisation

#1867 Add Greens functions for dpsi/dx and dpsi/dz
  bluemira/base/constants.py
  bluemira/magnetostatics/greens.py
  documentation/source/magnetostatics/magnetostatics.rst
  tests/magnetostatics/test_greens.py
Labels: magnetostatics

#1912 ⬆️ Update gh-action get-workflow-origin dep
  .github/workflows/comments.yml
Labels: dependencies, github_actions

#1892 Add PLASMOD post-processing flux function hack
  bluemira/codes/plasmod/api/_plotting.py
  bluemira/codes/plasmod/api/_solver.py
Labels: codes

#1920 Fix equation docstring rendering in magnetostatics API documentation
  bluemira/magnetostatics/greens.py
Labels: documentation

#1853 ✨ External Codes example
  bluemira/base/parameter_frame/_frame.py
  bluemira/codes/interface.py
  documentation/source/examples.rst
  examples/codes/ext_code_script.py
  examples/codes/external_code.ex.py
  tests/base/parameterframe/test_parameterframe.py
Labels: examples, codes

#1937 Add `ManickamLCFS` and `CunninghamLCFS` geometry parameterisations
  bluemira/equilibria/shapes.py
  tests/equilibria/test_shapes.py
Labels: geometry, equilibria

#1941 Add `ZakharovLCFS` and tests
  bluemira/equilibria/shapes.py
  tests/equilibria/test_flux_surfaces.py
  tests/equilibria/test_shapes.py
Labels: geometry, equilibria

#1965 Avoid dolfin bug in EUDEMO
  eudemo/config/build_config.json
Labels: bug, EU-DEMO

#1942 Add ITER-like gravity support CAD
  bluemira/builders/coil_supports.py
  tests/builders/test_coil_supports.py
Labels: geometry, EU-DEMO, build_stage

#1946 Add simple `PFCoilSupportBuilder` (updated)
  bluemira/builders/coil_supports.py
  tests/builders/test_coil_supports.py
Labels: geometry, EU-DEMO, build_stage

#1968 Add `mirror_shape`
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: geometry

#1982 Fix connection length calculation when using `Coordinates`
  bluemira/equilibria/flux_surfaces.py
  tests/equilibria/test_flux_surfaces.py
Labels: bug, equilibria
