Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2023-09, with the labels that each got.

#2484 Improve robustness of FEM solver
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
Labels: equilibria

#2591 🐛 Fix freecad shape linking for saving
  bluemira/codes/_freecadapi.py
  tests/codes/test_freecadapi.py
  tests/geometry/test_data/test_circ.stp
Labels: bug, cad, codes

#2595 `CircularArcCurrentSource` API fixed to degrees, not radians
  bluemira/magnetostatics/circular_arc.py
  documentation/source/magnetostatics/doc_circular.py
  examples/magnetostatics/helmholtz_example.ex.py
  tests/magnetostatics/test_circuits.py
  tests/magnetostatics/test_circular_arc.py
Labels: bug, magnetostatics

#2594 `TrapezoidalPrismCurrentSource` bugfixes and API changed to degrees, not radians
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/trapezoidal_prism.py
  documentation/source/magnetostatics/doc_trapezoidal.py
  tests/magnetostatics/test_circuits.py
  tests/magnetostatics/test_trapezoidal_prism.py
Labels: bug, magnetostatics

#2597 `BiotSavartFilament` plotting fixed
  bluemira/magnetostatics/biot_savart.py
  tests/magnetostatics/test_biot_savart.py
Labels: bug, magnetostatics

#2599 Fix `BluemiraWire.vertexes` for 3-vertex wire.
  bluemira/geometry/wire.py
  tests/geometry/test_wire.py
Labels: bug, geometry

#2541 Changes to fix J. Roff issues
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
Labels: bug, cad

#2620 EUDEMO params.json fix: weird choice of unit for isentropic efficiency...
  eudemo/config/params.json
Labels: bug, EU-DEMO, powercycle

#2640 🔧 Move over to setuptools-scm from versioneer
  .github/workflows/ci.yml
  bluemira/__init__.py
  bluemira/_version.py
  documentation/source/conf.py
  pyproject.toml
  setup.py
Labels: bluemira_strategy, release

#2641 Add `FixedPlasmaEquilibrium` for loading fixed boundary EQDSKs.
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/profiles.py
  tests/equilibria/test_equilibrium.py
Labels: equilibria

#2344 2D Neutronics module
  .gitignore
  CITATION.cff
  bluemira/equilibria/physics.py
  bluemira/neutronics/README.md
  bluemira/neutronics/__init__.py
  bluemira/neutronics/constants.py
  bluemira/neutronics/make_geometry.py
  bluemira/neutronics/make_materials.py
  bluemira/neutronics/materials_definition.py
  bluemira/neutronics/neutronics_axisymmetric.py
  bluemira/neutronics/params.py
  bluemira/neutronics/result_presentation.py
  bluemira/neutronics/tallying.py
  bluemira/neutronics/volume_functions.py
  conda/environment.yml
  documentation/source/examples.rst
  examples/radiation_transport/blanket_face.npy
  examples/radiation_transport/divertor_face.npy
  examples/radiation_transport/neutronics.ex.py
  pyproject.toml
  scripts/install-openmc.sh
Labels: neutronics
