Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-11, with the labels that each got.

#3624 Core radiation fix
  bluemira/radiation_transport/radiation_profile.py
  bluemira/radiation_transport/radiation_tools.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  tests/radiation_transport/test_radiation_profile.py
  tests/radiation_transport/test_radiation_tools.py
Labels: bug, enhancement, radiation_transport

#3686 CI report comments fix
  .github/workflows/ci.yml
  .github/workflows/comments.yml
Labels: continuous_integration

#3687 Changed comments workflow to pickup new test-report.json
  .github/workflows/comments.yml
Labels: continuous_integration

#3697 Papercut: Add docstrings for equations
  bluemira/geometry/tools.py
  bluemira/utilities/tools.py
Labels: utilities, geometry, quality

#3704 🐛 Missed EQSummary use
  eudemo/eudemo/equilibria/_designer.py
Labels: bug, EU-DEMO

#3304 ⬆️ FreeCAD v1
  .github/workflows/actions/build/action.yml
  bluemira/codes/_freecadapi.py
  bluemira/codes/_freecadconfig.py
  bluemira/codes/pivy.patch
  bluemira/display/auto_config.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/geometry/compound.py
  bluemira/geometry/face.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/magnetostatics/fem_utils.py
  bluemira/magnetostatics/finite_element_2d.py
  conda/environment.yml
  examples/geometry/geometry_tutorial.ex.py
  pyproject.toml
  requirements/conda.txt
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
  tests/builders/test_tools.py
  tests/codes/test_freecadapi.py
  tests/equilibria/fem_fixed_boundary/test_fem_utils.py
  tests/equilibria/test_shapes.py
  tests/geometry/test_bound_box.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_data/test_circleg.stp
  tests/geometry/test_face.py
  tests/geometry/test_geometry.py
  tests/geometry/test_offset.py
  tests/geometry/test_orientation.py
  tests/geometry/test_tools.py
Labels: cad, dependencies

#3714 Checks for bluemira capitalisation only at start of sentences
  .github/workflows/check_release_due.yml
  bluemira/base/reactor.py
  bluemira/codes/interface.py
  bluemira/codes/process/_setup.py
  bluemira/equilibria/find_legs.py
  bluemira/geometry/placement.py
  bluemira/geometry/plane.py
  bluemira/geometry/tools.py
  bluemira/materials/tools.py
  documentation/developer/adr/0005-record-cache-vs-recreate.md
  documentation/source/base/parameter.rst
  documentation/source/developer/logging.rst
  documentation/source/developer/release_workflow.rst
  documentation/source/introduction.rst
  documentation/source/optimisation/optimisation_doc.rst
  documentation/source/radiation_transport/radiation.rst
  documentation/source/utilities/utilities.rst
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_use.ex.py
  scripts/run_examples.py
Labels: quality
