Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-12, with the labels that each got.

#3724 👷 Fix examples CI
  .github/workflows/examples.yml
Labels: continuous_integration

#3715 👷 Remove CI warning
  .github/workflows/actions/build/action.yml
Labels: continuous_integration

#3693 Papercut add control coil test
  tests/equilibria/test_constraint_functions.py
  tests/equilibria/test_constraints.py
Labels: equilibria, tests

#3727 Add Equations/References in docstring : Sprint 22
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_tools.py
  bluemira/geometry/coordinates.py
  bluemira/materials/mixtures.py
  bluemira/radiation_transport/radiation_tools.py
Labels: documentation, quality

#3681 Adding toroidal harmonic notebooks
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/utilities/tools.py
  documentation/source/examples.rst
  examples/equilibria/single_wire_field_toroidal_harmonics.ex.py
  examples/equilibria/single_wire_output_image.png
  examples/equilibria/toroidal_harmonics_component_function_verification.ex.py
  tests/equilibria/test_harmonics.py
Labels: enhancement, equilibria

#3739 Need x_p in get_single_null_legs, cannot be None.
  bluemira/equilibria/find_legs.py
Labels: equilibria, quality

#3740 Ocean/pc kallenbach removal
  bluemira/codes/process/model_mapping.py
Labels: quality, upstream

#3742 🎨 Make fuel cycle model random and deterministic
  bluemira/fuel_cycle/lifecycle.py
  bluemira/fuel_cycle/timeline.py
  bluemira/fuel_cycle/timeline_tools.py
  bluemira/utilities/tools.py
  examples/fuel_cycle/EUDEMO_fuelcycle.ex.py
  tests/fuel_cycle/test_tools.py
Labels: bug, fuelcycle

#3741 Add titles to all test plots
  bluemira/display/plotter.py
  conftest.py
  tests/_helpers.py
  tests/base/test_file.py
  tests/base/test_look_and_feel.py
  tests/base/test_reactor.py
  tests/codes/plasmod/test_solver.py
  tests/display/test_plotter.py
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
  tests/equilibria/fem_fixed_boundary/test_fem_magnetostatic_2D.py
  tests/equilibria/test_optimisation.py
  tests/radiation_transport/test_advective_transport.py
  tests/structural/test_crosssection.py
Labels: quality, tests
