Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-08, with the labels that each got.

#3489 add how to render docs locally to faq section of docs
  documentation/source/developer/faq.rst
Labels: documentation

#3494 🐛 Fix missing cocos from examples
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
  examples/radiation_transport/heat_flux_calculation.ex.py
Labels: bug, examples

#3486 🎨 Structural cleanup
  bluemira/structural/constants.py
  bluemira/structural/crosssection.py
  bluemira/structural/element.py
  bluemira/structural/geometry.py
  bluemira/structural/loads.py
  bluemira/structural/model.py
  bluemira/structural/node.py
  bluemira/structural/plotting.py
  bluemira/structural/result.py
  bluemira/structural/symmetry.py
  tests/structural/test_loads.py
Labels: structural

#3490 ✨ Install process in CI
  .github/workflows/actions/process/action.yml
  .github/workflows/ci.yml
  tests/radiation_transport/test_radiation_profile.py
Labels: continuous_integration, tests

#3506 Added an option to configure the confinement time in RadiationSource
  bluemira/radiation_transport/radiation_profile.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  tests/radiation_transport/test_radiation_profile.py
Labels: radiation_transport

#3505 Improve wall detector structure #3437 (Papercut)
  bluemira/radiation_transport/radiation_tools.py
  tests/radiation_transport/test_radiation_profile.py
Labels: radiation_transport

#3519 🐛 Wrong sign for check
  bluemira/fuel_cycle/cycle.py
Labels: bug, fuelcycle

#3532 🐛 Fix radiation_transport example and add examples to CI
  .github/workflows/examples.yml
  bluemira/base/parameter_frame/_frame.py
  bluemira/radiation_transport/midplane_temperature_density.py
  bluemira/radiation_transport/radiation_tools.py
  examples/magnetostatics/finite_element_2D_single_coil.ex.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  tests/base/test_builder.py
Labels: bug, radiation_transport

#3534 fix to write_csv typing and removed extra indent for adding col_names
  bluemira/utilities/tools.py
Labels: bug, utilities

#3272 Remove some repetition from Greens
  bluemira/magnetostatics/greens.py
Labels: magnetostatics, quality

#3454 Thread in semianalytic psi into coil calculations
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/equilibrium.py
  bluemira/magnetostatics/semianalytic_2d.py
  tests/equilibria/test_coils.py
Labels: magnetostatics, equilibria

#3549 ✨ INFO and greater to stdout WARNING and less to stderr
  bluemira/base/logs.py
Labels: base

#3535 ✅ Extra greens test
  tests/magnetostatics/test_greens.py
Labels: magnetostatics, tests

#3493 👷 Use uv to pin dependencies
  .github/workflows/pin_dependencies.yml
  CODEOWNERS
  conda/environment.yml
  pyproject.toml
  requirements-develop.txt
  requirements-examples.txt
  requirements.txt
  requirements/conda.txt
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
  scripts/update_dependencies.sh
Labels: continuous_integration, dependencies

#3566 👷 Add dependabot helper CI
  .github/workflows/dependabot_helper.yml
Labels: continuous_integration
