Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-04, with the labels that each got.

#3152 👷 Split out CI into many jobs
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/dependencies_PR/action.yml
  .github/workflows/actions/permission_check/action.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies_pr.yml
  .github/workflows/examples.yml
  .github/workflows/ff.yml
  .github/workflows/release.yml
  conda/environment.yml
  scripts/install-conda.sh
Labels: continuous_integration

#3165 🐛 Catch pyvista segfault
  examples/magnetostatics/finite_element_2D_single_coil.ex.py
  scripts/run_examples.py
Labels: continuous_integration

#3166 🩺 Ignore numba coverage
  pyproject.toml
Labels: continuous_integration

#3130 Sweep shape API additions
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Labels: geometry, cad

#3171 🧱 Missed pinning of c-blosc2
  conda/environment.yml
Labels: continuous_integration, dependencies

#3170 🐛 Fix ordering of PROCESS impurity data outputs
  bluemira/codes/process/api.py
  tests/codes/process/test_api.py
Labels: bug, codes

#3190 ✨ Add functionality to add custom mapping when running process #3174: Rebirth
  bluemira/codes/process/_solver.py
  bluemira/codes/wrapper.py
Labels: enhancement, codes

#3195 Make update_dependencies.sh executable
  scripts/update_dependencies.sh
Labels: installation, repository management

#3208 🚨 Reduce warnings in tests
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/find.py
  bluemira/equilibria/plasma.py
  bluemira/magnetostatics/semianalytic_2d.py
Labels: enhancement, quality, tests

#3193 SH changes
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Labels: bug, enhancement, equilibria

#2224 Radiation source model and coupling with cherab
  bluemira/base/constants.py
  bluemira/radiation_transport/flux_surfaces_maker.py
  bluemira/radiation_transport/midplane_temperature_density.py
  bluemira/radiation_transport/radiation_profile.py
  bluemira/radiation_transport/radiation_tools.py
  documentation/source/radiation_transport/T_drop_det.PNG
  documentation/source/radiation_transport/core_profiles_formula.PNG
  documentation/source/radiation_transport/exp_detachment.PNG
  documentation/source/radiation_transport/no_detachment.PNG
  documentation/source/radiation_transport/pitcher_schematic.PNG
  documentation/source/radiation_transport/radiation.rst
  documentation/source/radiation_transport/radiation_transport.rst
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  pyproject.toml
  requirements.txt
  tests/radiation_transport/test_radiation_profile.py
Labels: radiation_transport

#3216 🐛 Bool -> boolean in CI
  .github/workflows/actions/build/action.yml
  .github/workflows/release.yml
Labels: bug, continuous_integration

#3188 Fix to incorrect PolyhedralPrismCurrentSource behaviour when inputted XS is in global not local coordinates
  bluemira/magnetostatics/polyhedral_prism.py
  tests/magnetostatics/test_polyhedral_prism.py
Labels: bug, magnetostatics

#3235 🐛 Hacky fix for CAD rotation saving bug
  bluemira/codes/_freecadapi.py
Labels: bug, cad

#3168 Move materials changes from neutronics feature branch
  bluemira/base/reactor.py
  bluemira/materials/cache.py
  bluemira/materials/constants.py
  bluemira/materials/material.py
  bluemira/materials/mixtures.py
  bluemira/materials/tools.py
  bluemira/utilities/tools.py
  data/materials/materials.json
  data/materials/mixtures.json
  documentation/source/materials/materials.rst
  examples/materials/material_definitions.ex.py
  pyproject.toml
  requirements.txt
  tests/materials/test_material.py
  tests/materials/test_mixtures.py
Labels: materials
