Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-06, with the labels that each got.

#3295 🎨 Improve plotting styles for equilibria
  bluemira/display/plotter.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/plotting.py
  bluemira/radiation_transport/advective_transport.py
  bluemira/radiation_transport/radiation_profile.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
Labels: enhancement, equilibria

#2891 Fix units and unit-conversion factors
  bluemira/base/constants.py
  bluemira/fuel_cycle/cycle.py
  bluemira/fuel_cycle/lifecycle.py
  bluemira/fuel_cycle/timeline.py
  bluemira/fuel_cycle/tools.py
  bluemira/plasma_physics/collisions.py
  bluemira/plasma_physics/reactions.py
  bluemira/plasma_physics/rules_of_thumb.py
Labels: quality

#3319 🎨 Clearer naming wrt ib/ob, upper/lower and hfs/lfs
  bluemira/radiation_transport/advective_transport.py
  tests/radiation_transport/test_advective_transport.py
Labels: radiation_transport

#3333 Adding more unit tests to radiation source model
  tests/radiation_transport/test_radiation_profile.py
  tests/radiation_transport/test_radiation_tools.py
Labels: radiation_transport, tests

#3335 Tests for advective transport in radiation transport
  tests/radiation_transport/test_advective_transport.py
Labels: radiation_transport, tests

#3318 Changed the cutting method of the divertor
  bluemira/codes/openmc/make_csg.py
  bluemira/radiation_transport/neutronics/make_pre_cell.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  bluemira/radiation_transport/neutronics/slicing.py
Labels: bug, neutronics

#3334 Upload artifacts v4
  .github/workflows/ci.yml
Labels: continuous_integration, quality

#3336 🎨 Smooth filled contour edges for LCFS
  bluemira/equilibria/plotting.py
  bluemira/utilities/plot_tools.py
Labels: equilibria, quality

#3337 ✨ Add loft to freecadapi and geometry
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  tests/geometry/test_sweep.py
Labels: geometry, cad

#3356 Import coilset details from eqdsk if available
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/file.py
  bluemira/utilities/tools.py
  tests/equilibria/test_equilibrium.py
Labels: enhancement, equilibria

#3292 SymmetricCircuits & Current opt state vector reduction
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  documentation/source/equilibria/doc_magnetic_constraints.py
  documentation/source/equilibria/doc_parametric_constraints.py
  tests/equilibria/test_harmonics.py
  tests/equilibria/test_optimiser.py
Labels: enhancement, equilibria

#3362 Add more tests for radiation source model
  tests/radiation_transport/test_radiation_profile.py
Labels: 📜 Papercut

#3393 🚚 Move string coordinates simplification
  bluemira/geometry/coordinates.py
  eudemo/eudemo/blanket/panelling/_paneller.py
  eudemo/eudemo/blanket/panelling/_pivot_string.py
  eudemo/eudemo_tests/blanket/panelling/test_pivot_string.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_data/panelling_ref_data.npy
Labels: geometry

#3396 ✨ Add Neutronics Manager to eudemo
  eudemo/config/build_config.json
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
Labels: EU-DEMO, neutronics

#3397 Add the ability to reconstruct stellarator plasma boundary in cad form
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Labels: enhancement, cad

#3386 ✨ Test Documentation code snippets
  .github/workflows/ci.yml
  bluemira/base/components.py
  bluemira/base/reactor.py
  bluemira/base/reactor_config.py
  conftest.py
  documentation/source/base/components.rst
  documentation/source/base/design_build.rst
  documentation/source/base/parameter.rst
  documentation/source/codes/codes.rst
  documentation/source/developer/logging.rst
  documentation/source/geometry/overview.rst
  documentation/source/materials/materials.rst
  documentation/source/mesh/mesh.rst
  documentation/source/optimisation/geometry.rst
  documentation/source/optimisation/optimisation_doc.rst
  pyproject.toml
  requirements-develop.txt
  tests/_helpers.py
  tests/geometry/test_coordinates.py
Labels: documentation, continuous_integration, tests

#3305 🏷️ More typing improvements
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/builder.py
  bluemira/base/components.py
  bluemira/base/designer.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/typing.py
  bluemira/base/reactor.py
  bluemira/base/reactor_config.py
  bluemira/builders/coil_supports.py
  bluemira/builders/cryostat.py
  bluemira/builders/divertor.py
  bluemira/builders/pf_coil.py
  bluemira/builders/plasma.py
  bluemira/builders/radiation_shield.py
  bluemira/builders/tf_coils.py
  bluemira/builders/thermal_shield.py
  bluemira/builders/tools.py
  bluemira/display/plotter.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plotting.py
  bluemira/geometry/base.py
  bluemira/geometry/face.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
Labels: quality

#3391 🐛 Catch debug folder path doesnt exist
  bluemira/base/logs.py
  bluemira/geometry/tools.py
  tests/geometry/test_tools.py
Labels: bug, geometry
