Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-10, with the labels that each got.

#3626 Control coils missing
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
Labels: bug, equilibria, optimisation

#3632 Remove old mambaforge references
  .readthedocs.yaml
  documentation/source/installation.rst
  scripts/install-process.sh
Labels: bug, installation

#3630 Fix display todo for faces
  bluemira/display/plotter.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/face.py
  bluemira/utilities/tools.py
Labels: enhancement, display

#3633 🎨 Add sources to sourceless input params
  bluemira/base/parameter_frame/_frame.py
  bluemira/codes/process/_teardown.py
  bluemira/codes/process/api.py
  eudemo/config/params.json
  eudemo/eudemo/neutronics/run.py
Labels: EU-DEMO

#3635 Renamed the _data_to_plot attribute variable.
  bluemira/display/plotter.py
Labels: display

#3639 another miss🤦‍♂️
  .github/workflows/examples.yml
  scripts/install-conda.sh
Labels: bug, installation

#3616 Changes to get flux_surfaces and find_legs
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  tests/equilibria/test_find.py
  tests/equilibria/test_flux_surfaces.py
Labels: enhancement, equilibria

#3642 Select fs for sh fit metric
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  documentation/source/examples.rst
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_use.ex.py
  tests/equilibria/test_harmonics.py
Labels: equilibria

#3643 📌 Max pin on eqdsk
  pyproject.toml
Labels: dependencies, python

#3634 Lao polynomial fixes
  bluemira/equilibria/profiles.py
  documentation/source/equilibria/equilibria.rst
Labels: bug, equilibria

#3644 DOI autolinking
  CONTRIBUTING.md
  bluemira/equilibria/num_control.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/shapes.py
  bluemira/fuel_cycle/lifecycle.py
  bluemira/magnetostatics/circular_arc.py
  bluemira/magnetostatics/finite_element_2d.py
  bluemira/magnetostatics/polyhedral_prism.py
  bluemira/magnetostatics/semianalytic_2d.py
  bluemira/magnetostatics/trapezoidal_prism.py
  bluemira/materials/material.py
  bluemira/plasma_physics/reactions.py
  bluemira/plasma_physics/rules_of_thumb.py
  bluemira/plasma_physics/scaling_laws.py
  bluemira/radiation_transport/neutronics/constants.py
  documentation/source/conf.py
  documentation/source/fuel_cycle/fuel_cycle.rst
  documentation/source/magnetostatics/magnetostatics.rst
  examples/equilibria/fem_fixed_boundary/fem_boundary_conditions_example.py
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
  tests/magnetostatics/test_semianalytic_2d.py
  tests/magnetostatics/test_trapezoidal_prism.py
  tests/plasma_physics/test_rules_of_thumb.py
  tests/plasma_physics/test_scaling_laws.py
Labels: documentation

#3529 Ruff TODO fixes
  bluemira/base/components.py
  bluemira/builders/tf_coils.py
  bluemira/builders/thermal_shield.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/openmc/make_csg.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  bluemira/display/plotter.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/profiles.py
  bluemira/geometry/base.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/finite_element_2d.py
  bluemira/materials/material.py
  bluemira/mesh/meshing.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/slicing.py
  bluemira/radiation_transport/neutronics/wires.py
  bluemira/structural/element.py
  bluemira/structural/model.py
  bluemira/structural/transformation.py
  examples/codes/run_process_example.ex.py
  examples/materials/material_definitions.ex.py
  pyproject.toml
  tests/codes/test_freecadapi.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_constraint_functions.py
  tests/geometry/test_geometry.py
  tests/geometry/test_offset.py
  tests/geometry/test_tools.py
  tests/optimisation/geometry/test_geometry.py
Labels: documentation, quality

#3674 Add check as we are assuming mid plane
  bluemira/equilibria/find_legs.py
Labels: equilibria

#3677 🎨 Improve install script
  scripts/install-conda.sh
Labels: installation
