Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-05, with the labels that each got.

#3237 CSV Writer
  bluemira/utilities/tools.py
  tests/utilities/test_data/test_csv_writer.csv
  tests/utilities/test_data/test_csv_writer.txt
  tests/utilities/test_tools.py
Labels: enhancement, utilities

#3079 Increase CSG speed without compromising on flexibility
  bluemira/geometry/coordinates.py
  bluemira/geometry/plane.py
  bluemira/geometry/tools.py
  bluemira/neutronics/constants.py
  bluemira/neutronics/execution.py
  bluemira/neutronics/full_tokamak.py
  bluemira/neutronics/make_csg.py
  bluemira/neutronics/make_geometry.py
  bluemira/neutronics/make_materials.py
  bluemira/neutronics/make_pre_cell.py
  bluemira/neutronics/neutronics_axisymmetric.py
  bluemira/neutronics/params.py
  bluemira/neutronics/radial_wall.py
  bluemira/neutronics/result_presentation.py
  bluemira/neutronics/slicing.py
  bluemira/neutronics/tallying.py
  bluemira/neutronics/volume_functions.py
  bluemira/neutronics/wires.py
  examples/radiation_transport/data/blanket_face
  examples/radiation_transport/data/divertor_face
  examples/radiation_transport/data/divertor_face.correct.json
  examples/radiation_transport/data/fw_panels_10_0.1.npy
  examples/radiation_transport/data/fw_panels_25_0.1.npy
  examples/radiation_transport/data/fw_panels_25_0.3.npy
  examples/radiation_transport/data/fw_panels_50_0.3.npy
  examples/radiation_transport/data/fw_panels_50_0.5.npy
  examples/radiation_transport/data/inner_boundary
  examples/radiation_transport/data/outer_boundary
  examples/radiation_transport/neutronics.ex.py
  examples/radiation_transport/test_script.py
Labels: neutronics

#3231 Neutronics Solver interface
  bluemira/neutronics/execution.py
  bluemira/neutronics/make_geometry.py
  bluemira/neutronics/make_materials.py
  bluemira/neutronics/neutronics_axisymmetric.py
  bluemira/neutronics/params.py
  bluemira/neutronics/result_presentation.py
  bluemira/neutronics/solver.py
  bluemira/neutronics/sources.py
  bluemira/neutronics/tallying.py
  bluemira/radiation_transport/error.py
  examples/radiation_transport/blanket_face.npy
  examples/radiation_transport/divertor_face.npy
  examples/radiation_transport/test_script.py
Labels: neutronics

#3257 ⚡️ Increase number of artifacts requested for PR comments
  .github/workflows/comments.yml
Labels: continuous_integration

#3240 📝 Roadmap update
  README.md
  documentation/source/bluemira-roadmap-dark.svg
  documentation/source/bluemira-roadmap.svg
  documentation/source/introduction.rst
Labels: bluemira_strategy

#3264 🩹 Pre release minor fixes
  .github/workflows/comments.yml
  .github/workflows/examples.yml
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/logs.py
  bluemira/base/look_and_feel.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/builders/tf_coils.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  examples/codes/run_process_example.ex.py
Labels: quality

#3265 Remove duplicate flux surface code from radiation_transport
  bluemira/radiation_transport/advective_transport.py
  bluemira/radiation_transport/flux_surfaces_maker.py
  tests/radiation_transport/test_advective_transport.py
Labels: radiation_transport, quality

#3239 Neutronics EUDEMO integration
  .gitignore
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/make_csg.py
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  bluemira/geometry/tools.py
  bluemira/neutronics/README.md
  bluemira/neutronics/neutronics_axisymmetric.py
  bluemira/radiation_transport/neutronics/__init__.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/geometry.py
  bluemira/radiation_transport/neutronics/make_pre_cell.py
  bluemira/radiation_transport/neutronics/materials.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  bluemira/radiation_transport/neutronics/radial_wall.py
  bluemira/radiation_transport/neutronics/slicing.py
  bluemira/radiation_transport/neutronics/wires.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/neutronics/__init__.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  eudemo/eudemo_tests/blanket/test_designer.py
  examples/radiation_transport/data/blanket_face
  examples/radiation_transport/data/divertor_face
  examples/radiation_transport/data/divertor_face.correct.json
  examples/radiation_transport/data/fw_panels_10_0.1.npy
  examples/radiation_transport/data/fw_panels_25_0.1.npy
  examples/radiation_transport/data/fw_panels_25_0.3.npy
  examples/radiation_transport/data/fw_panels_50_0.3.npy
  examples/radiation_transport/data/fw_panels_50_0.5.npy
  examples/radiation_transport/data/inner_boundary
  examples/radiation_transport/data/outer_boundary
  examples/radiation_transport/neutronics.ex.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  examples/radiation_transport/test_script.py
  pyproject.toml
  scripts/install-openmc.sh
Labels: neutronics

#3275 Improve tallies
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  eudemo/eudemo/neutronics/run.py
Labels: neutronics

#3267 Typing fixes
  bluemira/display/palettes.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/file.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/profiles.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/tools.py
  bluemira/utilities/tools.py
  tests/geometry/test_coordinates.py
Labels: quality

#2656 ✨ 2D Neutronics feature branch
  .gitignore
  CITATION.cff
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/make_csg.py
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  bluemira/equilibria/physics.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/plane.py
  bluemira/geometry/tools.py
  bluemira/radiation_transport/error.py
  bluemira/radiation_transport/neutronics/__init__.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/geometry.py
  bluemira/radiation_transport/neutronics/make_pre_cell.py
  bluemira/radiation_transport/neutronics/materials.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  bluemira/radiation_transport/neutronics/radial_wall.py
  bluemira/radiation_transport/neutronics/slicing.py
  bluemira/radiation_transport/neutronics/wires.py
  conda/environment.yml
  eudemo/README.md
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/neutronics/__init__.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  eudemo/eudemo_tests/blanket/test_designer.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.py
  pyproject.toml
  requirements.txt
  scripts/install-openmc.sh
  scripts/openmc_data_download/__init__.py
  scripts/openmc_data_download/multithreaded_download.py
  scripts/openmc_data_download/neutronics_data_downloader.py
  scripts/openmc_data_download/nuclear_data_isotopes.json
  scripts/openmc_data_download/nuclear_data_isotopes_example.json
Labels: neutronics

#3288 🐛 Fix helmholz example
  bluemira/magnetostatics/circular_arc.py
  bluemira/magnetostatics/polyhedral_prism.py
  bluemira/magnetostatics/trapezoidal_prism.py
Labels: bug, magnetostatics

#3290 ✅ Fix process race condition in test
  tests/codes/process/utilities.py
Labels: bug, codes, tests

#3289 🐛 Fix radiation transport tests
  bluemira/radiation_transport/flux_surfaces_maker.py
Labels: bug, radiation_transport

#3296 added hatch plot opt to FacePlotter
  bluemira/display/plotter.py
Labels: geometry
