Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-07, with the labels that each got.

#3414 🐛 Fix fork test selection
  conftest.py
  tests/balance_of_plant/test_data/sankey_test.png
  tests/balance_of_plant/test_plotting.py
Labels: bug, continuous_integration

#3365 add some tests for flux surface maker
  bluemira/radiation_transport/flux_surfaces_maker.py
  tests/radiation_transport/test_flux_surface_maker.py
Labels: radiation_transport, tests

#3432 🐛 Fix image links in introduction
  .github/workflows/documentation-preview.yml
  documentation/source/base/design_build.dot
Labels: documentation, quality

#3434 FilterMaterial typing fix
  bluemira/base/reactor.py
Labels: quality

#3394 Add radiation tools tests
  bluemira/radiation_transport/radiation_tools.py
  tests/radiation_transport/test_radiation_profile.py
  tests/radiation_transport/test_radiation_tools.py
Labels: radiation_transport

#3435 🐛 Log newlines when needed
  bluemira/base/logs.py
  tests/base/test_look_and_feel.py
Labels: quality

#3448 Geom opt typing
  bluemira/geometry/optimisation/typing.py
Labels: geometry

#3450 🐛 Fix sonarcloud quality bug
  tests/radiation_transport/test_radiation_profile.py
Labels: bug

#3449 🐛 Fix logging setup
  bluemira/base/logs.py
Labels: bug, base

#3451 Split out force constraint calculations into separate functions
  bluemira/equilibria/optimisation/constraint_funcs.py
Labels: enhancement, equilibria, optimisation

#3436 (Few) Complete docstrings for physics/equation based functions
  bluemira/balance_of_plant/calculations.py
  bluemira/equilibria/coils/_coil.py
  bluemira/geometry/coordinates.py
  bluemira/magnetostatics/greens.py
  bluemira/magnetostatics/semianalytic_2d.py
  bluemira/plasma_physics/collisions.py
  bluemira/structural/element.py
Labels: quality

#3467 Minor improvements to revolving and bspline use
  bluemira/geometry/tools.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  tests/geometry/test_tools.py
Labels: enhancement, geometry

#3468 🎨 Add loft arg
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Labels: cad

#3095 🐛 Enforce use of ordered edges
  bluemira/codes/_freecadapi.py
  tests/codes/test_freecadapi.py
  tests/geometry/test_geometry.py
  tests/geometry/test_tools.py
  tests/geometry/test_wire.py
Labels: bug, geometry

#3475 ⚗️ CI fix
  conda/environment.yml
Labels: continuous_integration, dependencies

#3416 🚚 Move to new eqdsk package
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/constants.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/file.py
  bluemira/equilibria/file.py
  bluemira/equilibria/find.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/limiter.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  eudemo/config/build_config.json
  eudemo/config/fixed_boundary_eqdsk.json
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo_tests/equilibria/test_designer.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/ivc/test_wall_silhouette.py
  eudemo/eudemo_tests/test_tf_coils.py
  pyproject.toml
  requirements.txt
  tests/equilibria/test_constraint_functions.py
  tests/equilibria/test_constraints.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_file.py
  tests/equilibria/test_find.py
  tests/equilibria/test_flux_surfaces.py
  tests/equilibria/test_harmonics.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_st_equilibrium.py
  tests/radiation_transport/test_advective_transport.py
  tests/radiation_transport/test_flux_surface_maker.py
  tests/radiation_transport/test_radiation_profile.py
Labels: equilibria, dependencies, upstream

#3453 Corrections and example updated for SH
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
  tests/equilibria/test_harmonics.py
Labels: equilibria

#3488 🔥 Remove old clip function
  bluemira/utilities/tools.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  tests/utilities/test_tools.py
Labels: quality

#3418 Add toroidal coordinate transform functions, tests and documentation
  bluemira/utilities/tools.py
  documentation/source/utilities/images/constant-sigma-cylindrical.png
  documentation/source/utilities/images/constant-sigma-toroidal.png
  documentation/source/utilities/images/constant-tau-cylindrical.png
  documentation/source/utilities/images/constant-tau-toroidal.png
  documentation/source/utilities/images/original-unit-circle-example.png
  documentation/source/utilities/images/toroidal-coordinates-diagram-wolfram.png
  documentation/source/utilities/images/unit-circle-back-to-cylindrical.png
  documentation/source/utilities/images/unit-circle-converted-toroidal.png
  documentation/source/utilities/utilities.rst
  tests/utilities/test_tools.py
Labels: utilities
