Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-09, with the labels that each got.

#3556 Doc201 optimisation display
  bluemira/display/auto_config.py
  bluemira/display/displayer.py
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  bluemira/display/tools.py
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_nlopt/conditions.py
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_tools.py
  bluemira/optimisation/problem.py
  pyproject.toml
Labels: documentation

#3536 🚨 EUDEMO DOC201
  bluemira/equilibria/solve.py
  bluemira/fuel_cycle/timeline_tools.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/magnetostatics/baseclass.py
  bluemira/optimisation/_optimiser.py
  documentation/source/conf.py
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/blanket/panelling/_designer.py
  eudemo/eudemo/blanket/panelling/_opt_problem.py
  eudemo/eudemo/blanket/panelling/_paneller.py
  eudemo/eudemo/coil_structure.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/equilibria/_equilibrium.py
  eudemo/eudemo/equilibria/tools.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/ivc_boundary.py
  eudemo/eudemo/ivc/plasma_face.py
  eudemo/eudemo/ivc/tools.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/maintenance/duct_connection.py
  eudemo/eudemo/maintenance/equatorial_port.py
  eudemo/eudemo/maintenance/lower_port/builder.py
  eudemo/eudemo/maintenance/lower_port/duct_designer.py
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/maintenance/upper_port.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/pf_coils/builder.py
  eudemo/eudemo/pf_coils/component_manager.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
  eudemo/eudemo/tools.py
  eudemo/eudemo/vacuum_vessel.py
  pyproject.toml
Labels: documentation

#3569 🐛 Set _eqdsk on the instance not the class
  bluemira/equilibria/equilibrium.py
Labels: bug, equilibria

#3523 Updated docs to describe Circuits and SymmetricCircuits
  documentation/source/equilibria/equilibria.rst
Labels: documentation, equilibria

#3558 Fixing heat flux corrective factor
  bluemira/radiation_transport/advective_transport.py
  tests/radiation_transport/test_advective_transport.py
Labels: bug, enhancement, radiation_transport

#3603 Add to/check for equations and references in docstrings
  bluemira/equilibria/physics.py
  bluemira/materials/material.py
  bluemira/plasma_physics/rules_of_thumb.py
Labels: documentation

#3597 Mambaforge is deprecated, replace with miniforge
  .github/workflows/actions/build/action.yml
  conda/miniforge-init.sh
  scripts/install-conda.sh
Labels: installation, continuous_integration

#3608 Fix charged particle heat flux calculation for double null case with only one mid-plane point
  bluemira/radiation_transport/advective_transport.py
Labels: bug, radiation_transport

#3518 🎨 Control coil enforcement, constraint stabilisation and general cleanup
  bluemira/codes/process/api.py
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/optimisation/constraint_funcs.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/run.py
  bluemira/utilities/tools.py
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/pf_coils/component_manager.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
  eudemo/eudemo/vacuum_vessel.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  tests/equilibria/test_harmonics.py
  tests/equilibria/test_run.py
Labels: optimisation, quality

#3615 🎨 Relax interface to geometry tools
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Labels: geometry, quality

#3613 🐛 Fix miniforge init script
  conda/miniforge-init.sh
Labels: bug, installation

#3620 🐛 Fix demo bug
  eudemo/eudemo/reactor.py
Labels: bug, EU-DEMO

#3614 🎨 Logging cleanup
  bluemira/base/logs.py
  bluemira/base/look_and_feel.py
  bluemira/codes/process/_run.py
  tests/base/test_logs.py
  tests/base/test_look_and_feel.py
Labels: base
