Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-03, with the labels that each got.

#3071 📝 More documentation on 3x3 matrices
  bluemira/geometry/coordinates.py
Labels: documentation, geometry

#3075 Fixed the :func:, :meth:, and :class: tags
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/reactor_config.py
  bluemira/codes/params.py
  bluemira/codes/plasmod/params.py
  bluemira/codes/process/_solver.py
  bluemira/codes/process/params.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/shapes.py
  bluemira/fuel_cycle/cycle.py
  bluemira/fuel_cycle/lifecycle.py
  bluemira/geometry/base.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/optimisation/problem.py
  bluemira/optimisation/_optimise.py
  bluemira/plasma_physics/rules_of_thumb.py
  bluemira/radiation_transport/advective_transport.py
  bluemira/utilities/tools.py
Labels: documentation, quality

#3053 Papercut type fixes
  bluemira/equilibria/boundary.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/utilities.py
  bluemira/equilibria/file.py
  bluemira/equilibria/find.py
  bluemira/equilibria/grad_shafranov.py
  bluemira/equilibria/limiter.py
  bluemira/equilibria/num_control.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/optimisation/constraint_funcs.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/positioner.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/shapes.py
  bluemira/equilibria/solve.py
  bluemira/geometry/parameterisations.py
Labels: quality

#3081 ✨ Add more labels for Geometry Parameterisations
  bluemira/geometry/parameterisations.py
Labels: geometry, 📜 Papercut

#2997 Constraints - add more tests
  bluemira/equilibria/optimisation/constraint_funcs.py
  tests/equilibria/test_constraint_functions.py
Labels: equilibria

#3065 Add gridded collocation option
  bluemira/equilibria/find.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  tests/equilibria/test_harmonics.py
Labels: equilibria

#3041 Recreate coilset optimisation problem example
  documentation/source/examples.rst
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
Labels: examples, equilibria, optimisation

#3127 Fixup examples
  bluemira/fuel_cycle/analysis.py
  bluemira/fuel_cycle/cycle.py
  documentation/source/examples.rst
  examples/codes/external_code.ex.py
  examples/codes/solver_example.ex.py
  examples/fuel_cycle/EUDEMO_fuelcycle.ex.py
Labels: examples

#3073 👽 Changes required for next release of PROCESS
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/_run.py
  bluemira/codes/process/_solver.py
  bluemira/codes/process/equation_variable_mapping.py
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  scripts/install-process.sh
  tests/codes/process/test_data/mfile_data.json
Labels: codes
