Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2024-01, with the labels that each got.

#2703 Feature: polyhedral cross-section current sources and a general VIM formulation of 3-D magnetostatics
  bluemira/magnetostatics/baseclass.py
  bluemira/magnetostatics/biot_savart.py
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/circular_arc.py
  bluemira/magnetostatics/polyhedral_prism.py
  bluemira/magnetostatics/trapezoidal_prism.py
  documentation/source/magnetostatics/doc_polyhedral.py
  documentation/source/magnetostatics/doc_polyhedral_planar.py
  documentation/source/magnetostatics/magnetostatics.rst
  documentation/source/magnetostatics/pic_hexagonal.png
  documentation/source/magnetostatics/pic_polyhedral_planar.png
  tests/magnetostatics/setup_methods.py
  tests/magnetostatics/test_circuits.py
  tests/magnetostatics/test_circular_arc.py
  tests/magnetostatics/test_polyhedral_prism.py
  tests/magnetostatics/test_trapezoidal_prism.py
Labels: magnetostatics

#2030 Circular baffle with angled blanket
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/plasma_face.py
  eudemo/eudemo/maintenance/lower_port/duct_designer.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/ivc/test_plasma_face.py
  eudemo/eudemo_tests/maintenance/test_lower_port.py
Labels: EU-DEMO

#2966 Improve test coverage for EQDSK saving from `Equilibrium`
  tests/equilibria/test_equilibrium.py
Labels: equilibria, tests

#2927 Sph harmonics opt
  bluemira/equilibria/opt_constraint_funcs.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/solve.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_function_check.ex.py
  tests/equilibria/test_harmonics.py
Labels: equilibria

#2978 Collate random seed setting
  bluemira/base/constants.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/fuel_cycle/timeline.py
  bluemira/fuel_cycle/timeline_tools.py
Labels: 📜 Papercut
