Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2025-08, with the labels that each got.

#4025 👷 Fix build caching
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Labels: continuous_integration

#4039 Tidying up toroidal harmonics notebooks on develop for release
  CITATION.cff
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  documentation/source/examples.rst
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  examples/equilibria/toroidal_harmonics_component_function_walkthrough_and_verification.ex.py
Labels: examples, equilibria, optimisation

#4062 👷 Dependabot sonarcloud
  .github/workflows/dependabot_helper.yml
Labels: continuous_integration

#3774 ✨ Add o-point fallback options
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  eudemo/eudemo/equilibria/_designer.py
  eudemo/eudemo/equilibria/_equilibrium.py
  tests/equilibria/test_equilibrium.py
Labels: enhancement, equilibria
