Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2025-07, with the labels that each got.

#4010 Confirmation of KALOS-ACB packing fraction
  bluemira/radiation_transport/neutronics/blanket_data.py
Labels: radiation_transport, materials, quality

#3867 Toroidal harmonics constraints
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  documentation/source/examples.rst
  examples/equilibria/single_wire_field_toroidal_harmonics.ex.py
  examples/equilibria/single_wire_output_image.png
  examples/equilibria/toroidal_harmonics_approximation_basic_use.ex.py
  examples/equilibria/toroidal_harmonics_component_function_verification.ex.py
  examples/equilibria/toroidal_harmonics_component_function_walkthrough_and_verification.ex.py
  examples/equilibria/toroidal_harmonics_full_coilset_approximation_bluemira_comparison.ex.py
  tests/equilibria/test_harmonics.py
Labels: enhancement, equilibria

#4018 More information added to radiation tools docstrings
  bluemira/radiation_transport/radiation_tools.py
Labels: documentation, radiation_transport

#4021 Papercut: comment on ```detected_power``` calculation
  bluemira/radiation_transport/radiation_tools.py
Labels: documentation, radiation_transport

#4027 Fix doc links
  bluemira/geometry/coordinates.py
  documentation/source/fuel_cycle/fuel_cycle.rst
Labels: documentation
