Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2025-04, with the labels that each got.

#3860 Papercut: Change different pint error raises
  bluemira/base/parameter_frame/_frame.py
  examples/base/params.ex.py
  tests/base/parameterframe/test_parameterframe.py
Labels: base

#3861 🐛 Stack level fix, dont override, add to
  bluemira/base/logs.py
Labels: base

#3862 👷 Print pre-commit summary to github summary
  .github/workflows/ci.yml
Labels: continuous_integration

#3863 Add labels for height top upper dz flat bottom lower for PolySpline
  bluemira/geometry/parameterisations.py
Labels: documentation, geometry, quality

#3881 Add missing space in geometry warning
  bluemira/geometry/tools.py
Labels: base, quality

#3871 Various minor bugfixes
  bluemira/base/reactor.py
  bluemira/base/tools.py
  bluemira/builders/coil_supports.py
  bluemira/builders/tf_coils.py
  bluemira/codes/_freecadapi.py
  bluemira/display/displayer.py
  bluemira/equilibria/analysis.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/solve.py
  eudemo/eudemo/ivc/wall_silhouette.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_st_equilibrium.py
Labels: enhancement, quality

#3887 🖌️ Improve structure of some eq analysis tools
  bluemira/base/parameter_frame/__init__.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/equilibria/analysis.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/plotting.py
  bluemira/utilities/tools.py
  eudemo/eudemo/equilibria/_designer.py
  tests/equilibria/test_analysis.py
Labels: enhancement, base, equilibria

#3884 Temperamental test fixes
  bluemira/equilibria/find.py
  bluemira/utilities/tools.py
  tests/base/test_look_and_feel.py
  tests/codes/plasmod/test_solver.py
  tests/equilibria/test_coils.py
  tests/geometry/test_coordinates.py
  tests/geometry/test_geometry.py
  tests/materials/test_material.py
  tests/radiation_transport/test_advective_transport.py
  tests/structural/test_geometry.py
Labels: quality, tests

#3893 ⬆️ Upgrade pivy to v0.6.10
  .github/workflows/actions/build/action.yml
  .github/workflows/examples.yml
  bluemira/codes/_freecadconfig.py
  conda/environment.yml
Labels: dependencies, upstream, python
