Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2025-01, with the labels that each got.

#3750 Handled error when making arc from 3 colinear points.
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  tests/codes/test_freecadapi.py
  tests/geometry/test_tools.py
Labels: geometry, cad

#3757 Ocean/periodic wire types fix
  bluemira/codes/_freecadapi.py
  tests/codes/test_freecadapi.py
Labels: bug, geometry, cad

#3766 👽️ Fix sphinx build
  .readthedocs.yaml
Labels: documentation, upstream

#3695 Coil Field and Force Constraints Grad Modification
  bluemira/equilibria/optimisation/constraint_funcs.py
  tests/equilibria/test_constraint_functions.py
Labels: magnetostatics, equilibria, optimisation

#3760 Shape serialisation bug, brep not done
  bluemira/codes/_freecadapi.py
  bluemira/radiation_transport/neutronics/wires.py
  tests/codes/test_freecadapi.py
Labels: bug, geometry, cad

#3680 Adding materials to DEMO
  bluemira/base/builder.py
  bluemira/builders/coil_supports.py
  bluemira/builders/cryostat.py
  bluemira/builders/divertor.py
  bluemira/builders/pf_coil.py
  bluemira/builders/radiation_shield.py
  bluemira/builders/thermal_shield.py
  bluemira/builders/tools.py
  bluemira/materials/cache.py
  eudemo/config/build_config.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/duct_connection.py
  eudemo/eudemo/maintenance/lower_port/builder.py
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
  eudemo/eudemo/vacuum_vessel.py
  eudemo/eudemo_tests/maintenance/test_upper_port.py
Labels: materials

#3696 Cad Construction Types
  bluemira/base/components.py
  bluemira/base/reactor.py
  bluemira/base/tools.py
  bluemira/builders/plasma.py
  bluemira/builders/tools.py
  bluemira/geometry/base.py
  bluemira/geometry/compound.py
  bluemira/geometry/tools.py
  bluemira/mesh/meshing.py
  conftest.py
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo/pf_coils/component_manager.py
  tests/base/test_reactor.py
Labels: cad

#3778 🚑️ Unbreak show/save/plot reactor apis
  bluemira/base/reactor.py
  tests/base/test_reactor.py
Labels: base

#3775 🎨 Princeton D fix and xfailing test
  bluemira/geometry/parameterisations.py
  tests/geometry/test_offset.py
Labels: geometry, tests

#3785 💚 Fix conda build
  requirements/conda.txt
Labels: installation, continuous_integration

#3786 🐛 Remove ismeshed check
  bluemira/mesh/meshing.py
Labels: meshing, bug

#3790 Update documentation about BluemiraWire construction
  bluemira/geometry/wire.py
  examples/geometry/geometry_tutorial.ex.py
Labels: documentation, geometry
