Repository Fusion-Power-Plant-Framework/bluemira, pull requests merged in 2025-05, with the labels that each got.

#3906 Added .value to plasma_data params
  eudemo/eudemo/equilibria/_designer.py
Labels: EU-DEMO

#3909 Papercut: optimiser warning if arrive at max iter
  bluemira/optimisation/_nlopt/optimiser.py
  tests/optimisation/test_nlopt.py
Labels: optimisation, quality

#3911 Remove todo re. keeping geom param constant
  tests/optimisation/geometry/test_geometry.py
Labels: geometry, to_do, optimisation

#3913 Rewrote the `boolean_cut` docstring to make it clear what it actually does.
  bluemira/geometry/tools.py
  documentation/source/geometry/images/after_cut.png
  documentation/source/geometry/images/before_cut.png
Labels: documentation, geometry

#3895 Add neutronics outputs
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/tallying.py
Labels: neutronics

#3905 CAD Imprinting
  bluemira/base/reactor.py
  bluemira/base/tools.py
  bluemira/codes/cgal_ext/__init__.py
  bluemira/codes/cgal_ext/_guard.py
  bluemira/codes/cgal_ext/collision_detection.py
  bluemira/codes/python_occ/__init__.py
  bluemira/codes/python_occ/_guard.py
  bluemira/codes/python_occ/imprint_solids.py
  bluemira/codes/python_occ/imprintable_solid.py
  bluemira/codes/utilities.py
  bluemira/geometry/overlap_checking.py
  bluemira/geometry/tools.py
  conda/environment.yml
  pyproject.toml
  tests/base/test_reactor.py
  tests/codes/test_python_occ.py
Labels: meshing, neutronics

#3924 Check pyproject changes for dependency addition
  .github/workflows/dependabot_helper.yml
Labels: enhancement, continuous_integration

#3927 join_intersect cleanup 1
  bluemira/equilibria/find_legs.py
  bluemira/geometry/coordinates.py
Labels: geometry, equilibria

#3930 Functionalised join_intersect.
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/geometry/coordinates.py
  tests/geometry/test_coordinates.py
Labels: geometry

#3925 Fix: error on importing types from cgal and OCC
  bluemira/codes/cgal_ext/collision_detection.py
  bluemira/codes/python_occ/imprintable_solid.py
Labels: neutronics, codes

#3929 Fix loadspec index error
  bluemira/utilities/tools.py
  tests/utilities/test_tools.py
Labels: utilities

#3938 🐛 Fix not running on fork
  .github/workflows/dependabot_helper.yml
Labels: continuous_integration

#3941 🎨 Missed max_iterations -> maxiter
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
Labels: optimisation

#3942 🎨 Small change to imprinting
  bluemira/codes/python_occ/imprint_solids.py
  bluemira/utilities/tools.py
Labels: utilities, codes

#3943 🐛 Fix bug in interpolate_bspline related to tangents
  bluemira/codes/_freecadapi.py
Labels: codes

#3951 🐛 Fix examples again
  examples/equilibria/quick_look_at_example_coilsets.ex.py
Labels: continuous_integration

#3898 Remove spelling errors in bulk.
  bluemira/equilibria/analysis.py
  bluemira/equilibria/diagnostics.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/shapes.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/parameterisations.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_optimiser.py
  bluemira/optimisation/problem.py
  bluemira/plasma_physics/rules_of_thumb.py
  bluemira/radiation_transport/radiation_profile.py
  bluemira/radiation_transport/radiation_tools.py
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_use.ex.py
Labels: documentation, quality

#3937 Fix overplotting
  bluemira/equilibria/analysis.py
  bluemira/equilibria/plotting.py
  examples/equilibria/anaylsis_toolbox_examples.ex.py
Labels: equilibria
