Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

📝 Cleanup neutronics examples
  examples/design/optimised_reactor.ex.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review

🐛 Fix neutronics plot path
  eudemo/eudemo/model_managers.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🚨 Fix linter
  bluemira/codes/fast_ctd/pipeline.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

reduce RAM
  bluemira/codes/openmc/tallying.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

nearly comparable
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

discr
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Add tally option
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

reset grid, interpoalte psi, and tests
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/plasma.py
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

working alkylation test
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Label tilt on polyspline (#4163)
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

✨ Number points in plots (#4164)
  bluemira/display/plotter.py
  examples/geometry/plotting_tutorial.ex.py
  tests/display/test_plotter.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review

pos opt nb 8th dec before moving to normalisation branch
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/equilibria/solve.py
  bluemira/optimisation/_optimise.py
  examples/equilibria/th-coilset-position.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

remove deepcopy from _get_dummy_equilibrium, replace input eq with opt_problem.eq in PicardIterator
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  eudemo/eudemo/equilibria/_designer.py
  examples/design/optimised_reactor.ex.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/single_null.ex.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_optimisation.py
  tests/equilibria/test_st_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

Fixes to reactor example DAGMC CAD (#4167)
  bluemira/builders/radiation_shield.py
  bluemira/builders/tools.py
  bluemira/codes/fast_ctd/pipeline.py
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/python_occ/imprint_solids.py
  bluemira/codes/wrapper.py
  bluemira/materials/cache.py
  bluemira/materials/neutronics.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/config/process/mockPROCESS.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  examples/design/design_materials.py
  examples/design/optimised_reactor.ex.py
  examples/radiation_transport/run_cad_neutronics.ex.py
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

🎨 Reorganise
  bluemira/codes/openmc/solver.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Undo dep change
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🚨 Linter
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

missed an eq
  examples/equilibria/spherical_harmonic_approximation_basic_use.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix field null constraint error
  bluemira/equilibria/optimisation/constraints.py
  examples/equilibria/th-coilset-position.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

:wrench: Mesh File Extension Checking
  bluemira/mesh/meshing.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

More general x-point lcfs check in finder
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

:fire: remove TODO comment line
  bluemira/mesh/meshing.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

Rename and remove repetition
  bluemira/equilibria/find.py
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

Mesh File Extension Checking (#4171)
  bluemira/mesh/meshing.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

✅ Reenable mesh tests
  tests/mesh/test_meshing.py
  tests/mesh/test_tools.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

add array use
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updated transient dependencies (#4149)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4165)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

More generic x-point check (#4172)
  bluemira/equilibria/find.py
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

update to fix
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix rebase errors
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Apply suggestion from @geograham
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove naming bad idea
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix for coilset that uses a mix of circuits and single coils
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

change to class and match some functions to TH style
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
