Repository Fusion-Power-Plant-Framework/BLUEMIRA, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/utilities-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/@Fusion-Power-Plant-Framework/magnetostatics-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Order is important; the last matching pattern takes the most
# precedence. eg js-owner would own all *.js files. Directories and wildcards can be specified etc
# no user can be used to default to global owner
# *.js    @js-owner
# *.go docs@example.com
# /build/logs/ @doctocat @doctocat2
# /build/info/

working placement plotting
  bluemira/structural/plotting_new.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add plotters
  bluemira/structural/plotting_new.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

switch plotters
  bluemira/structural/plotting.py
  bluemira/structural/plotting_new.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

TwoSlopeNorm
  bluemira/structural/plotting.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up plotting
  bluemira/structural/plotting.py
  bluemira/structural/result.py
  examples/structural/tour_eiffel_example.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix stress colors
  bluemira/structural/plotting.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove some BLUEPRINT words
  bluemira/structural/geometry.py
  bluemira/structural/model.py
  examples/structural/tour_eiffel_example.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove some beams mentions
  bluemira/structural/model.py
  bluemira/structural/plotting.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

make a more sensible eiffel tower
  examples/structural/tour_eiffel_example.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

docs
  documentation/source/structural/structural.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

docstring
  bluemira/structural/material.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add ipynb
  examples/structural/tour_eiffel_example.ipynb
Owners: @Fusion-Power-Plant-Framework/tsvv-14

why is black not automatic?
  bluemira/structural/crosssection.py
  bluemira/structural/element.py
  bluemira/structural/loads.py
  bluemira/structural/stress.py
  bluemira/structural/transformation.py
  tests/bluemira/structural/test_crosssection.py
  tests/bluemira/structural/test_model.py
  tests/bluemira/structural/test_node.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

put back sectionproperties
  requirements.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Add EUDEMO blanket builder
  bluemira/builders/EUDEMO/first_wall/blanket.py
  tests/bluemira/builders/EUDEMO/first_wall/test_blanket.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Add blanket to FirstWallBuilder
  bluemira/builders/EUDEMO/first_wall/blanket.py
  bluemira/builders/EUDEMO/first_wall/first_wall.py
  tests/bluemira/builders/EUDEMO/first_wall/test_blanket.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Do not cut blanket below x-point in BlanketBuilder
  bluemira/builders/EUDEMO/first_wall/blanket.py
  tests/bluemira/builders/EUDEMO/first_wall/test_blanket.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Rename FirstWallBuilder -> InComponentVesselBuilder
  bluemira/builders/EUDEMO/ivc/__init__.py
  bluemira/builders/EUDEMO/ivc/blanket.py
  bluemira/builders/EUDEMO/ivc/divertor.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  bluemira/builders/EUDEMO/ivc/wall.py
  bluemira/builders/EUDEMO/reactor.py
  tests/bluemira/builders/EUDEMO/ivc/test_blanket.py
  tests/bluemira/builders/EUDEMO/ivc/test_divertor.py
  tests/bluemira/builders/EUDEMO/ivc/test_ivc.py
  tests/bluemira/builders/EUDEMO/ivc/test_wall.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Add in-vessel component shape builder
  bluemira/builders/EUDEMO/ivc/blanket.py
  bluemira/builders/EUDEMO/ivc/ivc.py
Owners: @Fusion-Power-Plant-Framework/builders-review

Remove first wall component from EUDEMO reactor
  bluemira/builders/EUDEMO/reactor.py
  tests/bluemira/builders/EUDEMO/test_reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Fix wire ordering in IVC shape builder
  bluemira/builders/EUDEMO/ivc/ivc.py
Owners: @Fusion-Power-Plant-Framework/builders-review

Remove redundant if statement in IVC shape builder
  bluemira/builders/EUDEMO/ivc/ivc.py
Owners: @Fusion-Power-Plant-Framework/builders-review

Add required params to IVC and Blanket builders
  bluemira/builders/EUDEMO/ivc/blanket.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  tests/bluemira/builders/EUDEMO/ivc/test_ivc.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Rename Blanket -> BlanketThickness builder
  bluemira/builders/EUDEMO/ivc/blanket.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  tests/bluemira/builders/EUDEMO/ivc/test_blanket.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Rename Divertor -> DivertorSihouette builder
  bluemira/builders/EUDEMO/ivc/__init__.py
  bluemira/builders/EUDEMO/ivc/divertor.py
  bluemira/builders/EUDEMO/ivc/ivc.py
  tests/bluemira/builders/EUDEMO/ivc/test_divertor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Fix 'no module docstring' flake8 warning
  bluemira/builders/EUDEMO/ivc/blanket.py
Owners: @Fusion-Power-Plant-Framework/builders-review

Fix double import in ivc
  bluemira/builders/EUDEMO/ivc/ivc.py
Owners: @Fusion-Power-Plant-Framework/builders-review

Use param attribute, not getter method in reactor
  bluemira/builders/EUDEMO/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review
