Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

add O. Syrbe
  CITATION.cff
Owners: @Fusion-Power-Plant-Framework/tsvv-14

area: build holed faces via _face_from_wires_tolerant
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

is_closed: dispatch by shape kind
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix_shape: cast fixer.Shape() back to its concrete cq subclass
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ordered_edges: rely on cq.Wire iteration
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

wire_from_wires: warn and pick the longest when inputs do not all join
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

dist_to_shape: route points through cq.Vector + _vector_to_numpy
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

wire_value_at: warn on out-of-range distance, mirror FreeCAD
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

mirror_shape: normalise direction before constructing gp_Dir
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

boolean_cut: dispatch Shell results
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

loft: drive BRepOffsetAPI_ThruSections directly to honour solid+closed
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

point_inside_shape: reject out-of-plane projections
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

serialise_shape: round-trip BSpline/Bezier trimmed parameter range
  bluemira/codes/_cadqueryapi/_core.py
  bluemira/codes/_cadqueryapi/_curves.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fillet_wire_2D: tighten dummy-edge tolerance to _OCC_DEFAULT_TOL
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

make_bsplinesurface: return a cq.Face instead of the bare surface
  bluemira/codes/_cadqueryapi/_curves.py
Owners: @Fusion-Power-Plant-Framework/codes-review

make_circle_arc_3P: honour explicit axis via ElCLib parameter mapping
  bluemira/codes/_cadqueryapi/_curves.py
Owners: @Fusion-Power-Plant-Framework/codes-review

make_ellipse: list → tuple in default-arg annotations
  bluemira/codes/_cadqueryapi/_curves.py
Owners: @Fusion-Power-Plant-Framework/codes-review

show_cad: drop polyscope monkey-patch
  bluemira/codes/_cadqueryapi/_display.py
Owners: @Fusion-Power-Plant-Framework/codes-review

_checked_to_numpy: pass empty list/tuple through
  bluemira/codes/_cadqueryapi/_placement.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

change and warn
  bluemira/equilibria/constants.py
  bluemira/equilibria/grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix test
  tests/equilibria/test_grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updated transient dependencies (#4313)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Address review comments from #4297 (#4312)
  bluemira/codes/_cadqueryapi/_core.py
  bluemira/codes/_cadqueryapi/_curves.py
  bluemira/codes/_cadqueryapi/_display.py
  bluemira/codes/_cadqueryapi/_placement.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add initial constraints and underlying functions
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/plasma.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add imports
  bluemira/equilibria/optimisation/__init__.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Automatically detected the inboard-outboard transition point
  bluemira/codes/openmc/make_csg.py
  bluemira/radiation_transport/neutronics/geometry.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

ascontig
  bluemira/equilibria/coils/_field.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add missing function
  bluemira/equilibria/coils/_field.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add test (slow)
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

get rid of one green cache
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

swtich to cache invalidation pattern
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

swtich to cache invalidation pattern
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

simple decay index function
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

1. Refactor (Move): codes: move FreeCAD/CadQuery backends under cadapi/
  .env.default
  bluemira/codes/__init__.py
  bluemira/codes/_cadqueryapi/__init__.py
  bluemira/codes/_geometryapi.py
  bluemira/codes/cadapi/__init__.py
  bluemira/codes/cadapi/_cadquery/__init__.py
  bluemira/codes/cadapi/_cadquery/aliases.py
  bluemira/codes/cadapi/_cadquery/core.py
  bluemira/codes/cadapi/_cadquery/curves.py
  bluemira/codes/cadapi/_cadquery/display.py
  bluemira/codes/cadapi/_cadquery/io.py
  bluemira/codes/cadapi/_cadquery/patches.py
  bluemira/codes/cadapi/_cadquery/placement.py
  bluemira/codes/cadapi/_freecad/__init__.py
  bluemira/codes/cadapi/_freecad/api.py
  bluemira/codes/cadapi/_freecad/config.py
  bluemira/display/displayer.py
  conda/environment.yml
  conftest.py
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
  scripts/run_examples.py
  tests/codes/_shared/backend_api_tests.py
  tests/codes/test_cadqueryapi.py
  tests/codes/test_freecadapi.py
  tests/display/test_cadquery.py
  tests/display/test_displayer.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

io: add STL and glTF/GLB export to CadQuery backend
  bluemira/codes/cadapi/_cadquery/io.py
  tests/codes/test_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

complex spline offset sweep cut operation chain test for both backends
  bluemira/codes/_cadqueryapi/_core.py
  tests/codes/_shared/backend_api_tests.py
  tests/codes/test_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

- implement move_placement for cadquery - cosmetic correction in freecad api (don't compare floats) - added uv.lock file - drop conda-only extras' contents from pyproject.toml
  bluemira/codes/cadapi/_cadquery/placement.py
  bluemira/codes/cadapi/_freecad/api.py
  pyproject.toml
  tests/codes/_shared/backend_api_tests.py
  uv.lock
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

tests: cover error paths in BluemiraSolid, ImprintableSolid, _geometryapi dispatcher
  bluemira/codes/cadapi/_cadquery/__init__.py
  tests/codes/test_geometryapi.py
  tests/codes/test_python_occ.py
  tests/geometry/test_solid.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

tests: direct unit tests for cadquery backend internal helpers
  tests/codes/test_cadqueryapi.py
  tests/geometry/test_solid.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
