Repository Fusion-Power-Plant-Framework/BLUEMIRA, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @CoronelBuendia, @je-cook, @tplobo, @DanShort12, @hsaunders1904, @ivanmaione, @alexanderianblair, @DarioV86

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @CoronelBuendia @je-cook @tplobo
*/base/ @je-cook @DanShort12 @hsaunders1904
*/builders/ @DanShort12 @hsaunders1904 @je-cook
*/codes/ @je-cook @ivanmaione
*/display/ @ivanmaione @DanShort12
*/equilibria/ @CoronelBuendia @je-cook @alexanderianblair
*/fuel_cycle/ @CoronelBuendia
*/geometry/ @ivanmaione @CoronelBuendia
*/magnetostatics/ @CoronelBuendia @ivanmaione
*/materials/ @DanShort12
*/mesh/ @ivanmaione
*/radiation_transport/ @CoronelBuendia @DarioV86
*/utilities/ @je-cook @CoronelBuendia

# Order is important; the last matching pattern takes the most
# precedence. eg js-owner would own all *.js files. Directories and wildcards can be specified etc
# no user can be used to default to global owner
# *.js    @js-owner
# *.go docs@example.com
# /build/logs/ @doctocat @doctocat2
# /build/info/

test is right
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

flake8
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

switch inputs
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

parametrize test
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

parametrize test
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

parametrize properly
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

parametrize properly
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

make test cute
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

god i could have sworn this was working...
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add circle test
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add CCW
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 tmp
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 final fix
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/tsvv-14

half working
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

still half working
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

Enable private tests in CI (#758)
  .github/workflows/ci.yml
  conftest.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

📝 fix documentation indentation
  documentation/source/mesh/mesh.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Enable application of user-specified optimisation constraints for coilset optimisation (#530)
  bluemira/builders/EUDEMO/equilibria.py
  bluemira/codes/_nlopt_api.py
  bluemira/equilibria/__init__.py
  bluemira/equilibria/eq_constraints.py
  bluemira/equilibria/opt_constraints.py
  bluemira/equilibria/opt_objectives.py
  bluemira/equilibria/opt_problems.py
  bluemira/equilibria/optimiser.py
  bluemira/utilities/opt_problems.py
  bluemira/utilities/optimiser.py
  documentation/source/equilibria/doc_magnetic_constraints.py
  documentation/source/equilibria/doc_parametric_constraints.py
  examples/equilibria/coilset_opt_problem_tutorial.ipynb
  examples/equilibria/coilset_opt_problem_tutorial.py
  examples/equilibria/double_null_ST.py
  examples/equilibria/eudemo_2017.ipynb
  examples/equilibria/eudemo_2017.py
  tests/bluemira/equilibria/test_constraints.py
  tests/bluemira/equilibria/test_optimiser.py
Owners: @DanShort12, @hsaunders1904, @je-cook, @ivanmaione, @CoronelBuendia, @alexanderianblair, @Fusion-Power-Plant-Framework/tsvv-14

pause
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

📝 fix documentation indentation (#796)
  documentation/source/mesh/mesh.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add ccw param test
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix test parm
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

bisector approach
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

Bugfix for CoilsetPositionCOP and NestedCoilsetPositionCOP
  bluemira/equilibria/opt_problems.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair

Bugfix for CoilsetPositionCOP and NestedCoilsetPositionCOP
  bluemira/equilibria/opt_problems.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair

working but need to rotate plane
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

remove Loop
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove loop
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add clockwise nightmare
  bluemira/magnetostatics/circuits.py
  bluemira/magnetostatics/tools.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

add clockwise nightmare
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Bugfix for CoilsetPositionCOP and NestedCoilsetPositionCOP (#797)
  bluemira/equilibria/opt_problems.py
Owners: @CoronelBuendia, @je-cook, @alexanderianblair

semi-working
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

semi-working
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

remove pis
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

fix benchmark
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

bad PF and plane problems
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

flake8
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

remove clockwise
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

fix circle
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

clean up
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione
