Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

np.trapz changed to np.trapezoid
  bluemira/codes/plasmod/equilibrium_2d_coupling.py
Owners: @Fusion-Power-Plant-Framework/codes-review

⬆️ Bump nlopt
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Remove cherab and update deps
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

np.cross replaced with cross2d from numba.np.extensions
  bluemira/geometry/coordinates.py
  eudemo/eudemo_tests/maintenance/test_upper_port.py
  tests/utilities/test_tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/utilities-review

Added cross_2d_3d func for when both 2d and 3d need to be handled
  bluemira/geometry/coordinates.py
  bluemira/utilities/tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/utilities-review

Added cross_2d function, numba.np.extensions.cross2d not always working as expected
  bluemira/geometry/coordinates.py
  bluemira/utilities/tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/utilities-review

Changing nb.np.extensions.cross2d to cross_2d
  bluemira/geometry/coordinates.py
  eudemo/eudemo_tests/maintenance/test_upper_port.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

Update utilities/tools.py cross_2d and cross_2d_3d
  bluemira/utilities/tools.py
Owners: @Fusion-Power-Plant-Framework/utilities-review

Correcting for instances where np.cross should work, i.e. functions clearly in 3d
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

importorskip for cherab in test_radiation_profiles. + cross_2d_3d replace cross2d
  bluemira/utilities/tools.py
  tests/radiation_transport/test_radiation_profile.py
  tests/utilities/test_tools.py
Owners: @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/radiation-transport-review

importorskip for raysect
  tests/radiation_transport/test_radiation_profile.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

np.float64() added for optimisation_doc.rst
  documentation/source/optimisation/optimisation_doc.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Dependencies for cherab added to radiation in pyproject.toml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

cherab numpy v2-compatible version specificed in conda/environment.yml
  conda/environment.yml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

Changes necessary to run the codes/openmc/solver.py from ef948bd with the latest develop branch's changes.
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

resolution to TODO's in radiation_tools about ray_stepsize
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

added documentation for issue with SOL source when dx_mp >> lambda_q under: working with the radiation solver
  documentation/source/radiation_transport/radiation.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add TODO in radiation_tools for adding warning for when dx_mp >> lambda_q
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

increased radius of x-y circle in test_complicated
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

added another test for rectangular inductance from a different source with a non-rounded shape
  tests/magnetostatics/test_biot_savart.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

slight fixes to active VS approach
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Changed a zero division protection in get_centroid_2d to cover close to zero values. Restated original test conditions of (5,1,10,999) in test_complicated
  bluemira/geometry/coordinates.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Changing '!=0' in geometry testcoordinates bug (#4212)
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

➕ Make sure ipywidgets is installed when running notebook related things
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

📝 Some vscode problems
  documentation/source/developer/faq.rst
  examples/README.md
Owners: @Fusion-Power-Plant-Framework/tsvv-14

➕ Make sure ipywidgets is installed when running notebook related things (#4213)
  documentation/source/developer/faq.rst
  examples/README.md
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4211)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Further fixes to align the new branch with the old branch
  bluemira/codes/openmc/solver.py
  bluemira/codes/wrapper.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

bodge to deliberately stop running the code after the CSG model is ran.
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Changed error catching
  .github/workflows/ci.yml
  bluemira/codes/_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review

Final change of params.json to match the value of aspect ratio that could be ran by the previous branch ef948bd
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Added enough code to retain 'source (TokamakNeutronSource object)' after the end of the csg neutronics simulation.
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added enough code to retain 'source (TokamakNeutronSource object)' after the end of the csg neutronics simulation.
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Turns out source (the object) doesn't have source rate or source triton rate saved as part of its attributes.
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

tweak of build_config to re-run process every time.
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Fixed the calculation of e_mult to use a less vulnerable definition of total power in out
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Fixed the calculation of e_mult to use a less vulnerable definition of total power in out
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

A more comprehensive definition of total power
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review
