Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

A more comprehensive definition of total power
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Update bluemira/equilibria/find.py
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fixed the calculation of e_mult to use a less vulnerable definition of total power in output.py (#4215)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

correction when coil edge is sitting exactly on the boundary edge of the th approx region (#4184)
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Correct issue 4161 (#4176)
  bluemira/equilibria/find.py
  bluemira/geometry/coordinates.py
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

🎨 Fix tuple brackets for consistency
  bluemira/codes/process/equation_variable_mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🎨 Readability
  tests/display/test_displayer.py
  tests/geometry/test_coordinates.py
  tests/magnetostatics/setup_methods.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review

📝 Some more info on cherab and raysect
  bluemira/radiation_transport/radiation_tools.py
  documentation/source/radiation_transport/radiation.rst
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

some progress on idea
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4211)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

♻️ Improve commutative unit reconstruction
  bluemira/base/constants.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
  bluemira/base/parameter_frame/_units.py
  pyproject.toml
  tests/base/parameterframe/test_parameterframe.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies (#4218)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Protect units from exponent
  bluemira/base/parameter_frame/_units.py
Owners: @Fusion-Power-Plant-Framework/base-review

✅ Another test
  tests/base/parameterframe/test_parameterframe.py
Owners: @Fusion-Power-Plant-Framework/base-review

there is a better way
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

leave DN mess
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

more cleaning
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

ruff
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix typgin
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

::
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix imports and ruff
  bluemira/equilibria/find.py
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove obsolete tests
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add tests
  tests/equilibria/test_data/EUDEMO_equilibrium.json
  tests/equilibria/test_data/eof_lcfs_sep_test.json
  tests/equilibria/test_data/mastu_lcfs_sep_test.json
  tests/equilibria/test_data/sof_lcfs_sep_test.json
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add test
  tests/equilibria/test_data/steplike_lcfs_sep_test.json
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

typo
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

ruff
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

scipy optimisers draft
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

COBYLA passing, xfail COBYQA, create algorithm params dataclasses, centralise scipy registry of algorithms
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  bluemira/optimisation/_scipy/registry.py
  tests/optimisation/test_constrained_problem.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

attempt at feed through
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

COBYQA working - requires additional parameters to converge
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

move cobyla and trust-constr to use NonlinearConstraints
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Add complex alkylation optimisation test problem
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

tidy optimiser condition handling
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy/__init__.py
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update scipy>=1.16.0 requires python>=3.11
  .github/workflows/ci.yml
  .github/workflows/dependabot_helper.yml
  .github/workflows/examples.yml
  .github/workflows/pin_dependencies.yml
  conda/environment.yml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

add default parameters for specific algorithms
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

translating nlopt conditions to scipy
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

optimiser exception handling
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

handle optimiser conditions
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
