Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

pytest approx add and remove unused variable
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

refactor coils - controls automatically dealt with, removed unnecessary arguments
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

address comments
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update FOMs
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove invert
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Replace fit metric loop with harmonic amplitude optimisation, update plot, add objective functions
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/plotting.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✅ Reenable mesh tests (#4173)
  tests/mesh/test_meshing.py
  tests/mesh/test_tools.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

param tweak
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

use count rather than idx
  bluemira/equilibria/find.py
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

update to match
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

🐛 Example fixes
  bluemira/codes/openmc/solver.py
  bluemira/materials/neutronics.py
  eudemo/eudemo/materials.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review

✨ Use last value for steady state calculation
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review

🐛 Fix eurofusion materials not available
  bluemira/materials/cache.py
Owners: @Fusion-Power-Plant-Framework/materials-review

pos nb changes
  examples/equilibria/th-coilset-position.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🎨 Get last value for json out and write utf8 json
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
  bluemira/utilities/tools.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/tsvv-14

changes to th plotting for paper
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Parameter bug
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

🐛 Fix getting particles
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Dont put higher value as it overwrites
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update dpi
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix parameterframe bug
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

DAGMC solver object for neutronics running (#4150)
  bluemira/balance_of_plant/steady_state.py
  bluemira/base/builder.py
  bluemira/base/constants.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
  bluemira/base/reactor.py
  bluemira/builders/radiation_shield.py
  bluemira/builders/tools.py
  bluemira/codes/fast_ctd/pipeline.py
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/python_occ/imprint_solids.py
  bluemira/codes/wrapper.py
  bluemira/materials/cache.py
  bluemira/materials/neutronics.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/utilities/tools.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/config/process/mockPROCESS.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  examples/design/optimised_reactor.ex.py
  examples/radiation_transport/run_cad_neutronics.ex.py
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

✨ Allow for offset fallback to be disabled (#4166)
  bluemira/geometry/tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

correction when coil edge is sitting exactly on the boundary edge of the th approx region
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

th eudemo notebook
  examples/equilibria/eudemo_2017_toroidal_harmonics.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

[WIP] adding components for case meshing
  bluemira/magnets/cable.py
  bluemira/magnets/conductor.py
  bluemira/magnets/winding_pack.py
  bluemira/mesh/tools.py
  examples/magnets/example_tf_wp_from_dict.py
  examples/magnets/example_tf_wp_optimization.py
  examples/mesh/mesh_tutorial.ex.py
  tests/mesh/test_meshing.py
Owners: @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/mesh-review

notebook in progress
  examples/equilibria/eudemo_2017_toroidal_harmonics.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

allow position optimisation
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  examples/equilibria/th-coilset-position.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

default notebook producing 'best' result i could find
  examples/equilibria/th-coilset-position.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Move to hatch for build backend (#4147)
  .gitignore
  bluemira/__init__.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

v4
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

v4
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

v4
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Changes
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update PROCESS mappings
  bluemira/codes/process/mapping.py
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

update PROCESS mappings
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update PROCESS mappings
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

wtf is going on
  bluemira/codes/process/params.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14
