Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

address comments
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

update to fix
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

undo comment out
  examples/equilibria/eudemo_2017.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add full calc to betap profiles
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove naming bad idea
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

refactor coils - controls automatically dealt with, removed unnecessary arguments
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

refactor coils - controls automatically dealt with, removed unnecessary arguments
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pytest approx add and remove unused variable
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add example
  bluemira/equilibria/find.py
  examples/equilibria/MASTU-FREEGSNKE.eqdsk
  examples/equilibria/freegsnke_mastu_comparison.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove old files
  examples/equilibria/MAST-U_like_active_coils.pickle:Zone.Identifier
  examples/equilibria/freeGSNK_newton.pk
  examples/equilibria/freeGSNK_newton.pk:Zone.Identifier
  examples/equilibria/freeGSNK_picard.pk
  examples/equilibria/freeGSNK_picard.pk:Zone.Identifier
  examples/equilibria/mastu_test.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

labels
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

start plotting of reactive data
  examples/power_cycle/EUDEMO17_example.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

adapt `test_coilsupply.py` to use verification data from `bluemira-private-data`
  tests/power_cycle/test_coilsupply.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Add optional scipy backend to optimiser (#4154)
  .github/workflows/ci.yml
  .github/workflows/dependabot_helper.yml
  .github/workflows/examples.yml
  .github/workflows/pin_dependencies.yml
  CITATION.cff
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_optimiser.py
  bluemira/optimisation/_scipy/__init__.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  bluemira/optimisation/_scipy/registry.py
  bluemira/optimisation/_tools.py
  conda/environment.yml
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
  tests/optimisation/geometry/test_geometry.py
  tests/optimisation/geometry/test_problem.py
  tests/optimisation/test_constrained_problem.py
  tests/optimisation/test_optimise.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

🐛 Fix missing scipy processing arg
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix missing scipy processing arg (#4229)
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Stored the script for generating a simple CAD example (to be used for testing the CSG generation in MCIO) as 'make_cad_from_json.py'.
  eudemo/eudemo/2d_outline_data.json
  eudemo/eudemo/make_cad_from_json.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix equilibria optimisation examples
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add scale multipliers to plotting and distinguish "full", "semi" and "trim" data sets
  tests/power_cycle/test_coilsupply.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add y-scale option for standalone figures
  tests/power_cycle/test_coilsupply.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Remove add_fvalue_constraint, updated pyproject.toml to v3.3.0
  bluemira/codes/process/template_builder.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

Remove fvalues list, fvalues in iteration mapping, and references to fvalues in Constraint Class
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Remove no longer iterable fvalues from iteration lists
  bluemira/codes/process/equation_variable_mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Variable renames and fvalue removal
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Commas re-added to tuples of one element to not throw errors when looping through elements
  bluemira/codes/process/equation_variable_mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Further renames, removals
  examples/codes/IN.DAT
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

adding TF coil variables
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

process version updated in .ymls
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

correcting irrelevant replacements of beta -> beta_total_vol_avg in doc strings
  bluemira/codes/process/equation_variable_mapping.py
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

added to citation file
  CITATION.cff
Owners: @Fusion-Power-Plant-Framework/tsvv-14

exclude process example
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Fix equilibria optimisation examples (#4231)
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

constraint and function
  bluemira/equilibria/optimisation/constraints.py
  bluemira/plasma_physics/rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/plasma-physics-review

test passes
  tests/equilibria/test_optimisation.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add test
  tests/equilibria/test_optimisation.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

reign in test
  tests/equilibria/test_optimisation.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

ternarybleurgh
  bluemira/plasma_physics/rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/plasma-physics-review

fix docstring
  bluemira/plasma_physics/rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/plasma-physics-review

add test for Bv
  tests/plasma_physics/test_rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/plasma-physics-review
