Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

heavy concrete
  eudemo/eudemo/materials.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  eudemo/eudemo/materials.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Change run_mode from 'read' to 'run'
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Add LAR materials (#4155)
  bluemira/materials/cache.py
  eudemo/config/build_config.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

get to running dagmc
  bluemira/base/builder.py
  bluemira/base/reactor.py
  bluemira/codes/openmc/solver.py
  bluemira/radiation_transport/neutronics/constants.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

✨ Initial 'working' version
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix materials getter
  bluemira/base/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review

🚧 Tmp copy from example
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

use config correctly
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 More rebase misses
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Dagmc running
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🚧 Bad rebase fixes
  bluemira/base/constants.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🚧 Initial openmcdagmc results
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🎨 First commit of dagmc solver
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review

⬆️ Enforce recent tokamak source
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

Created the correct tally for total power. (#4037)
  bluemira/radiation_transport/neutronics/constants.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

add converter args
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

👽️ Missed tf variables in process v3.2.2
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/model_mapping.py
  tests/codes/process/test_data/mfile_data.json
Owners: @Fusion-Power-Plant-Framework/codes-review

👽️ Missed tf variables in process v3.2.2 (#4156)
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/model_mapping.py
  tests/codes/process/test_data/mfile_data.json
Owners: @Fusion-Power-Plant-Framework/codes-review

📌 Add openmc deps to dagmc extras
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Warn instead of crash without eurofusion materials
  bluemira/materials/cache.py
Owners: @Fusion-Power-Plant-Framework/materials-review

🎨 Move vtk utility
  bluemira/codes/openmc/output.py
  bluemira/utilities/tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/utilities-review

blanket dodge attempt
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

per compound
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

👷 Enable meshing example in CI
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

corrected mesh import from XDMF with dolfinx v0.9
  bluemira/mesh/tools.py
  examples/mesh/mesh_tutorial.ex.py
  tests/mesh/test_meshing.py
Owners: @Fusion-Power-Plant-Framework/mesh-review

minor tweaks
  bluemira/builders/tools.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/tallying.py
  eudemo/config/build_config.json
  eudemo/eudemo/materials.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🎨 Some path organisation stuff
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/wrapper.py
  eudemo/config/build_config.json
  eudemo/config/process/mockPROCESS.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🎨 Rad shield port plug material
  bluemira/builders/radiation_shield.py
  eudemo/config/build_config.json
  eudemo/eudemo/maintenance/port_plug.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

horrid
  bluemira/codes/fast_ctd/pipeline.py
  bluemira/codes/openmc/output.py
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

patch out pyvista plotter show
  scripts/run_examples.py
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Fix optimised design example
  bluemira/materials/cache.py
  examples/design/optimised_reactor.ex.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

✨ Add design materials file
  examples/design/design_materials.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix path
  examples/design/optimised_reactor.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

corrected mesh import from XDMF with dolfinx v0.9 (#4142)
  .github/workflows/examples.yml
  bluemira/mesh/tools.py
  examples/mesh/mesh_tutorial.ex.py
  scripts/run_examples.py
  tests/mesh/test_meshing.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/mesh-review

🐛 Fix optimised design example (#4159)
  bluemira/materials/cache.py
  examples/design/design_materials.py
  examples/design/optimised_reactor.ex.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

Create unit tests where appropriate and remove unnecessary regression tests
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_data/toroidal_harmonics_test_data.json
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

force symmetric rtol
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/optimisation/constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pytest approx add and remove unused variable
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review
