Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

♻️ Cleanup
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

revised vertical stability to be passive only. Active parts moved to other branch - active_vertical_stability
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

revised vertical stability to be passive only. Active parts moved to other branch - active_vertical_stability
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix dbzdx
  bluemira/equilibria/coils/_grouping.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

✨ Inductance additions
  bluemira/equilibria/coils/_tools.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

fix code quality by comments out and making TODO for James to decide whether he wants to add functionality
  bluemira/equilibria/coils/_field.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix code quality by comments out and making TODO for James to decide whether he wants to add functionality
  bluemira/equilibria/coils/_field.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add try and except statement for whether to use with_quadratures for inductance matrix
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add try and except statement for whether to use with_quadratures for inductance matrix
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Added a script to approximate splines in flat 2D wires with arcs and straight lines.
  bluemira/geometry/wire.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

fix to _get_coiltype function to resolve issues occuring in tests with switch to using *ctype
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix to _get_coiltype function to resolve issues occuring in tests with switch to using *ctype
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Added function to ensure consistency and energy conservation between assumed detachment front and target
  bluemira/radiation_transport/radiation_profile.py
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Removed trapz from integrate_dx_dz func
  bluemira/equilibria/grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

polyspline delta 0.4
  bluemira/display/auto_config.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

polyspline delta 0.4
  bluemira/display/auto_config.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

polyspline delta 0.4
  bluemira/display/auto_config.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix bad greens test
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

fix bad greens test
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

fix markdown typo
  tests/power_cycle/test_coilsupply.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

initial pass at adding coil from wire func with custom discretisation of wire
  bluemira/magnetostatics/temp.py
  tests/magnetostatics/test_tools.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

add test file
  bluemira/equilibria/vertical_stability.py
  tests/equilibria/test_vertical_stability.py
  tests/magnetostatics/test_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

remove temp file
  bluemira/magnetostatics/temp.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

add coil arguments
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

docstring
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix tests
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove mag changes
  tests/magnetostatics/test_tools.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

move active mutual inductance work to active branch
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

added plotting kwargs to all plot terms
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

set so that only passive coils passed into mutual inductance matrix
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

replaced try except using if nan on discretisation
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

make use of built in method get_uncontrolled_coils rather than indexing names
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

added back in fix for incorrect n_turns array size that just extends to correct size with last value as passives have only value of 1
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

addition of n_filaments to mutual inductance matrix calculation
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

return mutual inductance work to before addition of fixes and different handling
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

put back mats
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

put back mats
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14
