Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

wtf is going on
  bluemira/codes/process/params.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

wtf is going on
  bluemira/codes/process/params.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

still dont get it
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

still dont get it
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

still dont get it
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

mix_condition
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

mix_condition
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

mix_condition
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

freeze
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4149)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4165)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4192)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Dependency update after v2.11.0 (#4194)
  .pre-commit-config.yaml
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

use count rather than idx
  bluemira/equilibria/find.py
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

add test
  bluemira/geometry/coordinates.py
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_find.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/equilibria-review

testing eu demo wip
  examples/equilibria/data/EOF.json
  examples/equilibria/data/SOF.json
  examples/equilibria/data/constrained_reference_eq.json
  examples/equilibria/data/unconstrained_reference_eq.json
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/eudemo_2017_toroidal_harmonics.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

test correction
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

update to match
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

👷 CI referencing fix
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

👷 CI referencing fix (#4196)
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

config change
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

config change
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

config change
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

test correction
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

use count rather than idx
  bluemira/equilibria/find.py
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

add test
  bluemira/geometry/coordinates.py
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_find.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/equilibria-review

Update bluemira/geometry/coordinates.py
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

update to match
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

corrections from comments
  bluemira/equilibria/find.py
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary return
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/geometry/coordinates.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

Update bluemira/geometry/coordinates.py
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

🐛 Fix dependency helper script
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Fix dependency helper script (#4201)
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

🚨 Some more fixes
  bluemira/base/look_and_feel.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/model_mapping.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

📌 Enforce cherab version for numpy <2 pin
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

➖ Remove cherab from all
  .github/workflows/dependabot_helper.yml
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

catch and handle nlopt specific runtime error
  bluemira/optimisation/_nlopt/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
