Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

well it's something
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

well it's something
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

well it's something
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

alternative to einsum
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

alternative to einsum
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

alternative to einsum
  bluemira/equilibria/vertical_stability.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4288)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Fix and speed up pyclipper_offset_test using defined precision and reduced scaling
  bluemira/geometry/_pyclipper_offset.py
  tests/geometry/test_pyclipper_offset.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Add straight baffle, make ib/ob baffle type separate
  bluemira/builders/divertor.py
  eudemo/eudemo/params.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/template.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Add updates from Demo branch, move to new generic divertor designer location, make minor changes ready for use on other devices
  bluemira/builders/divertor.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/params.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/template.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

modify and add to tests
  bluemira/builders/divertor.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  tests/designers/test_divertor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

Address comments
  bluemira/builders/tools.py
  bluemira/geometry/tools.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/geometry-review

Will need to update after rebase (location change) so adding comment
  bluemira/builders/divertor.py
Owners: @Fusion-Power-Plant-Framework/builders-review

sort imports
  bluemira/builders/tools.py
Owners: @Fusion-Power-Plant-Framework/builders-review

modification to target flux plotting
  bluemira/equilibria/analysis.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

More modifications for use with other (not DEMO) devices
  bluemira/builders/divertor.py
  bluemira/builders/tools.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/tools.py
  eudemo/eudemo/params.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/template.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

update _make_angled_target in new location to match develop
  bluemira/builders/divertor.py
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

add start point choice as option and remove fluxline baffle from DEMO tests - should be in different generic device tests.
  bluemira/builders/divertor.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

typo
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

function name change
  bluemira/geometry/tools.py
  eudemo/eudemo/ivc/__init__.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

Apply review feedback: add round option to tests, adjust decimal precision
  tests/geometry/test_pyclipper_offset.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Fix and speed up pyclipper_offset_test (#4296)
  bluemira/geometry/_pyclipper_offset.py
  tests/geometry/test_pyclipper_offset.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Divertor Designer Modifications (#4271)
  bluemira/builders/divertor.py
  bluemira/builders/tools.py
  bluemira/equilibria/analysis.py
  bluemira/geometry/tools.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/tools.py
  eudemo/eudemo/params.py
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
  eudemo/eudemo_tests/template.json
  tests/designers/test_divertor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

add O. Syrbe
  CITATION.cff
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4288)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4305)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Dependency update after v2.13.0 (#4306)
  .pre-commit-config.yaml
  examples/codes/external_code.ex.py
  pyproject.toml
  requirements/conda.txt
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

📝 Some docs
  bluemira/base/parameter_frame/_units.py
  tests/base/parameterframe/test_parameterframe.py
Owners: @Fusion-Power-Plant-Framework/base-review

only get new wires from edgets if there are none
  bluemira/geometry/wire.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

feat: add cadapi.eccentricity + rewrite FreeCAD-property test access
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  tests/geometry/test_geometry.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

Port FreeCAD's JoinAPI.connect algorithm to CadQuery backend
  bluemira/codes/_cadqueryapi.py
  tests/geometry/test_geometry.py
  tests/geometry/test_parameterisations.py
  tests/geometry/test_sweep.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

cadquery backend: make eudemo_tests green for cadquery backend
  bluemira/codes/_cadqueryapi.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  bluemira/geometry/tools.py
  eudemo/eudemo_tests/blanket/panelling/test_designer.py
  eudemo/eudemo_tests/maintenance/test_lower_port.py
  eudemo/eudemo_tests/test_tf_coils.py
  tests/base/test_file.py
  tests/builders/test_coil_supports.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review

cadqueryapi: contract parity fixes + test-base refactor
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  tests/codes/_shared/__init__.py
  tests/codes/_shared/backend_api_tests.py
  tests/codes/test_cadqueryapi.py
  tests/codes/test_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

cadquery backend: lint cleanup before PR
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/_geometryapi.py
  bluemira/display/displayer.py
  bluemira/geometry/_pyclipper_offset.py
  bluemira/geometry/wire.py
  pyproject.toml
  tests/builders/test_coil_supports.py
  tests/display/test_cadquery.py
  tests/geometry/test_parameterisations.py
  tests/geometry/test_pyclipper_offset.py
  tests/geometry/test_sweep.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/builders-review

tests: add three cross-backend contract tests to BackendApiTestsBase
  tests/codes/_shared/backend_api_tests.py
Owners: @Fusion-Power-Plant-Framework/codes-review

added cadquery as geometry backend - initial commit. - global switch using .env (or a backend param when calling show_cad()) - geometry tests are green (but need fine tuning, refactoring!)
  .env.default
  bluemira/base/reactor.py
  bluemira/base/tools.py
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/_geometryapi.py
  bluemira/codes/_polyscope.py
  bluemira/display/displayer.py
  bluemira/geometry/_private_tools.py
  bluemira/geometry/base.py
  bluemira/geometry/compound.py
  bluemira/geometry/face.py
  bluemira/geometry/placement.py
  bluemira/geometry/plane.py
  bluemira/geometry/shell.py
  bluemira/geometry/solid.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/radiation_transport/neutronics/dagmc/dagmc_converter_fast_ctd.py
  bluemira/radiation_transport/neutronics/slicing.py
  pyproject.toml
  tests/codes/test_freecadapi.py
  tests/display/test_cadquery.py
  tests/display/test_displayer.py
  tests/geometry/test_data/test_circ.stp
  tests/geometry/test_geometry.py
  tests/geometry/test_inscribed_rect.py
  tests/geometry/test_offset.py
  tests/geometry/test_orientation.py
  tests/geometry/test_parameterisations.py
  tests/geometry/test_private_tools.py
  tests/geometry/test_sweep.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/radiation-transport-review

perf(cadqueryapi): discretise via GCPnts_UniformAbscissa perf(cadqueryapi): discretise_by_edges via one GCPnts_UniformAbscissa per edge
  bluemira/codes/_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix(cadqueryapi): write labeled STEP via XCAF when save_cad(labels=...) is given
  bluemira/codes/_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review
