Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

Li enrichment workaround
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Li enrichment workaround
  bluemira/materials/neutronics.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

Li enrichment workaround
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Li enrichment workaround
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Update requirements/uv/all.txt
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

📝 Fix missing raises in docs
  bluemira/codes/_freecadapi.py
  bluemira/display/tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review

✅ Bad filetype test
  tests/codes/test_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Apply suggestion from @je-cook
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

keep direct initialisation error in OptVariablesFrame
  bluemira/utilities/opt_variables.py
Owners: @Fusion-Power-Plant-Framework/utilities-review

fix inconsistent naming of test classes
  tests/utilities/test_opt_variables.py
Owners: @Fusion-Power-Plant-Framework/utilities-review

Adding documentation, delete unnecessary fn and argument (#4128)
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/th-flux-comparison.png
  documentation/source/equilibria/th-region-and-coils.png
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

add tests for from_dict() method
  tests/utilities/test_opt_variables.py
Owners: @Fusion-Power-Plant-Framework/utilities-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

use specific OptVariablesFrame in constructors: Parameterisation, and add tests
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Change versions
  pyproject.toml
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Update versions
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update requirements/uv/all.txt
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Allow greater eqdsk version
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

⬆️ Allow greater eqdsk version (#4140)
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies (#4097)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Sub-dependency update (#4119)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Sub-dependency update (#4139)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ PROCESS 3951
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🎨 Some missed
  bluemira/codes/process/mapping.py
  tests/codes/process/test_data/IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review

apply reviewer comment
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

match eufoer and tungsten
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

match eufoer and tungsten
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

match eufoer and tungsten
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

match eufoer and tungsten
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

ruff a bit
  bluemira/builders/coil_supports.py
Owners: @Fusion-Power-Plant-Framework/builders-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
