Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

address comment: coilset input removed
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

refactor coils - controls automatically dealt with, removed unnecessary arguments
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  eudemo/eudemo/equilibria/_designer.py
  examples/design/optimised_reactor.ex.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/single_null.ex.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_st_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

remove naming bad idea
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

update to fix
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

address comments
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Add coil ordering for control
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

coils inds missing, unconstrained tik f_x correction (both effected symmetric circuit case)
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

update docstring
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Add more info to docstrings
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Apply suggestion from @geograham
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix for coilset that uses a mix of circuits and single coils
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add symmetry example
  examples/equilibria/quick_look_at_example_coilsets.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix rebase errors
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/optimisation/problem/base.py
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

rtol update to match changes
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Coilset issue 3993 (#4115)
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_minimal_current.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/run.py
  eudemo/eudemo/equilibria/_designer.py
  examples/design/optimised_reactor.ex.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/quick_look_at_example_coilsets.ex.py
  examples/equilibria/single_null.ex.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_equilibrium.py
  tests/equilibria/test_optimiser.py
  tests/equilibria/test_st_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

fix type warning for read_json
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix notes formatting
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove warnings caused by nan in test data
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Add remaining th tests and fix excluded coils (#4145)
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_data/toroidal_harmonics_test_data.json
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🎨 Label tilt on polyspline
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

🐛 Avoid crashes when there is one statistic
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🎨 General cleanup
  bluemira/codes/openmc/tallying.py
  bluemira/codes/python_occ/imprint_solids.py
  bluemira/optimisation/_nlopt/optimiser.py
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix blanket points designer
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/blanket/designer.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Add materials back to thermal shield
  eudemo/eudemo/comp_managers.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Add lost particle config
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

📝 Some docs
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🎨 Config
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Number points in plots
  bluemira/display/plotter.py
  examples/geometry/plotting_tutorial.ex.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review

➖ Remove nmm
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Allow for offset fallback to be disabled
  bluemira/geometry/tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

🐛 Fix test
  tests/display/test_plotter.py
Owners: @Fusion-Power-Plant-Framework/display-review

Updated transient dependencies (#4165)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix base_setup
  bluemira/codes/openmc/solver.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🚨 Linter fixes
  bluemira/builders/tools.py
  eudemo/eudemo/materials.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

FEA of a WP Sector is parametrically meshed and analysed as plane strain
  WP_sector_Plane_Strain_Analysis.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Improve material access
  bluemira/materials/cache.py
  examples/design/design_materials.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/radiation-transport-review
