Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

curves.py was at 14 % — its constructors got hit by real workflows but only on their happy paths.
  tests/codes/test_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Addressed three warnings raised by the CI:
  bluemira/codes/cadapi/_cadquery/core.py
  bluemira/codes/cadapi/_freecad/api.py
  bluemira/codes/openmc/solver.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4323)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

test _face_from_wires_tolerant
  tests/codes/test_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Use better caching of Green's functions (#4317)
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

edge case tests for cadquery private functions
  bluemira/codes/_cadqueryapi/_core.py
  tests/codes/_shared/backend_api_tests.py
  tests/codes/test_cadqueryapi.py
  tests/codes/test_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

stop sin mode 0 being selected bc it is trivial
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

WIP update tests (test_approximation_from_psi_fitting is broken)
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary optimisation in notebook
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Change `X_AXIS_MIN` and add warning (#4315)
  bluemira/equilibria/constants.py
  bluemira/equilibria/grid.py
  tests/equilibria/test_grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

more edge case tests for _core
  tests/codes/test_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🎨 Some more review fixes
  bluemira/base/parameter_frame/_units.py
  tests/base/parameterframe/test_parameterframe.py
Owners: @Fusion-Power-Plant-Framework/base-review

Fix TH approximation from psi fitting function and update tests accordingly
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_data/toroidal_harmonics_test_data.json
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

💡 More comments
  bluemira/base/parameter_frame/_units.py
Owners: @Fusion-Power-Plant-Framework/base-review

🐛 Missed extra dataclass entry
  tests/base/parameterframe/test_parameterframe.py
Owners: @Fusion-Power-Plant-Framework/base-review

Enable numba caching of greens functions
  bluemira/magnetostatics/_ellipe.py
  bluemira/magnetostatics/_ellipk.py
  bluemira/magnetostatics/greens.py
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

Replace uses of `jit(nopython=True)` with `njit`
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

Remove intermediate Numba compiled Greens function
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/magnetostatics-review

Stop tracking uv.lock
  .gitignore
  uv.lock
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
