Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

put back mats
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

bezier nightmare
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

bezier nightmare
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

docstring
  bluemira/codes/_freecadapi.py
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

🚨 Ruff updates
  bluemira/base/tools.py
  bluemira/codes/_freecadapi.py
  bluemira/display/displayer.py
  bluemira/display/plotter.py
  bluemira/equilibria/analysis.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/equilibria/plasma.py
  bluemira/gen_params.py
  bluemira/geometry/_private_tools.py
  bluemira/geometry/base.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/face.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/optimisation/_tools.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/placement.py
  bluemira/geometry/solid.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  bluemira/magnetostatics/tools.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/radiation_transport/advective_transport.py
  bluemira/utilities/tools.py
  tests/base/test_file.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/utilities-review

Apply suggestion from @je-cook
  bluemira/geometry/tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🔥 Remove astroid patch
  .github/workflows/dependabot_helper.yml
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix gen_params
  bluemira/base/builder.py
  bluemira/base/designer.py
  bluemira/codes/interface.py
  bluemira/codes/params.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/gen_params.py
  bluemira/utilities/positioning.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/utilities-review

Sub-dependency update (#4266)
  .github/workflows/dependabot_helper.yml
  .github/workflows/pin_dependencies.yml
  bluemira/base/builder.py
  bluemira/base/designer.py
  bluemira/codes/interface.py
  bluemira/codes/params.py
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/gen_params.py
  bluemira/utilities/positioning.py
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/utilities-review

failed attempt at filament implementation
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Addition of method to create coils from a wire for use in RZIp (#4261)
  bluemira/equilibria/vertical_stability.py
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix removing fvalues
  tests/codes/process/test_data/IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review

added test cases for RZIp using demo test files in equilibria
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

attempt to clean and fix
  bluemira/equilibria/coils/_tools.py
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

move and add tests and docstring
  bluemira/equilibria/coils/_tools.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

clean up
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Terminated the eudemo/reactor.py after creating the neutronics model, running, and plotting it. It also creates the simplified CAD (for neutronics purpose) and plotted it as well.
  bluemira/codes/openmc/solver.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

add shape
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

add test
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

remove use of with_quadratures in RZIp
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove todo about quadratures
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

added test for mutual inductance to compare normalisation between two coilsets to check consistency
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

added assert to simple RZIp test_run to make sure it has a reasonable value
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix to mutual inductance matrix calculation
  bluemira/equilibria/coils/_tools.py
  tests/equilibria/test_vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

literally the ninth thing I tried
  bluemira/codes/_freecadapi.py
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

Add `VerticalFieldConstraint` and function to estimate plasma equilibrium field (#3076)
  bluemira/equilibria/optimisation/constraints.py
  bluemira/plasma_physics/rules_of_thumb.py
  tests/equilibria/test_optimisation.py
  tests/plasma_physics/test_rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/plasma-physics-review

docstring and frenet
  bluemira/codes/_freecadapi.py
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

Discrete princeton sweep (#4264)
  bluemira/codes/_freecadapi.py
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

Added loop at the neutronics stage to repeat the neutronics slicing stage, but with increasing levels of fineness
  bluemira/codes/openmc/make_csg.py
  bluemira/codes/openmc/solver.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

add m_s parameter
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add m_s parameter
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add m_s parameter
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

prepare for the arrival of RZIp
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/vacuum_vessel.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

prepare for the arrival of RZIp
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/vacuum_vessel.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

prepare for the arrival of RZIp
  eudemo/config/build_config.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/vacuum_vessel.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove unnecessary return
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  bluemira/geometry/coordinates.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

change to class and match some functions to TH style
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review
