Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

Created the correct tally for total power. (#4037)
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

get to running dagmc
  bluemira/base/builder.py
  bluemira/base/reactor.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/process/mapping.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed process varialbe changes in v3.2.2
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/mapping.py
  eudemo/eudemo_tests/template.json
  tests/codes/process/test_data/mfile_data.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix materials getter
  bluemira/base/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review

✨ Dagmc running
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed process varialbe changes in v3.2.2 (#4146)
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/mapping.py
  eudemo/eudemo_tests/template.json
  tests/codes/process/test_data/mfile_data.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed vars
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Reduced max iterations, it's not necessary to have 1000
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🚨 Fix pre commit issues
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

🔥 Remove old materials example
  documentation/source/examples.rst
  examples/materials/material_definitions.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/materials-review

🔥 Remove coil support stuff
  bluemira/builders/coil_supports.py
Owners: @Fusion-Power-Plant-Framework/builders-review

🐛 Fix opt example
  examples/design/optimised_reactor.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Added some more typical constraints
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

updated iterationg variables in line with Large Tokamak
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update f-values
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Updated Xe in line with Large Tokamak
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

updated parameters to align with Large Tokamak
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Further update to variables for large tokamak alignment
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Modify net electric requirement instead
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update success text
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🎨 Docs moaning
  bluemira/materials/__init__.py
  bluemira/materials/basic.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

material fixes
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

🐛 Bad rebase fixes
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

🔥 Remove material test
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

👽️ Fix process mapping tests
  eudemo/eudemo_tests/template.json
  tests/codes/process/test_data/mfile_data.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

🐛 More fixes
  bluemira/codes/process/mapping.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

✨ Move to hatch for build backend
  .gitignore
  bluemira/__init__.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Exclude coils based on edge of coils instead of centres
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

FW tweaks
  eudemo/config/params.json
  eudemo/eudemo/blanket/panelling/_designer.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove debugging replacements
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4149)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Remove PROCESS example exception (so CI will now run it.
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Fix run_process_example.py (#4151)
  .github/workflows/examples.yml
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review

fix tests
  eudemo/eudemo/blanket/__init__.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  eudemo/eudemo_tests/blanket/test_builder.py
  eudemo/eudemo_tests/blanket/test_designer.py
  eudemo/eudemo_tests/blanket/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

move large test data to json file, add missing tests for excluded coils and to cover all TauLimit options
  tests/equilibria/test_data/toroidal_harmonics_test_data.json
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Shorten down the legendre test data
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🚨 Ruff fixes
  bluemira/builders/coil_supports.py
  bluemira/builders/tools.py
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo_tests/blanket/test_blanket.py
  eudemo/eudemo_tests/blanket/tools.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix eurofusion material import error on defined materials
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review
