Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

full run works now
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

ruff
  bluemira/codes/openmc/output.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

📝 Docs fixes
  bluemira/balance_of_plant/plotting.py
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/tools.py
  bluemira/codes/_freecadapi.py
  bluemira/codes/interface.py
  bluemira/codes/openmc/make_csg.py
  bluemira/codes/openmc/output.py
  bluemira/display/plotter.py
  bluemira/equilibria/analysis.py
  bluemira/equilibria/boundary.py
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/fem_fixed_boundary/fem_magnetostatic_2D.py
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/physics.py
  bluemira/fuel_cycle/timeline_tools.py
  bluemira/geometry/base.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/magnetostatics/fem_utils.py
  bluemira/magnetostatics/finite_element_2d.py
  bluemira/magnetostatics/polyhedral_prism.py
  bluemira/magnetostatics/tools.py
  bluemira/materials/cache.py
  bluemira/materials/material.py
  bluemira/materials/mixtures.py
  bluemira/plasma_physics/scaling_laws.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/make_pre_cell.py
  bluemira/radiation_transport/neutronics/slicing.py
  bluemira/radiation_transport/radiation_profile.py
  bluemira/radiation_transport/radiation_tools.py
  bluemira/structural/model.py
  bluemira/utilities/tools.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/maintenance/duct_connection.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4097)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

working on structural_WP_example.ex.py
  bluemira/mesh/tools.py
  examples/mesh/mesh_tutorial.ex.py
  examples/structural/structural_WP_example.ex.py
  generated_data/naughty_geometry/README.md
  poly16b.msh
Owners: @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Sphinx-autoapi fix
  requirements/uv/all.txt
  requirements/uv/develop.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix tests
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

👷 Enable py3.12 process CI tests, remove py3.10
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

LAR fix neutronics radii (#4116)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

fix upper port height
  eudemo/eudemo/radial_build.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

P_fus_DT and e_mult
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff stuff
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix total heating and pass in pfus
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Created the correct tally for total power.
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

typo correction
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Fixed a duplicate name
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Total power is now consistent with what you get when adding up vacuum vessel power + blanket power + divertor power.
  bluemira/codes/openmc/tallying.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added the appropriate NWL tallies (#4040)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

rebase pain
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🐛 Missed settings -> config
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Actually fix it
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

omg no deliberate nans
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review

clean up diagnostic printing
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review

remove duplicate function
  eudemo/eudemo/radial_build.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

avoid pandas warnings
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

change DPACoefficients into function
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/sources.py
  bluemira/radiation_transport/neutronics/constants.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

use
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/codes-review

typing
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/constants.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

🐛 Missed eq_settings -> eq_config (#4121)
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Avoid replacing pythonocc in build script
  scripts/install-conda.sh
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Avoid replacing pythonocc in build script (#4122)
  scripts/install-conda.sh
Owners: @Fusion-Power-Plant-Framework/repo-review

more config to run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix total heating and pass in pfus
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

fix upper port height
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CSG neutrnics IO working
  bluemira/balance_of_plant/steady_state.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

ruff
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff stuff
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  eudemo/config/params.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
