Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

update to fix
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

use count rather than idx
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

update to match
  bluemira/equilibria/find_legs.py
  bluemira/equilibria/flux_surfaces.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review

correct docstrings, uncomment fixed_coils = False option
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix rebase errors
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update FOMs
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove old notebook - out of date, useful contents are now in other SH notebook
  examples/equilibria/Spherical_Approximation_how_it_works.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Apply suggestion from @geograham
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove invert
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix for coilset that uses a mix of circuits and single coils
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

corrections
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Replace fit metric loop with harmonic amplitude optimisation, update plot, add objective functions
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/plotting.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add test
  bluemira/geometry/coordinates.py
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_find.py
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/equilibria-review

remove naming bad idea
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Updates to SH
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/find.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/harmonics_approx_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/objectives.py
  bluemira/equilibria/optimisation/problem/_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
  bluemira/geometry/coordinates.py
  bluemira/optimisation/_optimise.py
  examples/design/optimised_reactor.ex.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  examples/equilibria/eudemo_2017.ex.py
  examples/equilibria/spherical_harmonic_approximation_basic_use.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

Updates to SH
  bluemira/geometry/coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

refactor coils - controls automatically dealt with, removed unnecessary arguments
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/base.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

test correction
  tests/geometry/test_coordinates.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

corrections from comments
  bluemira/equilibria/find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

address comments
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pytest approx add and remove unused variable
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix to self inductance calculation
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

undo changes to self-inductance as changes in verification repo fixed things
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

new HCPB run
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

new HCPB run
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

new HCPB run
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

remove pickle
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix example file paths
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add title
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

put back example
  examples/equilibria/MAST-U_like_active_coils.pickle
  examples/equilibria/MASTU-FREEGSNKE.eqdsk
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add doc entry
  documentation/source/examples.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

switch pickle for json
  examples/equilibria/MAST-U_like_active_coils.json
  examples/equilibria/MAST-U_like_active_coils.pickle
Owners: @Fusion-Power-Plant-Framework/equilibria-review

put back old HCPB
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

put back old HCPB
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

put back old HCPB
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

👷 Skip Solovev test because it hands on GH cli
  .github/workflows/ci.yml
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/equilibria-review

👷 Skip Solovev test because it hangs on GH cli (#4272)
  .github/workflows/ci.yml
  tests/equilibria/fem_fixed_boundary/test_Solovev.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/equilibria-review

catching missed cases
  .github/workflows/actions/build/action.yml
Owners: @Fusion-Power-Plant-Framework/repo-review
