Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

pin github actions uses to specific hashes
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/process/action.yml
  .github/workflows/check_release_due.yml
  .github/workflows/ci.yml
  .github/workflows/comments.yml
  .github/workflows/dependabot_helper.yml
  .github/workflows/dependencies_pr.yml
  .github/workflows/examples.yml
  .github/workflows/pin_dependencies.yml
  .github/workflows/release.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

⬆️ Fenics_v0.10
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Pin github actions uses to specific hashes (#4273)
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/process/action.yml
  .github/workflows/check_release_due.yml
  .github/workflows/ci.yml
  .github/workflows/comments.yml
  .github/workflows/dependabot_helper.yml
  .github/workflows/dependencies_pr.yml
  .github/workflows/examples.yml
  .github/workflows/pin_dependencies.yml
  .github/workflows/release.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

⬆️ Pint version
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

🚨 Linter fixes
  bluemira/base/tools.py
  bluemira/codes/interface.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/solve.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/optimisation/_optimise.py
  bluemira/geometry/optimisation/typed.py
  bluemira/materials/cache.py
  bluemira/optimisation/typed.py
  bluemira/utilities/opt_variables.py
  scripts/format_warning_report.py
  scripts/openmc_data_download/multithreaded_download.py
  tests/_helpers.py
  tests/display/test_plotter.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/display-review

Improve argument typing in charged particle solver
  bluemira/radiation_transport/advective_transport.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Improve argument typing in charged particle solver (#4279)
  bluemira/radiation_transport/advective_transport.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

plotting changes for consistency
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

plotting changes for consistency (#4188)
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pause
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pause
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Fix process version
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

pause
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Removed permission_check, added to fppf-actions
  .github/workflows/actions/permission_check/action.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

FreeGNSKE MAST-U benchmark (#4222)
  documentation/source/examples.rst
  examples/equilibria/MAST-U_like_active_coils.json
  examples/equilibria/MASTU-FREEGSNKE.eqdsk
  examples/equilibria/freegsnke_mastu_comparison.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/equilibria-review

n_turns copout
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

n_turns copout
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add comments and TODO
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Changed references to permission check to fppf-actions
  .github/workflows/dependencies_pr.yml
  .github/workflows/pin_dependencies.yml
  .github/workflows/release.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

fix typos
  .github/workflows/dependencies_pr.yml
  .github/workflows/pin_dependencies.yml
  .github/workflows/release.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Removed permission_check, added to fppf-actions (#4280)
  .github/workflows/actions/permission_check/action.yml
  .github/workflows/dependencies_pr.yml
  .github/workflows/pin_dependencies.yml
  .github/workflows/release.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Fix coils get type function
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove test as no longer required until later fixes
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

RZIp vertical stability criterion (#3606)
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/vertical_stability.py
  bluemira/magnetostatics/greens.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_grid.py
  tests/equilibria/test_vertical_stability.py
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

pause
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Modify to allow for to_eqdsk to be used for breakdown class
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update bluemira/equilibria/equilibrium.py
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix bug
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

typo
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove modify_eqdsk
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

restructure to_eqdsk
  bluemira/equilibria/equilibrium.py
  tests/equilibria/test_breakdown.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add test file
  tests/equilibria/test_breakdown.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify to allow for to_eqdsk to be used for breakdown class (#4269)
  bluemira/equilibria/equilibrium.py
  tests/equilibria/test_breakdown.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

RZIp vertical stability criterion (#3606)
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/plotting.py
  bluemira/equilibria/vertical_stability.py
  bluemira/magnetostatics/greens.py
  tests/equilibria/test_coils.py
  tests/equilibria/test_grid.py
  tests/equilibria/test_vertical_stability.py
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

RZIp vertical stability criterion (#3606)
  bluemira/equilibria/plasma.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

RZIp vertical stability criterion (#3606)
  bluemira/equilibria/plasma.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

move build action out to fppf actions
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

RZIp issues
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

RZIp issues
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

RZIp issues
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/equilibria/stability.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14
