Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

ruff a bit
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review

ruff a bit
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

ruff a bit
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review

ruff a bit
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

replace packing fraction
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

Calculate psi norm value for a coordinate on the LCFS (#4133)
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

revert to start
  bluemira/geometry/parameterisations.py
  bluemira/utilities/opt_variables.py
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
  tests/geometry/test_parameterisations.py
  tests/utilities/test_opt_variables.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/tsvv-14

Revert "revert to start"
  bluemira/geometry/parameterisations.py
  bluemira/utilities/opt_variables.py
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
  tests/geometry/test_parameterisations.py
  tests/utilities/test_opt_variables.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/tsvv-14

Revert "use specific OptVariablesFrame in constructors: Parameterisation, and add tests"
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Special TypedDict for Circle
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Special TypedDict for parameterisations in parameterisations.py
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

Special TypedDict for parameterisations in shapes.py
  bluemira/equilibria/shapes.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Special TypedDict for parameterisations in eudemo wall and tf coil paramterisations
  eudemo/eudemo/ivc/wall_silhouette_parameterisation.py
  eudemo/eudemo/tf_coils/tf_coil_parameterisations.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove work
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

remove work
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

remove work
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

Version 3.2.2
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Apply suggestions from code review
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Update .github/workflows/actions/build/action.yml
  .github/workflows/actions/build/action.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

⬆️ Version upgrade
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

process v3.2.2 Variable update (#4129)
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  data/reactors/Coil_Structures_Example/systems_code/mockPROCESS.json
  eudemo/config/mockPROCESS.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  pyproject.toml
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_data/params.json
  tests/codes/process/test_data/read/mockPROCESS.json
  tests/codes/process/test_template_builder.py
  tests/test_data/reactors/BLUEPRINT-INTEGRATION-TEST/systems_code/mockPROCESS.json
  tests/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Update requirements/uv/all.txt
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

FW tweaks
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

FW tweaks
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

FW tweaks
  eudemo/config/params.json
  eudemo/eudemo/blanket/panelling/_designer.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 First commit of dagmc solver
  bluemira/codes/openmc/__init__.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Add remaining th tests and a couple missing bits in th fn docstrings
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Li enrichment workaround
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

Li enrichment workaround
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

minor
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

still at a loss...
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

match eufoer and tungsten
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

ruff a bit
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review
