Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

feat(cadqueryapi): sweep_shape enforces path tangent continuity
  bluemira/codes/_cadqueryapi.py
  tests/geometry/test_sweep.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

fix sphinx warnings
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/base.py
  bluemira/mesh/meshing.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/mesh-review

python_occ: guard cq→OCC BRep round-trip against non-Solid downcast
  bluemira/codes/python_occ/imprintable_solid.py
Owners: @Fusion-Power-Plant-Framework/codes-review

run cadquery-backend tests in CI - run without PROCESS (we are still developing) - run with python 3.11 and 3.12
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

fix(cadqueryapi): declare metre unit in STEP + explicit unit scaling on import
  bluemira/codes/_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

all tests in builders are green
  bluemira/codes/_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

- fix PR warnings workflow: use _ubuntu-latest_freecad suffix (same artifact as before) - skip backend-specific tests when the other backend is active
  .github/workflows/comments.yml
  tests/codes/test_cadqueryapi.py
  tests/codes/test_freecadapi.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review

all tests green for both backends
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/python_occ/imprintable_solid.py
  bluemira/geometry/compound.py
  conftest.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/repo-review

fix(cadqueryapi+geometry): port make_bspline_g1_blend, unmark PrincetonDDiscrete
  bluemira/codes/_cadqueryapi.py
  bluemira/geometry/face.py
  bluemira/geometry/parameterisations.py
  tests/geometry/test_parameterisations.py
  tests/geometry/test_private_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

fix(cadqueryapi): implement split phase in boolean_cut for wire-vs-closed-wire
  bluemira/codes/_cadqueryapi.py
  tests/builders/test_coil_supports.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/builders-review

more lint cleanup before continue development
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  tests/display/test_cadquery.py
  tests/geometry/test_geometry.py
  tests/geometry/test_inscribed_rect.py
  tests/geometry/test_parameterisations.py
  tests/geometry/test_private_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/geometry-review

conda: pin nlopt==2.10.0 to match pip lock
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

test(private_tools): loosen test_shell tolerance to rtol=1e-3
  tests/geometry/test_private_tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

fix sphinx warnings, fix nlopt error
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/face.py
  bluemira/optimisation/_nlopt/optimiser.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

fixed ordered edges for wires, add cadquery lib to environment.yml
  bluemira/codes/_cadqueryapi.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/wire.py
  conda/environment.yml
  tests/display/test_displayer.py
  tests/geometry/test_offset.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/display-review

added auto-created .xao files to gitignore
  .gitignore
Owners: @Fusion-Power-Plant-Framework/repo-review

cadquery backend: robustify slice_shape, sweep_shape and boolean ops
  bluemira/codes/_cadqueryapi.py
  tests/builders/test_coil_supports.py
  tests/geometry/test_sweep.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/geometry-review

refactored invalid import for sphinx-build
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

feat(cadqueryapi): open-wire boolean_cut via cq.cut + break-at-crossings
  bluemira/codes/_cadqueryapi.py
  tests/geometry/test_geometry.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

fix(cadqueryapi): try non-planar face construction before planar fallbacks
  bluemira/codes/_cadqueryapi.py
  eudemo/eudemo_tests/blanket/panelling/test_designer.py
  eudemo/eudemo_tests/test_tf_coils.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

small update to speed up and fix pyclipper_offset_test (scaling it down and using defined precision)
  bluemira/codes/_cadqueryapi.py
  bluemira/geometry/_pyclipper_offset.py
  tests/geometry/test_pyclipper_offset.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/geometry-review

show_cad: respect BLUEMIRA_GEOMETRY_BACKEND env var when no backend kwarg is passed
  bluemira/display/displayer.py
Owners: @Fusion-Power-Plant-Framework/display-review

ci: keep historical artifact name for freecad so upstream comments.yml finds it
  .github/workflows/ci.yml
  .github/workflows/comments.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

test(inscribed_rect): remove stale cadquery xfail on non-convex shape
  tests/geometry/test_inscribed_rect.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

fix(cadqueryapi): write STEP with METRE unit to match FreeCAD
  bluemira/codes/_cadqueryapi.py
Owners: @Fusion-Power-Plant-Framework/codes-review

test_displayer: now tests against the active geometry backend (cadquery or freecad)
  tests/display/test_displayer.py
Owners: @Fusion-Power-Plant-Framework/display-review

align pytools pin between environment.yml and conda.txt
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4311)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

refactor(_cadqueryapi): split into a package, extract _placement and _patches
  bluemira/codes/_cadqueryapi/__init__.py
  bluemira/codes/_cadqueryapi/_aliases.py
  bluemira/codes/_cadqueryapi/_core.py
  bluemira/codes/_cadqueryapi/_patches.py
  bluemira/codes/_cadqueryapi/_placement.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

refactor(_cadqueryapi): extract _curves / _display / _io submodules
  bluemira/codes/_cadqueryapi/__init__.py
  bluemira/codes/_cadqueryapi/_core.py
  bluemira/codes/_cadqueryapi/_curves.py
  bluemira/codes/_cadqueryapi/_display.py
  bluemira/codes/_cadqueryapi/_io.py
Owners: @Fusion-Power-Plant-Framework/codes-review

display(cadquery): opt-in side menu via show_gui_panels (default off)
  bluemira/codes/_cadqueryapi/_display.py
  bluemira/display/displayer.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review

validate inner-wire bbox containment in _face_from_wires_tolerant
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

_check_path_tangent_continuity: also check closing seam for closed paths
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

sweep_shape: wrap single cq.Wire as [wire] instead of list-ifying its edges
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

sweep_shape: honour transition for multi-profile sweeps via BRepOffsetAPI
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

offset_wire: return a copy on zero thickness instead of the original
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

offset_wire: warn instead of silently discarding multi-wire offset results
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

remove unused _edges_tangent helper
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review

_wire_edges_tangent: per-edge D1 + closed-seam, share with path-continuity check
  bluemira/codes/_cadqueryapi/_core.py
Owners: @Fusion-Power-Plant-Framework/codes-review
