Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

fix total heating and pass in pfus
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

rebased I think
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

0D model upates
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

put back run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

disable jit and modify config
  bluemira/equilibria/profiles.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

0D model upates
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

put back run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

put back run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

undo hack
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

params update
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

added angled blanket wall cuts, still hard coding the angle
  eudemo/config/build_config.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

saving work
  eudemo/config/wall_boundary.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CSG neutrnics IO working
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

debugging
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

cant remember what I did sorry
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

sorry
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Fixed the logic of the function for enforcing convexity of the First wall, and relocated it into coordinates.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/tools.py
  bluemira/radiation_transport/neutronics/slicing.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/radiation-transport-review

remove newline in equilibria
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

disable jit and modify config
  bluemira/equilibria/profiles.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

add Te to PROCESS out mapping...
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

rebased I think
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🔧 Disable dagmc for now
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Fixed the logic of the function for enforcing convexity of the First wall, and relocated it into coordinates.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/tools.py
  bluemira/radiation_transport/neutronics/slicing.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/radiation-transport-review

Enforced convexity of the first-wall panel break points by throwing away points not forming the convex hull.
  bluemira/geometry/tools.py
  bluemira/radiation_transport/neutronics/slicing.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/radiation-transport-review

params update
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

need some more PROCESS mappings
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove newline in equilibria
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

hook up
  bluemira/codes/openmc/output.py
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

changed back to run mode
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

decent ish EOF
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/designer.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

not working loc method
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

not working loc method
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

debugging
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

sorry
  eudemo/config/params.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

sorry
  eudemo/config/params.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix total heating and pass in pfus
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/tallying.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

P_fus_DT and e_mult
  bluemira/codes/openmc/output.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14
