Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

Typos from conflict resolution
  bluemira/codes/process/equation_variable_mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add returns
  bluemira/equilibria/optimisation/constraints.py
  tests/plasma_physics/test_rules_of_thumb.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/plasma-physics-review

fix test
  tests/equilibria/test_optimisation.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add kwargs RUFF
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

add kwargs DOCSTRING
  bluemira/geometry/parameterisations.py
Owners: @Fusion-Power-Plant-Framework/geometry-review

add hook for TF designer
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Add kwargs to `GeometryParameterisation` (#4234)
  bluemira/geometry/parameterisations.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

Remove repeated line, add neqns to IN.DAT
  bluemira/codes/process/equation_variable_mapping.py
  examples/codes/IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review

neqns and nflutfmax added to test IN.DAT
  tests/codes/process/test_data/IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review

nflutfmax to params.json
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

Added rrr_tf_cu and t_tf_quench_detection to test json
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

Remove python 3.10
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

fvalue test removed
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Removing missed fvalues in tests
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

temporary test skip
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Upgrade to process v3.3.0 (#4232)
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  CITATION.cff
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  bluemira/codes/process/params.py
  bluemira/codes/process/template_builder.py
  examples/codes/IN.DAT
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  pyproject.toml
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_data/params.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

Revert "Upgrade to process v3.3.0 (#4232)"
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  CITATION.cff
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  bluemira/codes/process/params.py
  bluemira/codes/process/template_builder.py
  examples/codes/IN.DAT
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  pyproject.toml
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_data/params.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

🚧 TMP bug fixing
  bluemira/magnets/tfcoil_designer.py
  examples/magnets/example_tf_creation.py
Owners: @Fusion-Power-Plant-Framework/magnets-review

🚨 Ruff fixes
  bluemira/codes/_freecadapi.py
  bluemira/display/plotter.py
  bluemira/equilibria/profiles.py
  bluemira/equilibria/shapes.py
  bluemira/fuel_cycle/timeline_tools.py
  bluemira/geometry/_pyclipper_offset.py
  bluemira/geometry/coordinates.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/magnetostatics/circuits.py
  bluemira/optimisation/_tools.py
  bluemira/plasma_physics/scaling_laws.py
  bluemira/utilities/positioning.py
  eudemo/eudemo/blanket/designer.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/utilities-review

🔧 Disable fe mag example
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

✅ Small change to test values
  tests/equilibria/test_optimisation.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🍻 Disable meshing tutorial on CI
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Attempted fix
  requirements/uv/develop.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬇️ Actually just pin sphinx
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/develop.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

⬇️ Downgrade myst-parser
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/develop.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

🚧 Tmp
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Test n
  pyproject.toml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

Updated transient dependencies (#4202)
  .github/workflows/pin_dependencies.yml
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed trapz to trapezoid conversion
  bluemira/equilibria/grid.py
  bluemira/fuel_cycle/tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review

extended structural finite element solver with FEMGeneralizedPlainStrainLEA2D
  bluemira/structural/finite_element.py
Owners: @Fusion-Power-Plant-Framework/structural-review

added example from Gaurav
  examples/structural/Homogenised_full360_PS.py
  examples/structural/WP_full2D_360_pln_strn.py
  examples/structural/WP_full2d.py
  examples/structural/gen_plain_strain_LEA_2D_example.ex.py
  examples/structural/plain_strain_LEA_2D_example.ex_gaurav.py
Owners: @Fusion-Power-Plant-Framework/structural-review

remove trivial sin mode
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

whoops
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Equality flags to Constraint class, sum for neqns, sorting of constraints
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

process examples added back to CI
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Fixed single null
  examples/radiation_transport/radiation_calculation_solver_DEMO.ex.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Now requires user to state whether equality constraint or not
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/template_builder.py
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Update bluemira/codes/process/template_builder.py
  bluemira/codes/process/template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

linting fix
  bluemira/codes/process/template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Updated template builder for process v330 (#4242)
  .github/workflows/examples.yml
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/template_builder.py
  examples/codes/run_process_example.ex.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review
