Repository Fusion-Power-Plant-Framework/BLUEMIRA, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @CoronelBuendia, @je-cook, @tplobo, @DanShort12, @hsaunders1904, @ivanmaione, @alexanderianblair, @DarioV86

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @CoronelBuendia @je-cook @tplobo
*/base/ @je-cook @DanShort12 @hsaunders1904
*/builders/ @DanShort12 @hsaunders1904 @je-cook
*/codes/ @je-cook @ivanmaione
*/display/ @ivanmaione @DanShort12
*/equilibria/ @CoronelBuendia @je-cook @alexanderianblair
*/fuel_cycle/ @CoronelBuendia
*/geometry/ @ivanmaione @CoronelBuendia
*/magnetostatics/ @CoronelBuendia @ivanmaione
*/materials/ @DanShort12
*/mesh/ @ivanmaione
*/radiation_transport/ @CoronelBuendia @DarioV86
*/utilities/ @je-cook @CoronelBuendia

# Order is important; the last matching pattern takes the most
# precedence. eg js-owner would own all *.js files. Directories and wildcards can be specified etc
# no user can be used to default to global owner
# *.js    @js-owner
# *.go docs@example.com
# /build/logs/ @doctocat @doctocat2
# /build/info/

remove bad picture frame
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

flake8
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

put back test and add warning for acture
  bluemira/magnetostatics/circuits.py
  tests/bluemira/magnetostatics/test_circuits.py
Owners: @CoronelBuendia, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

remove prints
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

update note
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

more cleanup
  bluemira/magnetostatics/circuits.py
Owners: @CoronelBuendia, @ivanmaione

Write initial first wall builder (#680)
  .flake8
  bluemira/base/builder.py
  bluemira/base/components.py
  bluemira/base/config.py
  bluemira/builders/EUDEMO/first_wall/__init__.py
  bluemira/builders/EUDEMO/first_wall/divertor.py
  bluemira/builders/EUDEMO/first_wall/first_wall.py
  bluemira/builders/EUDEMO/first_wall/wall.py
  bluemira/builders/EUDEMO/reactor.py
  bluemira/codes/_freecadapi.py
  bluemira/geometry/optimisation.py
  bluemira/geometry/parameterisations.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  scripts/install-msh2xdmf.sh
  tests/bluemira/base/test_components.py
  tests/bluemira/builders/EUDEMO/first_wall/test_divertor.py
  tests/bluemira/builders/EUDEMO/first_wall/test_first_wall.py
  tests/bluemira/builders/EUDEMO/first_wall/test_wall.py
  tests/bluemira/builders/EUDEMO/test_reactor.py
  tests/bluemira/codes/test_freecadapi.py
  tests/bluemira/geometry/test_optimisation.py
  tests/bluemira/geometry/test_tools.py
  tests/bluemira/geometry/test_wire.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @je-cook, @DanShort12, @hsaunders1904, @ivanmaione, @CoronelBuendia

added test
  tests/bluemira/radiation_transport/test_advective_transport.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Removed flux surface that doesn't intersect the wall
  bluemira/radiation_transport/advective_transport.py
Owners: @CoronelBuendia, @DarioV86

signature
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
Owners: @je-cook, @ivanmaione, @CoronelBuendia

⬆️ update versioneer.py files
  .gitattributes
  bluemira/__init__.py
  bluemira/_version.py
  setup.cfg
  versioneer.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

skeleton implementation
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
Owners: @je-cook, @ivanmaione, @CoronelBuendia

⬆️ flake8-bandit upgrade
  .github/dependabot.yml
  .pre-commit-config.yaml
  requirements-develop.txt
  setup.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 <=
  setup.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ conda update fluids
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add tests
  bluemira/codes/_freecadapi.py
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  tests/bluemira/geometry/test_tools.py
Owners: @je-cook, @ivanmaione, @CoronelBuendia, @Fusion-Power-Plant-Framework/tsvv-14

⬆️ flake8-bandit upgrade (#798)
  .github/dependabot.yml
  .pre-commit-config.yaml
  requirements-develop.txt
  setup.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

rejig tests
  tests/bluemira/geometry/test_tools.py
  tests/bluemira/geometry/test_wire.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

flake8
  tests/bluemira/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Removing flux surface that doesn't intersect the wall (#788)
  bluemira/radiation_transport/advective_transport.py
  tests/bluemira/radiation_transport/test_advective_transport.py
Owners: @CoronelBuendia, @DarioV86, @Fusion-Power-Plant-Framework/tsvv-14

⬆️ conda update fluids (#810)
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/tsvv-14

shuffle test and tools api
  bluemira/geometry/tools.py
  bluemira/geometry/wire.py
  tests/bluemira/geometry/test_tools.py
  tests/bluemira/geometry/test_wire.py
Owners: @ivanmaione, @CoronelBuendia, @Fusion-Power-Plant-Framework/tsvv-14

None checks
  bluemira/geometry/wire.py
Owners: @ivanmaione, @CoronelBuendia

fix polygons
  bluemira/geometry/wire.py
  tests/bluemira/geometry/test_wire.py
Owners: @ivanmaione, @CoronelBuendia, @Fusion-Power-Plant-Framework/tsvv-14

pause
  bluemira/codes/_freecadapi.py
  tests/bluemira/geometry/test_wire.py
Owners: @je-cook, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

switch to distance
  bluemira/codes/_freecadapi.py
  bluemira/geometry/wire.py
Owners: @je-cook, @ivanmaione, @CoronelBuendia

fix test
  bluemira/codes/_freecadapi.py
  tests/bluemira/geometry/test_wire.py
Owners: @je-cook, @ivanmaione, @Fusion-Power-Plant-Framework/tsvv-14

circle suck
  tests/bluemira/geometry/test_wire.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Freeze env in workflow
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/tsvv-14

working with parameter
  bluemira/codes/_freecadapi.py
  bluemira/geometry/wire.py
Owners: @je-cook, @ivanmaione, @CoronelBuendia

doc strings and warnings
  bluemira/codes/_freecadapi.py
Owners: @je-cook, @ivanmaione

flake8
  bluemira/codes/_freecadapi.py
Owners: @je-cook, @ivanmaione

signature and remove old test
  bluemira/geometry/wire.py
  tests/bluemira/geometry/test_tools.py
Owners: @ivanmaione, @CoronelBuendia, @Fusion-Power-Plant-Framework/tsvv-14

flake8
  tests/bluemira/geometry/test_tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove old function
  bluemira/geometry/tools.py
Owners: @ivanmaione, @CoronelBuendia

thread in value_at
  bluemira/builders/EUDEMO/first_wall/divertor.py
Owners: @DanShort12, @hsaunders1904, @je-cook

flake8
  bluemira/geometry/tools.py
Owners: @ivanmaione, @CoronelBuendia
