Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

various try catches
  bluemira/balance_of_plant/plotting.py
  bluemira/builders/coil_supports.py
  bluemira/builders/tools.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

various try catches
  bluemira/balance_of_plant/plotting.py
  bluemira/builders/coil_supports.py
  bluemira/builders/tools.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

various try catches
  bluemira/builders/coil_supports.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

various try catches
  bluemira/balance_of_plant/plotting.py
  bluemira/builders/coil_supports.py
  bluemira/builders/tools.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

various try catches
  bluemira/builders/coil_supports.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

change input of ToroidalHarmonicsConstraint so that it takes ToroidalHarmonicsSelectionResult and update notebook and tests
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed beta
  bluemira/codes/process/equation_variable_mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

more try catch
  bluemira/builders/coil_supports.py
Owners: @Fusion-Power-Plant-Framework/builders-review

more try catch
  bluemira/builders/coil_supports.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

more try catch
  bluemira/builders/coil_supports.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

more try catch
  bluemira/builders/coil_supports.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

more try catch
  bluemira/builders/coil_supports.py
Owners: @Fusion-Power-Plant-Framework/builders-review

revamp coil supports
  bluemira/builders/coil_supports.py
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

revamp coil supports
  bluemira/builders/coil_supports.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

revamp coil supports
  bluemira/builders/coil_supports.py
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

revamp coil supports
  bluemira/builders/coil_supports.py
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

revamp coil supports
  bluemira/builders/coil_supports.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

change algo
  examples/equilibria/single_null.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

change algo (#4132)
  examples/equilibria/single_null.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

calculate psi norm value for a coordinate on the LCFS
  bluemira/equilibria/equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Additions to docs and fix broken test
  documentation/source/equilibria/equilibria.rst
  documentation/source/equilibria/th-region-and-coils.png
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/equilibria-review

need to fix materials
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

need to fix materials
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

need to fix materials
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

need to fix materials
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

need to fix materials
  bluemira/builders/coil_supports.py
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

replace == with assert almost equal
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🎨 Tmp
  bluemira/base/constants.py
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/codes/wrapper.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

add classmethod to initiate from a dict in OptVariablesFrame
  bluemira/utilities/opt_variables.py
Owners: @Fusion-Power-Plant-Framework/utilities-review

accept CircleOptVariables as constructor parameter in Circle
  examples/optimisation/geometry_optimisation_with_parameterisation.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Li enrichment workaround
  bluemira/materials/neutronics.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14
