Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

🐛 Missed test failures
  bluemira/codes/process/api.py
  bluemira/codes/process/model_mapping.py
  documentation/source/conf.py
  tests/codes/process/test_api.py
  tests/codes/process/test_template_builder.py
  tests/codes/process/utilities.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Undo change done after release
  bluemira/codes/process/_inputs.py
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed PROCESS test failures (#4101)
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/api.py
  bluemira/codes/process/model_mapping.py
  documentation/source/conf.py
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  tests/codes/process/test_api.py
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
  tests/codes/process/utilities.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

PROCESS #3863
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

PROCESS #3863
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

PROCESS #3847 partial redo (coreradiationfraction -> f_p_plasma_core_rad_reduction)
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

PROCESS #3847 partial redo (coreradiationfraction -> f_p_plasma_core_rad_reduction)
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

Address comments
  bluemira/equilibria/constants.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/physics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

initial additions to tokamak_source
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Import Error no longer needed, as openmc_plasma_source has been added as a dependency.
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Added toka source
  examples/radiation_transport/run_cad_neutronics.ex.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

Working parameter changes.
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

revert example changes.
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

add PROCESS mappings
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added comments about what the expected units and values are - will be deleted in later commits.
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add EUDEMO params
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Forced all units to be saved correctly as soon as PlasmaSourceParameters is created (as a frozen dataclass) from a parameter frame. (These units are detailed in PlasmaSourceParameters._unit)
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

update source params
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

added tests for sources and params.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Minor changes to remove unused variable in test_source_plot
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update test params
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

Corrected the units for Shafranov shift.
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update source
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add EUDEMO params
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Update bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added test for neutron source created from PlasmaParameters.
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added the 'enabled' parameter in the eudemo/config/build_config.json
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

replace dependency
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

use new source
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

params
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

normalise total fusion power
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

scale and ruff
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix some tests
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

fix tests
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

install right
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

fix tests
  bluemira/codes/openmc/params.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

false
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

docstring params
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
