Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

more ruff
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more ruff
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more ruff
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove old func
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove old func
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove old func
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more cleaning
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more cleaning
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more ruff
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more cleaning
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more ruff
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Caching fixes
  bluemira/codes/openmc/solver.py
  bluemira/codes/wrapper.py
  bluemira/materials/cache.py
  bluemira/materials/neutronics.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/duct_connection.py
  eudemo/eudemo/maintenance/lower_port/builder.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/vacuum_vessel.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

✨ Caching fixes
  bluemira/codes/openmc/solver.py
  bluemira/codes/wrapper.py
  bluemira/materials/cache.py
  bluemira/materials/neutronics.py
  eudemo/eudemo/comp_managers.py
  eudemo/eudemo/maintenance/duct_connection.py
  eudemo/eudemo/maintenance/lower_port/builder.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/vacuum_vessel.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Only 311
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

try catch freecad
  bluemira/builders/tools.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

try catch freecad
  bluemira/builders/tools.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

try catch freecad
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

try catch freecad
  bluemira/builders/tools.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/tsvv-14

try catch freecad
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

clean up
  eudemo/eudemo/blanket/builder.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

👷 Fix examples CI
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

👷 Fix examples CI (#4130)
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

CI change
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

PROCESS #3886
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  data/reactors/Coil_Structures_Example/systems_code/mockPROCESS.json
  eudemo/config/mockPROCESS.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_data/params.json
  tests/codes/process/test_data/read/mockPROCESS.json
  tests/codes/process/test_template_builder.py
  tests/test_data/reactors/BLUEPRINT-INTEGRATION-TEST/systems_code/mockPROCESS.json
  tests/test_data/reactors/SMOKE-TEST-EU-DEMO/systems_code/mockPROCESS.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

updating values in test
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Adding documentation, delete unnecessary fn and argument
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  documentation/source/equilibria/equilibria.rst
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

commit image added to docs
  documentation/source/equilibria/th-flux-comparison.png
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add currents fn back in
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

edit docstring
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary argument
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

pre commit fixes
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

reword figure caption
  documentation/source/equilibria/equilibria.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed void names
  eudemo/eudemo/maintenance/port_plug.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Missed void names
  eudemo/eudemo/maintenance/port_plug.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Caching fixes
  bluemira/codes/openmc/solver.py
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review

✨ Caching fixes
  bluemira/codes/openmc/solver.py
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/materials-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
