Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

🚨 Linter
  bluemira/radiation_transport/neutronics/constants.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

pnetel mapping update
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pnetel mapping update
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/process/mapping.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

pnetel mapping update
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/process/mapping.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

pnetel mapping update
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/process/mapping.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

pnetel mapping update
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pnetel mapping update
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/process/mapping.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Sub-dependency update (#4119)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Apply suggestion from @je-cook
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

👷 Enable py3.12 process CI tests, remove py3.10 (#4120)
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

fix plotting?
  bluemira/base/tools.py
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix plotting?
  bluemira/base/tools.py
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix plotting?
  bluemira/base/tools.py
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix plotting?
  bluemira/base/tools.py
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix plotting?
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

fix plotting?
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix renaming
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

🐛 Fix renaming
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

➕ Add matproplib dep
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

➕ Add matproplib dep
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 Fix renaming
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

🐛 Fix renaming
  bluemira/materials/neutronics.py
Owners: @Fusion-Power-Plant-Framework/materials-review

catch lost neutrons
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

catch lost neutrons
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

catch lost neutrons
  bluemira/display/palettes.py
  bluemira/display/plotter.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

catch lost neutrons
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

catch lost neutrons
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

catch lost neutrons
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/display/plotter.py
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Add support for python 3.13
  .github/workflows/ci.yml
  .github/workflows/comments.yml
  .github/workflows/examples.yml
  .github/workflows/pin_dependencies.yml
  conda/environment.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

blanket seg
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/solver.py
  bluemira/display/palettes.py
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/tsvv-14

add parameters
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

use in CSG
  bluemira/codes/openmc/sources.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Blanket poloidal segmentation (#4127)
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/display/palettes.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Blanket poloidal segmentation (#4127)
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/sources.py
  bluemira/display/palettes.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Blanket poloidal segmentation (#4127)
  bluemira/balance_of_plant/plotting.py
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/display/palettes.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Blanket poloidal segmentation (#4127)
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff stuff
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

Blanket poloidal segmentation (#4127)
  eudemo/config/params.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff stuff
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

ruff stuff
  bluemira/codes/openmc/solver.py
  bluemira/radiation_transport/neutronics/blanket_data.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
