Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

constraint history
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

scipy tests
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_tools.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

constrained problem working for COBYLA and filtered scipy algorithm list
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

working for SLSQP and COBYLA
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

cleanup ci now python 3.10 is dropped
  .github/workflows/ci.yml
  .github/workflows/examples.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

first working version for scipy SLSQP
  bluemira/geometry/optimisation/_optimise.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy_opt.py
  bluemira/optimisation/_tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

finishing scipy tests and code coverage
  CITATION.cff
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  bluemira/optimisation/_tools.py
  tests/optimisation/geometry/test_geometry.py
  tests/optimisation/geometry/test_problem.py
  tests/optimisation/test_optimise.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

tests for all scipy algs
  tests/optimisation/test_optimise.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

rework conditions and parameters for scipy
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  bluemira/optimisation/_scipy/registry.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

warning if df_objective given but unhandled by algorithm
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/registry.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add unit tests for re-written parameter code
  bluemira/optimisation/_scipy/optimiser.py
  pyproject.toml
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/repo-review

account for machine epsilon in constraint checking
  bluemira/equilibria/run.py
  bluemira/optimisation/_optimise.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

Update documentation/source/radiation_transport/radiation.rst
  documentation/source/radiation_transport/radiation.rst
Owners: @Fusion-Power-Plant-Framework/tsvv-14

linter
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

ruff biome
  tests/equilibria/test_data/eof_lcfs_sep_test.json
  tests/equilibria/test_data/mastu_lcfs_sep_test.json
  tests/equilibria/test_data/sof_lcfs_sep_test.json
  tests/equilibria/test_data/steplike_lcfs_sep_test.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review

biome
  tests/equilibria/test_data/EUDEMO_equilibrium.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review

first signs of progress
  examples/equilibria/sparc_th.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

tweaks
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

better
  examples/equilibria/sparc_th.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Added radiation documentation for cherab use (#4208)
  bluemira/radiation_transport/radiation_tools.py
  documentation/source/radiation_transport/radiation.rst
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

:bug: bugfix in dx_mp warning
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Update bluemira/radiation_transport/radiation_tools.py
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

🛡️Add warning for dx_mp much greater than lambda_q
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

fix ruff error
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

🛡️Papercut #4207 : Add warning for dx_mp much greater than lambda_q (#4220)
  bluemira/radiation_transport/radiation_tools.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

fix for slsqp - use gradients
  bluemira/optimisation/_scipy/registry.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Review changes
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plotting.py
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

symmetry better
  examples/equilibria/sparc_th.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add files
  examples/equilibria/SPARC_active_coils.pickle
  examples/equilibria/SPARC_equilibrium.eqdsk
  examples/equilibria/SPARC_limiter.pickle
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add magic number comment
  bluemira/equilibria/find.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Bugfix: LCFS and separatrix finding for different equilibrium configurations (#4221)
  bluemira/equilibria/find.py
  examples/equilibria/coilset_opt_problem_tutorial.ex.py
  tests/equilibria/test_data/EUDEMO_equilibrium.json
  tests/equilibria/test_data/eof_lcfs_sep_test.json
  tests/equilibria/test_data/mastu_lcfs_sep_test.json
  tests/equilibria/test_data/mock_flux_surfaces.json
  tests/equilibria/test_data/sof_lcfs_sep_test.json
  tests/equilibria/test_data/steplike_lcfs_sep_test.json
  tests/equilibria/test_find.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

💡 Improve comments
  bluemira/base/parameter_frame/_units.py
Owners: @Fusion-Power-Plant-Framework/base-review

xfail slsqp and cobyla on alkylation problem due to numerical instability
  tests/optimisation/test_constrained_problem.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Regrid eqdsk after read in (#3890)
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/find.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plasma.py
  bluemira/equilibria/plotting.py
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Modify symmetric circuits loop and add coil naming
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Apply suggestion from @geograham
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove unnecessary
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add to tests
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix for coilset that uses a mix of circuits and single coils
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

WIP
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/optimisation/constraints.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/optimisation/problem/base.py
  bluemira/equilibria/solve.py
  examples/equilibria/MAST-U_like_active_coils.pickle
  examples/equilibria/MAST-U_like_active_coils.pickle:Zone.Identifier
  examples/equilibria/freeGSNK_newton.pk
  examples/equilibria/freeGSNK_newton.pk:Zone.Identifier
  examples/equilibria/freeGSNK_picard.pk
  examples/equilibria/freeGSNK_picard.pk:Zone.Identifier
  examples/equilibria/mastu_test.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
