Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

remove dead code
  eudemo/eudemo/pf_coils/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

undo comment
  bluemira/equilibria/profiles.py
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

__slots__ form CoilGroup added to Circuit
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

__slots__ form CoilGroup added to Circuit (#4152)
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix colouring
  bluemira/base/tools.py
  bluemira/display/plotter.py
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/display-review

🐛 Missing default arg
  bluemira/base/tools.py
Owners: @Fusion-Power-Plant-Framework/base-review

fix test
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

undo comment out
  examples/equilibria/eudemo_2017.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add full calc to betap profiles
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Apply suggestions from code review
  bluemira/equilibria/profiles.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove use of approx from profile - not needed as not too slow
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ex.py
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add to tests
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix bop example
  examples/balance_of_plant/steady_state_example.ex.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review

🎨 Add representative values
  examples/balance_of_plant/steady_state_example.ex.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review

Beta_p profile classes: use full calculation rather than approximation (#4123)
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ex.py
  tests/equilibria/test_equilibrium.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

slightly better values
  examples/balance_of_plant/steady_state_example.ex.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review

🐛 Fix bop example (#4153)
  examples/balance_of_plant/steady_state_example.ex.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review

scipy optimisers draft
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

constraint history
  bluemira/optimisation/_nlopt/functions.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

attempt at feed through
  bluemira/equilibria/optimisation/problem/_breakdown.py
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/optimisation/problem/_tikhonov.py
  bluemira/equilibria/run.py
  bluemira/equilibria/solve.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

first working version for scipy SLSQP
  bluemira/geometry/optimisation/_optimise.py
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy_opt.py
  bluemira/optimisation/_tools.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

handle optimiser conditions
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

working for SLSQP and COBYLA
  bluemira/optimisation/_scipy_opt.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

tidy optimiser condition handling
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_optimise.py
  bluemira/optimisation/_scipy/__init__.py
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

translating nlopt conditions to scipy
  bluemira/optimisation/_algorithm.py
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

COBYQA working - requires additional parameters to converge
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

optimiser exception handling
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add default parameters for specific algorithms
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

scipy tests
  bluemira/optimisation/_scipy/conditions.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_tools.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

finishing scipy tests and code coverage
  CITATION.cff
  bluemira/optimisation/_nlopt/optimiser.py
  bluemira/optimisation/_scipy/optimiser.py
  bluemira/optimisation/_scipy/parameters.py
  bluemira/optimisation/_tools.py
  tests/optimisation/geometry/test_geometry.py
  tests/optimisation/geometry/test_problem.py
  tests/optimisation/test_optimise.py
  tests/optimisation/test_scipy.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

⬆️ Macos runner on 3.11
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
  requirements/uv/all.txt
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/tsvv-14

try adding material config
  eudemo/config/materials.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

dots
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

move materials file
  eudemo/eudemo/materials.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

finally working
  eudemo/eudemo/materials.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add blanket materials
  eudemo/config/build_config.json
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix materials cache
  bluemira/materials/cache.py
Owners: @Fusion-Power-Plant-Framework/materials-review

🐛 Fix materials cache 2
  bluemira/materials/cache.py
Owners: @Fusion-Power-Plant-Framework/materials-review

ruff
  eudemo/eudemo/blanket/builder.py
  eudemo/eudemo/materials.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

better error message
  bluemira/materials/cache.py
Owners: @Fusion-Power-Plant-Framework/materials-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
