Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

more ruff
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/codes-review

run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

docstring params
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

pytest approx
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff part 1
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

minor and remove parameteric_source
  bluemira/codes/openmc/solver.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

integrated
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

branch for now
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

Update tests/codes/openmc/test_source_params.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🚨 Linter fixes
  bluemira/codes/openmc/sources.py
  eudemo/config/params.json
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

fix tests
  bluemira/codes/openmc/params.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

normalise total fusion power
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update PROCESS mappings
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update PROCESS mappings
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Update pyproject.toml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

eq arg
  bluemira/codes/openmc/solver.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

fix
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Change neutron source for OpenMC (#3979)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  bluemira/codes/wrapper.py
  bluemira/radiation_transport/neutronics/neutronics_axisymmetric.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
  pyproject.toml
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/repo-review

disable jit and modify config
  bluemira/equilibria/profiles.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

saving work
  eudemo/config/wall_boundary.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🎨 Rebase fixes
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/model_managers.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

added angled blanket wall cuts, still hard coding the angle
  eudemo/config/build_config.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

changed back to run mode
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

removed random stuff
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

rebased I think
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

reactor plot show argument
  bluemira/base/reactor.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/tsvv-14

more config to run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

not working loc method
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

put back run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

imports
  bluemira/equilibria/optimisation/problem/_nested_position.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

working point fragile
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

fix upper port height
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/maintenance/upper_port.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

debugging
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

need some more PROCESS mappings
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

urgh
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

l_i and tf mapper clipping change
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

some progress on EOF
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

minor
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🚨 Linter updates
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/model_managers.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
