Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

add eudeom params
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix tests
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update interface parameters
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

params
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

updated PROCESS var name
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

change dep
  bluemira/codes/process/mapping.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

Beta_p approximation caution (#4090)
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/physics.py
  bluemira/equilibria/profiles.py
  examples/equilibria/eudemo_2017.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add explanation for future debugging
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update docstrings for Matti's functions Make plasma_mask a keyword-only argument to avoid ruff errors
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

missed contol_coil() added
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix/improve TH constraint formulation (#6)
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

adding notebooks for ease of rebase
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

function to reduce repetition
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Use brute force for harmonic selection (constraint fns unmodified)
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

update optimisation nb to work with the brute_force fn. removed the descriptive text, will add back in later on for merging
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Deleting notebooks for ease of rebase
  examples/equilibria/TH_minimal_current_trial.py
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

update tests
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove the max_error_value arg from toroidal_harmonics_approximation function
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Fix tau limit grid setup, change z_0 -> Z_0 in toroidal coord transform fns
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/utilities/tools.py
  tests/utilities/test_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/utilities-review

delete out of date notebook
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add collocation and psi fitting
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

remove notebook that was accidentally pushed
  examples/equilibria/data_needed_for_tests.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fixing tests
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove order/degree references and change to correctly referencing as the mode number
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

target changes
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Add back use of grid and coil setup fn to calc th_params if they are None
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Mattis work from PR on fork-bluemira: main changes are simplification of harmonic finding function and output class
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/equilibria/optimisation/objectives.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix toroidal -> poloidal where necessary minor tweaks to docstrings
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add legendre_q tests for if/else block
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

changes from georgie on teams, and adding minimal current th example notebook
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/TH_minimal_current_trial.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Update notebook
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add plot to notebook to show constrained region
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

change z_0 to Z_0
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  documentation/source/utilities/utilities.rst
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

minor changes
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

changes degrees -> modes in th tests (note: tests still failing here, will be passing in next commit)
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Brute force working, initial push up to end of day on 4th aug. one test failing. no optimisation
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Replace tolerance with relative tolerance, remove eq modification within TH set up, add TODO for test
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

return correction
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Remove lasso/optimisation method and unused plotting fn from toroidal_harmonics_approximation.py. Remove references in __init__. Remove lasso and ols TH fns from objectives.py
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/equilibria/optimisation/objectives.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
