Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

legQ edits to fix test
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

work up until midday 7th aug - committing before moving back to toroidal-harmonics-constraints branch to tidy up before release
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/data_needed_for_tests.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

allow plotting with collocation
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add collocation
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

add optimisation version of toroidal_harmonics_approximation from optimisation branch into brute force branch to allow comparison
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/equilibria/optimisation/objectives.py
  examples/equilibria/TH_minimal_current_trial.py
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fixing ci docs test failures
  documentation/source/examples.rst
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/equilibria-review

fix plotting in th constraint
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Split out psi comparison vs current fns for approximating coilset psi
  bluemira/equilibria/optimisation/harmonics/__init__.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

correction
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

use PAT in dependabot_helper to safely re-trigger ci without recursion
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

use PAT in dependabot_helper to safely re-trigger ci without recursion (#4108)
  .github/workflows/dependabot_helper.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Updated transient dependencies (#4097)
  requirements/uv/all.txt
  requirements/uv/base.txt
  requirements/uv/develop.txt
  requirements/uv/examples.txt
Owners: @Fusion-Power-Plant-Framework/tsvv-14

create temp dir if generate_data doesn't exist
  bluemira/base/file.py
Owners: @Fusion-Power-Plant-Framework/base-review

avoid circular import of bluemira_print
  bluemira/base/file.py
Owners: @Fusion-Power-Plant-Framework/base-review

fix tests by only creating tmp dir for generated_data
  bluemira/base/file.py
Owners: @Fusion-Power-Plant-Framework/base-review

add pytest for new selection statement
  tests/base/test_file.py
Owners: @Fusion-Power-Plant-Framework/base-review

Toroidal Harmonics Brute Force (#4035)
  bluemira/equilibria/optimisation/harmonics/harmonics_constraint_functions.py
  bluemira/equilibria/optimisation/harmonics/harmonics_constraints.py
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  bluemira/utilities/tools.py
  documentation/source/examples.rst
  documentation/source/utilities/utilities.rst
  examples/equilibria/Toroidal_Approximation_Explained.ex.py
  examples/equilibria/Toroidal_Harmonics_Optimisation_Set_Up.ex.py
  tests/equilibria/test_harmonics.py
  tests/utilities/test_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/tsvv-14

update structural/finite_element for 360 2D models
  3d-bar.msh
  3d-barr.msh
  bluemira/structural/finite_element.py
  examples/structural/plane_strain_360_LEA.py
  examples/structural/plane_strain_360_LEA_2D_example.ex.py
  examples/structural/poly16b.pvd
Owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/structural-review

update structural/finite_element for 360 2D models
  examples/structural/3D_LEA-WP.py
  examples/structural/Gen_plane_strain_LEA-WP.py
  examples/structural/plane_strain_LEA-WP.py
Owners: @Fusion-Power-Plant-Framework/structural-review

Use temp dir over generated_data to enable pip install (#4109)
  bluemira/base/file.py
  tests/base/test_file.py
Owners: @Fusion-Power-Plant-Framework/base-review

⬆️ Get ready for PROCESS v3.2.1
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

🐛 allow for no f-value procoess files
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/template_builder.py
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🚧 Private data branch
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

improving structural examples
  examples/mesh/mesh_tutorial.ex.py
  examples/structural/plain_strain_LEA_2D_example.ex.py
Owners: @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/structural-review

🐛 add missing switch to process inputs
  bluemira/codes/process/_inputs.py
Owners: @Fusion-Power-Plant-Framework/codes-review

🐛 incorrect units in variable name
  bluemira/codes/process/_inputs.py
  examples/data/codes/process/ST_IN.DAT
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Allow for PROCESS to be used with equality constraints (#4114)
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/template_builder.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

fixes to vertical stability file
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fixes to inductance matrix
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

PROCESS #3847
  bluemira/codes/process/_inputs.py
Owners: @Fusion-Power-Plant-Framework/codes-review

PROCESS #3882
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  eudemo/eudemo/radial_build.py
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

neqns fix
  bluemira/codes/process/template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review

PROCESS #3863 dene -> nd_plasma_electrons_vol_avg -> nd_plasma_electrons_vol_avg fix
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  eudemo/eudemo/radial_build.py
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Revert CI branches
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
Owners: @Fusion-Power-Plant-Framework/repo-review

Process v3.2.1 Version API changes (#4100)
  .github/workflows/actions/build/action.yml
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  bluemira/codes/process/_inputs.py
  bluemira/codes/process/equation_variable_mapping.py
  bluemira/codes/process/mapping.py
  bluemira/codes/process/model_mapping.py
  bluemira/codes/process/template_builder.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo_tests/template.json
  examples/codes/run_process_example.ex.py
  examples/data/codes/process/ST_IN.DAT
  pyproject.toml
  tests/codes/process/test_data/IN.DAT
  tests/codes/process/test_data/mfile_data.json
  tests/codes/process/test_template_builder.py
Owners: @Fusion-Power-Plant-Framework/repo-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

revert example changes.
  examples/radiation_transport/run_cad_neutronics.ex.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Forced all units to be saved correctly as soon as PlasmaSourceParameters is created (as a frozen dataclass) from a parameter frame. (These units are detailed in PlasmaSourceParameters._unit)
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

Added the 'enabled' parameter in the eudemo/config/build_config.json
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

add PROCESS mappings
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add EUDEMO params
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
