Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

pause
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

pause
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix tests
  bluemira/equilibria/optimisation/harmonics/toroidal_harmonics_approx_functions.py
  tests/equilibria/test_harmonics.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

Extended test to single null
  tests/radiation_transport/test_radiation_profile.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Fixed plotting for both single null and double-null
  bluemira/radiation_transport/radiation_profile.py
  examples/radiation_transport/radiation_calculation_solver_DEMO.ex.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

Used the correct params and config values for single-null, but haven't changed the reference values in the tests yet.
  tests/radiation_transport/test_radiation_profile.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

bounding box misbehaving
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

bounding box misbehaving
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

bounding box misbehaving
  bluemira/geometry/tools.py
  eudemo/config/build_config.json
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

Attempt to begin regression test on the single-null case
  tests/radiation_transport/test_radiation_profile.py
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review

TF coil variants
  bluemira/geometry/parameterisations.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/pf_coils/component_manager.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

TF coil variants
  bluemira/geometry/parameterisations.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/pf_coils/component_manager.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

TF coil variants
  bluemira/geometry/parameterisations.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/pf_coils/component_manager.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/tsvv-14

minor
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

minor
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

minor
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

✨ Rzip
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Coil resistance
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Differential greens functions
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plasma.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

✨ Rzip
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✅ Greens dB tests
  tests/equilibria/test_coils.py
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

fixes to vertical stability file
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✅ Test grid step
  bluemira/equilibria/grid.py
  tests/equilibria/test_grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Resistance fix
  bluemira/equilibria/coils/_grouping.py
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Coil resistance
  bluemira/equilibria/coils/_coil.py
  bluemira/equilibria/coils/_grouping.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✅ Test grid step
  bluemira/equilibria/grid.py
  tests/equilibria/test_grid.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

changes to how with_quadratures part of inductance matrix calculates the n_turns of a coilset to more robustly work for different scenarios with simple test added to check shape of output
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🎨 Coilset and equilibria small fixes
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plotting.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Inductance additions
  bluemira/equilibria/coils/_tools.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

✅ Greens dB tests
  tests/equilibria/test_coils.py
  tests/magnetostatics/test_greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

🐛 Resistance fix
  bluemira/equilibria/coils/_grouping.py
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

♻️ Cleanup
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fixes to inductance matrix
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Fix dbzdx
  bluemira/equilibria/coils/_grouping.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

changes to how with_quadratures part of inductance matrix calculates the n_turns of a coilset to more robustly work for different scenarios with simple test added to check shape of output
  bluemira/equilibria/coils/_tools.py
  bluemira/equilibria/vertical_stability.py
  tests/equilibria/test_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

✨ Differential greens functions
  bluemira/equilibria/coils/_field.py
  bluemira/equilibria/equilibrium.py
  bluemira/equilibria/plasma.py
  bluemira/magnetostatics/greens.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/magnetostatics-review

fixes to vertical stability file
  bluemira/equilibria/vertical_stability.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fixes to inductance matrix
  bluemira/equilibria/coils/_tools.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🎨 Coilset and equilibria small fixes
  bluemira/equilibria/coils/_grouping.py
  bluemira/equilibria/grid.py
  bluemira/equilibria/plotting.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
