Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review

some progress on EOF
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix RB
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/run.py
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/radial_build.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

removed random stuff
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

removed wall_bndry.json
  eudemo/config/wall_boundary.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

l_i and tf mapper clipping change
  eudemo/config/build_config.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

i am so sorry
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

rebased I think
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

need some more PROCESS mappings
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🚨 Linter updates
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/model_managers.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Fix tests
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

undo hack
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

🐛 Use ureg as set_application_registry doesnt seem to work
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

🚨 Linter
  bluemira/radiation_transport/neutronics/constants.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

better error message
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

🐛 Use ureg as set_application_registry doesnt seem to work
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

🚨 Linter
  bluemira/radiation_transport/neutronics/constants.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

LAR fix neutronics radii (#4116)
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

fix power cycle test half fix
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo_tests/test_power_cycle.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Use ureg as set_application_registry doesnt seem to work
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

LAR fix neutronics radii (#4116)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

ruff
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

🚨 Linter
  bluemira/radiation_transport/neutronics/constants.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

ruff
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

LAR fix neutronics radii (#4116)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

fix power cycle test half fix
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo_tests/test_power_cycle.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix power cycle test half fix
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo_tests/test_power_cycle.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

🐛 Use ureg as set_application_registry doesnt seem to work
  bluemira/base/parameter_frame/_frame.py
  bluemira/base/parameter_frame/_parameter.py
Owners: @Fusion-Power-Plant-Framework/base-review

better error message
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

LAR fix neutronics radii (#4116)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/params.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  eudemo/eudemo/neutronics/run.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/material.py
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/tallying.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

ruff
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

ruff
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Created the correct tally for total power. (#4037)
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/blanket_data.py
  bluemira/radiation_transport/neutronics/constants.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review

better error message
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review

fix power cycle test half fix
  eudemo/eudemo/power_cycle.py
  eudemo/eudemo_tests/test_power_cycle.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

better error message
  bluemira/base/parameter_frame/_frame.py
Owners: @Fusion-Power-Plant-Framework/base-review
