Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

initial additions to tokamak_source
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added toka source
  examples/radiation_transport/run_cad_neutronics.ex.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/repo-review

Minor changes to remove unused variable in test_source_plot
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

added tests for sources and params.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added comments about what the expected units and values are - will be deleted in later commits.
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

add EUDEMO params
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update test params
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

Working parameter changes.
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update source params
  bluemira/codes/openmc/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Corrected the units for Shafranov shift.
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Added test for neutron source created from PlasmaParameters.
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Update bluemira/codes/openmc/sources.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

update source
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Import Error no longer needed, as openmc_plasma_source has been added as a dependency.
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

replace dependency
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

install right
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

use Equilibrium directly
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix tests
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix tests
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

undo read
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

fix up solver with Eq input
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/wrapper.py
  eudemo/config/build_config.json
  eudemo/eudemo/neutronics/run.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

params
  bluemira/codes/process/mapping.py
  bluemira/codes/process/params.py
  eudemo/eudemo/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

change dep
  bluemira/codes/process/mapping.py
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/repo-review

add eudeom params
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

TBR simplification
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  bluemira/codes/openmc/sources.py
  bluemira/codes/wrapper.py
Owners: @Fusion-Power-Plant-Framework/codes-review

scale and ruff
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix docs
  bluemira/codes/openmc/params.py
  bluemira/codes/process/params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

updated PROCESS var name
  bluemira/codes/process/mapping.py
Owners: @Fusion-Power-Plant-Framework/codes-review

pause for TNS OpenMC integration test
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

fix some tests
  tests/codes/process/test_data/params.json
Owners: @Fusion-Power-Plant-Framework/codes-review

use new source
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

remove warning
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/sources.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

remove double counting
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
Owners: @Fusion-Power-Plant-Framework/codes-review

params
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
  tests/codes/openmc/params.json
  tests/codes/openmc/test_source_params.py
Owners: @Fusion-Power-Plant-Framework/codes-review

switch to main
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

false
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

update interface parameters
  bluemira/codes/openmc/params.py
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

Update pyproject.toml
  pyproject.toml
Owners: @Fusion-Power-Plant-Framework/repo-review

ruff
  bluemira/codes/openmc/sources.py
Owners: @Fusion-Power-Plant-Framework/codes-review

ruff
  eudemo/eudemo/neutronics/run.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
