Repository Fusion-Power-Plant-Framework/bluemira, changes with the owners that CODEOWNERS names for each.
All owners: @Fusion-Power-Plant-Framework/tsvv-14, @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/builders-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/display-review, @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/fuel-cycle-review, @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/magnetostatics-review, @Fusion-Power-Plant-Framework/magnets-review, @Fusion-Power-Plant-Framework/materials-review, @Fusion-Power-Plant-Framework/mesh-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/structural-review, @Fusion-Power-Plant-Framework/utilities-review, @Fusion-Power-Plant-Framework/repo-review

first pass 0D
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review

first pass current bounding
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/run.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo_tests/maintenance/test_upper_port.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

urgh
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

angled targets
  eudemo/config/build_config.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

added angled blanket wall cuts, still hard coding the angle
  eudemo/config/build_config.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

blanket panelling and neutronic enabled
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

sorry
  eudemo/config/params.json
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

saving work
  eudemo/config/wall_boundary.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

decent ish EOF
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

debugging
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/blanket/designer.py
  eudemo/eudemo/ivc/__init__.py
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/wall_silhouette.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

changed back to run mode
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

first pass 0D
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review

reactor plot show argument
  bluemira/base/reactor.py
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/base-review, @Fusion-Power-Plant-Framework/tsvv-14

removed random stuff
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff stuff
  bluemira/codes/openmc/output.py
  bluemira/codes/openmc/solver.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/tsvv-14

removed random stuff
  eudemo/eudemo_tests/ivc/test_divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

hook up
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

more config to run
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

saving work
  eudemo/config/wall_boundary.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

remove newline in equilibria
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix dome and div cut
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/plasma_face.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

CSG neutrnics IO working
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

cant remember what I did sorry
  eudemo/config/build_config.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

first pass current bounding
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/run.py
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo_tests/maintenance/test_upper_port.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

fix total heating and pass in pfus
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/tsvv-14

first pass current bounding
  bluemira/equilibria/optimisation/problem/_nested_position.py
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

fix dome and div cut
  eudemo/eudemo/ivc/divertor_silhouette.py
  eudemo/eudemo/ivc/plasma_face.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

imports
  bluemira/equilibria/optimisation/problem/_nested_position.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

CSG neutrnics IO working
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/power_cycle.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

working point fragile
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/reactor.py
  eudemo/eudemo/tf_coils/tf_coils.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

first pass 0D
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review

pause
  bluemira/equilibria/run.py
  eudemo/config/build_config.json
  eudemo/config/params.json
Owners: @Fusion-Power-Plant-Framework/equilibria-review, @Fusion-Power-Plant-Framework/tsvv-14

fixes and add fraciton gfunction
  bluemira/balance_of_plant/steady_state.py
  bluemira/codes/openmc/output.py
  bluemira/plasma_physics/reactions.py
  bluemira/radiation_transport/neutronics/zero_d_neutronics.py
  eudemo/config/params.json
  eudemo/eudemo/params.py
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/power-cycle-review, @Fusion-Power-Plant-Framework/codes-review, @Fusion-Power-Plant-Framework/plasma-physics-review, @Fusion-Power-Plant-Framework/radiation-transport-review, @Fusion-Power-Plant-Framework/tsvv-14

put back isoflux
  eudemo/config/build_config.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/radial_build.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

undo hack
  bluemira/equilibria/run.py
Owners: @Fusion-Power-Plant-Framework/equilibria-review

urgh
  eudemo/eudemo/reactor.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

l_i and tf mapper clipping change
  eudemo/config/build_config.json
  eudemo/eudemo/pf_coils/designer.py
  eudemo/eudemo/pf_coils/tools.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

ruff
  eudemo/eudemo/ivc/divertor_silhouette.py
Owners: @Fusion-Power-Plant-Framework/tsvv-14

Enforced convexity of the first-wall panel break points by throwing away points not forming the convex hull.
  bluemira/geometry/tools.py
  bluemira/radiation_transport/neutronics/slicing.py
Owners: @Fusion-Power-Plant-Framework/geometry-review, @Fusion-Power-Plant-Framework/radiation-transport-review

CODEOWNERS:

# bluemira codeowners file

# All PRs need to be approved by at least 1 member of TSVV-14

*       @Fusion-Power-Plant-Framework/tsvv-14

# Module responsibility

*/balance_of_plant/ @Fusion-Power-Plant-Framework/power-cycle-review
*/base/ @Fusion-Power-Plant-Framework/base-review
*/builders/ @Fusion-Power-Plant-Framework/builders-review
*/codes/ @Fusion-Power-Plant-Framework/codes-review
*/display/ @Fusion-Power-Plant-Framework/display-review
*/equilibria/ @Fusion-Power-Plant-Framework/equilibria-review
*/fuel_cycle/ @Fusion-Power-Plant-Framework/fuel-cycle-review
*/geometry/ @Fusion-Power-Plant-Framework/geometry-review
*/magnetostatics/ @Fusion-Power-Plant-Framework/magnetostatics-review
*/magnets/ @Fusion-Power-Plant-Framework/magnets-review
*/materials/ @Fusion-Power-Plant-Framework/materials-review
*/mesh/ @Fusion-Power-Plant-Framework/mesh-review
*/plasma_physics/ @Fusion-Power-Plant-Framework/plasma-physics-review
*/radiation_transport/ @Fusion-Power-Plant-Framework/radiation-transport-review
*/structural/  @Fusion-Power-Plant-Framework/structural-review
*/utilities/  @Fusion-Power-Plant-Framework/utilities-review

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/repo-review
/.github/ @Fusion-Power-Plant-Framework/repo-review
/conda/ @Fusion-Power-Plant-Framework/repo-review
/conftest.py @Fusion-Power-Plant-Framework/repo-review
/LICENSE @Fusion-Power-Plant-Framework/repo-review
/pyproject.toml @Fusion-Power-Plant-Framework/repo-review
/requirements/* @Fusion-Power-Plant-Framework/repo-review
/scripts/ @Fusion-Power-Plant-Framework/repo-review
